[2019-12-06 10:37] fepegar opened #1 "Should the affine be changed after applying affine transforms?"

[2019-12-06 17:36] fepegar opened #3 "Add bias field transform"

[2019-12-06 17:36] fepegar opened #4 "Add random elastic transform"

[2019-12-06 17:36] fepegar opened #5 "Add weighted sampler"

[2019-12-06 17:37] fepegar opened #6 "Improve label sampler efficiency"

[2019-12-06 17:49] fepegar opened #7 "Add badges"

[2019-12-06 18:58] fepegar opened #8 "Add visualization utils"

[2019-12-06 21:13] fepegar opened #9 "Should ImagesDataset return torch tensors?"

[2019-12-11 08:30] fepegar opened #12 "Add support for multiple and missing modalities"

[2019-12-12 19:36] fepegar commented on #12
Idea:

[code]

And then
[code]

[2019-12-12 19:36] fepegar commented on #12
@romainVala

[2019-12-13 08:12] romainVala commented on #12
yes sound good, I see the point
may be the code could understand the 2 possibles data structure, (just by testing if subject_1['image'] is a dict, so that for the case of single modality one could stay with the previous simpler definition.
but we can also force the user to use this description.... as you want

[2019-12-13 08:23] romainVala commented on #12
Actually an other possibility is to just use on "dictionary" level but with specific keyword: (containing the "image" string)
for instance:
suj1={
    'image_1' : path,
   'image_2' : path,
   'label' : path,}

the in the code, you can do something like
image_keys = [ll for ll in batch if 'image' in ll]
all_images = [batch[ik].squeeze()  for ik  in image_keys]
model_input = np.stack( all_images)

[2019-12-13 08:31] romainVala commented on #12
Actually I need something very similar for the label definition. In the case I want to learn from probability labels (and not binairy ones) I need to have the label concatenate in the channel dimension

this is what I added in the __getitem__ from ImagesDataset :
after line 56 (when the sample dict is filled)

        label_name = [kk for kk in sample if ('label' in kk) ]
        if len(label_name

[2019-12-13 09:12] romainVala commented on #9
for viewing, (saving) purpose it is find to stay with numpy
and when we use pytorch Dataloader, it convert automatically to tensors, so there is no explicit needs ... ?

[2019-12-15 13:31] fepegar opened #14 "Add an option to shuffle the queue after filling it"

[2019-12-16 07:31] romainVala commented on #14
Well very easy to do : one just need to add

            shuffle(self.patches_list)

at the end of the fill method. currently shuffle_dataset is only shuffeling the dataset, should we use an other parameter to decide wether or not to shuffle the patches within the queue ?

[2019-12-16 09:36] fepegar commented on #14
I know it's very simple, I just haven't had time for it :)
I think it's nice to use a new parameter for it, yes. I'd say we rename `shuffle_dataset` to `shuffle_subjects` and we add a new `shuffle_queue`, which is `True` by default.

[2019-12-16 09:57] romainVala commented on #14
sound goods,
may be shuffle_patches
(to stay in line with shuffle_subjects)

[2019-12-16 09:57] fepegar commented on #14
Good idea.

[2019-12-19 11:08] #14 closed

[2019-12-19 11:08] fepegar commented on #9
I suppose.

[2019-12-19 11:08] #9 closed

[2019-12-19 20:14] fepegar opened #16 "Apply affine transform to all images simultaneously"

[2019-12-19 20:15] fepegar opened #17 "Group random parameters in sample dictionary"

[2019-12-21 00:02] #12 closed

[2019-12-21 00:05] fepegar commented on #12
I ended up using this design: https://github.com/fepegar/torchio/blob/master/examples/example_multimodal.py#L37-L54

I think it's clear, generic and not too hard-coded. Please let me know what you think.

[2019-12-21 00:19] fepegar opened #18 "Add unit tests"

[2019-12-27 11:31] fepegar opened #19 "Add MRI k-Space Motion Artefact Augmentation"
[Shaw et al., 2019](http://proceedings.mlr.press/v102/shaw19a.html).

[2019-12-29 21:56] #19 closed

[2019-12-30 01:11] fepegar commented on #4
Added in dd6fc581f3c9abfa400948410f13000781ade937

[2019-12-30 01:11] #4 closed

[2020-01-01 20:35] fepegar commented on #3
Resolved in 26ebc053a9ae3cc60dda70c30f82a072ac0216a7.

[2020-01-01 20:35] #3 closed

[2020-01-06 11:57] fepegar opened #21 "Add docstrings"

[2020-01-06 17:03] edgarriba commented on #16
hi @fepegar nice project! For such feature you could implement kornia since we already have an interface for a batch and differentiable affine transform

[2020-01-06 17:23] fepegar opened #22 "Add support for 2D images"

[2020-01-06 19:20] fepegar opened #23 "Add support for CUDA FFT and resampling"
https://www.idtools.com.au/gpu-accelerated-fft-compatible-numpy/
https://github.com/NifTK/NiftyNet/commit/382ed490361e4ac67d141f296e37525604c0a24b

[2020-01-06 19:55] fepegar commented on #16
Hi @edgarriba, thanks! [`kornia`](https://github.com/kornia/kornia) looks great, but I don't think a differentiable operation is needed here. I was rather thinking about using SimpleITK to create a multimodal/vector image and [resample](https://itk.org/ITKExamples/src/Filtering/ImageGrid/ResampleAVectorImage/Documentation.html) it in one go.

[2020-01-06 21:04] edgarriba commented on #16
I see. In case you plan to implement other backends other than SimpleITK just let us know. Would love to see kornia as part of a medical image analysis framework like yours. I guess you might also have differentiable stuff in mind that could be interesting for both frameworks.

[2020-01-06 21:26] fepegar commented on #16
I'll keep that in mind!

[2020-01-06 23:22] deepnarainsingh commented on #22
Hi @fepegar ,

Great work , could you please provide the details for this requirement , would like to contribute.

[2020-01-06 23:30] fepegar commented on #22
Hi @deepnarainsingh,

Thanks for your interest!

I suppose there are multiple issues about this:
1. Adapting the `io` module to read and write common 2D formats such as JPEG or PNG
2. Thinking whether 2D images should be treated as 3D images with depth 1 or actually remove dimension
3. Make sure all transforms work as expected for 2D inputs

You can start by forking the repo, adding a branch named

[2020-01-07 06:27] deepnarainsingh commented on #22
Thanks for the details @fepegar .
I will go through the code and check .

[2020-01-07 08:06] romainVala opened #24 "understanding the input format"
Hi there

Just a small issue in order to fully understand the input format logic
I see in torchio.py that you define 3 data type : Intensity, label and sampling_map
what is the implication of choosing one of those ?

Why in your example_multimodal.py do you define one_subject_dict with a 'label' which has type=torchio.INTENSITY ? (why not torchio.LABEL ?)

many thanks

[2020-01-07 10:16] romainVala opened #25 "save_sample from ImagesDataset"
When using the save_sample method from ImagesDataset
the nifti have a wrong dimention one should change

            tensor = sample[key]['data']
by

            tensor = sample[key]['data'].squeeze()

Not sure if this is the rigth place for this function, why not put it directly in io.py ?

[2020-01-07 10:51] #25 closed

[2020-01-07 10:52] fepegar commented on #25
You're right that there was one dimension too many. I haven't put that one in `io` because I'd like to keep that module lower level, and this method is coupled with the dict format generated by `ImagesDataset`. Thanks!

[2020-01-07 10:59] fepegar commented on #24
It's true that the function of the `type` value in the image dict is not clear from the examples. And yes, the type in the example should be `LABEL`.

For now, I mostly use the type to decide whether to apply or not a transform or to choose an interpolation mode. For example, `RandomAffine` is applied to all images, but if the `type` is `LABEL`, [the interpolation is set to nearest neighbor](https

[2020-01-07 11:01] fepegar commented on #24
Example fixed in cca18308babe985e520ef24c59cb5ab7a83ff9f6.

[2020-01-07 11:02] fepegar commented on #1
Probably a bad idea to mess with it.

[2020-01-07 11:33] fepegar opened #26 "Stop modifying input in transforms"

[2020-01-07 11:45] fepegar opened #27 "Create Image class for ImageDataset"
Related to #24

[2020-01-07 11:47] romainVala commented on #24
Ok I see the point, and it makes more sense than the previous solution which was relying on the keywork name

About a Subject class, I am not sure if it is necessary. The ImgeDataset is taking as input a  subject_list (which is self explicit)

So now it is the users duty to construct correctly this subject_list. Since it is so much dependent on how you organize your files, I will let it like that

[2020-01-07 11:48] romainVala commented on #26
I do not understand, transform is done to modify the inputs ???

[2020-01-07 12:27] fepegar commented on #26
Some of the transforms (most?) modify the input sample, which is probably not desirable. Ideally, if one does `sample_transformed = transform(sample)`, the variable `sample` should remain intact.

[2020-01-07 12:30] fepegar opened #28 "Random motion is applied to label image"
@romainVala reported this in #24

[2020-01-07 12:32] #28 closed

[2020-01-07 12:34] fepegar commented on #24
Thanks for reporting that.

Maybe a `Subject` class is not necessary, but an `Image` one might be useful to validate that the `path` and `type` are correct. This format would be dropped when reading the file in `ImagesDataset`, so that only dicts are passed between transforms.

[2020-01-07 20:06] fepegar opened #29 "Attempting to set a non-orthogonal rotation matrix"
This happens sometimes. I need to figure out how to reproduce this error.

[code]

[2020-01-07 21:03] #29 closed

[2020-01-08 09:58] fepegar opened #30 "Add Resample transform"

[2020-01-08 11:15] fepegar opened #31 "Write functions to switch from NiBabel and SimpleITK without writing to disk"

[2020-01-08 11:16] fepegar commented on #7
Added in dc5cbce1467270f2fcf75b6c2d1c8ab988b65097 and

[2020-01-08 11:16] #7 closed

[2020-01-08 11:36] romainVala opened #32 "errro in random_bias_field.py"
Hello
I get the following error when I try to apply the bias_field

[code]

if I change the corresponding  line with
[code]
it pass,
very strange I do not understand why ...

[2020-01-08 11:49] fepegar commented on #32
I'm not sure why this happens either. I was having this error yesterday in some other in-place tensor operation and it's indeed solved like that. I'll fix it.

I think it's related to the warning here: https://pytorch.org/docs/stable/tensors.html#torch.Tensor.expand

[2020-01-08 11:51] #32 closed

[2020-01-08 11:51] fepegar commented on #32
Thanks, @romainVala

[2020-01-08 11:54] fepegar commented on #32
I think I was getting the error [here](https://github.com/fepegar/torchio/commit/9ca546aea33638933e401ce8d54f46628e5d4398#diff-952d33516c3f8cf1d45c1f9ac1df431fR26-R28) and [here](https://github.com/fepegar/torchio/commit/bf60d5d403b794e0dcf6853e10157cedaf54604a).

[2020-01-09 01:34] #27 closed

[2020-01-09 09:30] romainVala commented on #26
Ok, it seems indeed a good idea, and easy to modify
Not sure if it worth a PR,
here are the changes I made for random_motion

-    def apply_transform(self, sample):
+    def apply_transform(self, sample_orig):
+        from copy import deepcopy
+        sample = deepcopy(sample_orig)

(since you have list of list, a simple sample_orig.copy() is not enough !)

[2020-01-09 09:57] romainVala opened #34 "compose augmentation with given probabilitie"
I may be a good feature to add, if we can compose augmentation in a similar way as

https://albumentations.readthedocs.io/en/latest/probabilities.html#oneof-block

this make it very modular

[2020-01-09 10:02] romainVala commented on #34
all is done there :
https://github.com/albumentations-team/albumentations/blob/master/albumentations/core/composition.py

...

[2020-01-09 10:53] fepegar commented on #26
I suppose that's the simplest solution for all the transforms. Are there any obvious disadvantages of deepcopying the whole sample every time a transform is applied? Time? Memory?

We would need a unit test that checks that everything that is in the original sample is untouched after the transform, so a PR is definitely worth it.

[2020-01-09 11:03] fepegar commented on #34
All contributions are welcome!

[2020-01-09 11:32] romainVala commented on #26
for the classical augmentation point of view, the data is transform, and there is no need to keep the original input (it is replace any way). so we should make this deepcopy only if realy needed

So may be it should be an option within the __init__ with something like Keep_original_sample_unchanged which is by default False

I am not very use to unit test, ... so I will let you do it ...

[2020-01-09 11:34] fepegar commented on #26
Is this a priority anyway? Does it affect you at the moment?

[2020-01-09 11:35] romainVala commented on #26
not yet

[2020-01-09 13:20] fepegar opened #35 "Assert that all images in subject list have different names"

[2020-01-09 14:02] romainVala opened #36 "write sfrom and qform"
I notice that you set (in _write_nifti in io.py)

    nii.header['sform_code'] = 0

It is more robust (for other software) to set both sform and qform. I would prefer to have

    nii.header['sform_code'] = 1

this will save both sfrom and qform (to the same value)

[2020-01-09 15:34] fepegar commented on #35
This is needed due to #33

[2020-01-09 15:46] fepegar commented on #36
For which software? ITK saves images like this by default and I've had trouble before due to qform and sform being different, and for example NiftyReg and Slicer using one or the other as default.

[2020-01-09 15:57] fepegar opened #37 "Wrong intensity when RandomMotion is applied after ZNormalization"
To reproduce:

[code]

@romainVala do you know why this could be? I'm probably missing some theory about the Fourier transform.

[2020-01-09 20:33] #35 closed

[2020-01-09 21:20] fepegar commented on #37
Actually this is expected because of this line: https://github.com/fepegar/torchio/blob/master/torchio/transforms/random_motion.py#L216.

I'm not sure it's the best approach.

[2020-01-10 08:36] romainVala commented on #37
Hi
Ok I see, MRI is a complex number but we always take the abs value.
I am not sure why this is so, but with normal acquisition we do not have negative number. So here after the ZNormalization you end up with negative number which are turn to positive after the abs operation donne after the inverse fft

You could change this line L216 to take the real part, but it is not the way the acquisition w

[2020-01-10 09:06] romainVala commented on #37
Not realated, but I look closer to the znormalization and I do not understand the rational to compute the mean on the mask build for pixel above the mean ...

[2020-01-10 09:08] fepegar commented on #37
I agree. What about emitting a warning if there are negative values in the
input?

On Fri, 10 Jan 2020, 08:36 valabregue, <notifications@github.com> wrote:

[2020-01-10 09:24] romainVala commented on #36
Well I do not remember, but I notice some problem in the past with data having only one of the sform and qform set

To have 2 transform in the nifty header is probably the worst idea for this format, and it confuse a lot and it is source of hidden bugs. So the best way to avoid confusion is to always set the both to the identical affine.

My point is that I do not see any argument for not setting

[2020-01-10 09:32] romainVala commented on #37
yes good idea, since it can easily happen as you find out ...

add a warning, something like that :
Warning input volume has  negative value. Using motion simulation will end up with only positive value, due to the abs value use after inverse fft

[2020-01-10 10:05] romainVala opened #38 "Possibility to use external mask when masking function"
For some Transform : histogram_standardization rescale z_normalization there may be an interest to use a mask (just to compute percentyl or min max values) then the transform is apply to the all images

This is possible with histogram_standardization (and we should add the option with rescale)

My point is that a masking_function is not an easy job, and I do prefer to use mask compute independentl

[2020-01-10 19:07] fepegar commented on #36
I've had trouble when only the **`sform`** is set. Using only the `qform` and setting the `sform_code` to 0 ensures that there's a unique, valid, rigid transformation in the header.

This is not necessarily true: https://nipy.org/nibabel/nifti_images.html#choosing-the-image-affine
It depends on the `sform_code` and `qform_code`. The system I implemented here is the one used by default in ITK.

Any

[2020-01-10 19:08] fepegar commented on #38
I agree that more flexibility is needed for this. The current implementation inherits some issues from NiftyNet. I'll work on this soon.

[2020-01-11 11:06] #37 closed

[2020-01-13 08:54] romainVala commented on #36
As you want, your solution is correct, and coherent within torchio.

(I'll just change the corresponding line, in my fork, it is not a big deal

[2020-01-13 09:22] #36 closed

[2020-01-13 09:23] fepegar commented on #36
Out of curiosity: are you using the `ImagesDataset.save_sample` method? I thought it wouldn't be used often. I mostly use it for developing purposes.

[2020-01-13 09:27] fepegar commented on #26
Closing for now, will reopen if it becomes a real issue.

[2020-01-13 09:41] romainVala commented on #36
Well to be honest, for now I just play around with transform, and I still did not start using it for training a network (it will come soon)
I am afraid, some transformation will take too much times, (motion elastic deformation can takes several second, so compositions will become around 10 seconds.

I am still not sure yet, but one solution would be to perform all augmentation once and write them

[2020-01-13 09:47] romainVala commented on #36
but an other useful use will be when you want to set the transform parameters, you need to perform them and look at saved transform

So I find this is a very important and useful function

[2020-01-13 09:48] fepegar commented on #36
I'm training on an NVIDIA DGX with 40 cores, so I'm not too worried about that because everything is very parallel. Also, I'm not using the queue at the moment so the data loaders are nicely filled in the background continuously. I set `proportion_to_augment` to 0.1 for `RandomMotion` and `RandomElasticDeformation`, and 0.25 for `RandomBiasField`. Loading uncompressed files is also faster, if you

[2020-01-13 09:51] fepegar commented on #36
Good point. That's why I added the CLI tool:

[code]

It's still a work in progress, I need to adapt it so that it accepts the `kwargs` for the transform.

[2020-01-14 08:38] fepegar commented on #22
@deepnarainsingh What would be your use case?

[2020-01-14 10:14] #38 closed

[2020-01-14 18:48] ReubenDo opened #40 "Add image padding"
It can be useful to pad the images in the transform operations.
In particular, the current grid sampler ignore the borders of the full image, adding a padding of the size of the border could solve this problem (if consistent with training).

[2020-01-14 19:54] fepegar commented on #40
In this case, we probably need a `Crop` transform as well.

[2020-01-14 20:07] fepegar opened #41 "Rescale transform needs an input range"

[2020-01-14 20:11] fepegar opened #42 "Add Crop transform"

[2020-01-14 20:11] fepegar commented on #42
Related to #40

[2020-01-14 20:17] #40 closed

[2020-01-14 21:40] #42 closed

[2020-01-14 21:42] fepegar opened #45 "Add Resize transform"
Related to #30

[2020-01-14 21:42] fepegar opened #46 "Add Reorient transform"

[2020-01-14 23:35] fepegar commented on #30
See https://nipy.org/nibabel/reference/nibabel.processing.html#nibabel.processing.resample_to_output

[2020-01-15 00:30] fepegar opened #48 "Add antialiasing option to Resample and RandomAffine"
As in https://github.com/NifTK/NiftyNet/commit/a91644b881192fb68e7faabc2065129f09d5bdd5#diff-5b79901b7b2f56394aca30c562e9e186

[2020-01-15 00:34] #30 closed

[2020-01-15 13:46] fepegar commented on #1
May be a good idea for some other transforms like Pad and Crop. Resample already changes the affine.

[2020-01-16 10:38] romainVala opened #49 "NormalisationTransform has no attribute masking_method"
I get an error with
transfo = Compose(( Rescale(masking_method='mask', verbose=True),))

In the init of NormalizationTransform you use self.masking_method
but it is not assign

[2020-01-16 10:39] romainVala commented on #49
it is not assign if you use a strin as argument

[2020-01-16 10:50] #49 closed

[2020-01-16 10:50] fepegar commented on #49
Fixed in `v0.11.3`. Thanks, @romainVala

[2020-01-16 10:51] fepegar commented on #49
By the way,

1. Are you using `Rescale` for CT data?
2. You don't need to use `Compose` if you only have one transform

[2020-01-16 10:57] romainVala commented on #49
Ok pour Compose, (I though it was mandatory)

I do not work with CT data, I use rescale to have number between 0 and 1 (by the way I would change the default for out_min_max  0 1

Currently I do not undersand, why I get value between 1 and 3 instead of value between -1 1 ... (but it woks fine if I ask fo (0,1) ...

[2020-01-16 11:00] romainVala commented on #49
Instead of
        array -= self.out_min  # [out_min, out_max]
it should be
        array += self.out_min  # [out_min, out_max]

[2020-01-16 11:57] fepegar commented on #49
Thanks again! I definitely need to write some unit tests...

[2020-01-16 11:58] fepegar commented on #49
Is there a strong reason to choose (0, 1) over (-1, 1)?

[2020-01-16 11:59] fepegar commented on #49
I'd like to make this implementation look more like https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/exposure.py#L269

[2020-01-16 11:59] fepegar commented on #41
See https://github.com/scikit-image/scikit-image/blob/master/skimage/exposure/exposure.py#L269

[2020-01-16 13:04] romainVala commented on #49
I do not know if it makes a difference from a CNN point of view. ... ?

It is just that mri is usually always positive (see https://github.com/fepegar/torchio/issues/37#issuecomment-572929791)

Other point may be, after masking you usually get voxel value to zero in the background, so normalizing to -1 1 will break it ...

but not a big deal it is just the default value, easy to change

[2020-01-16 17:26] tobiashepp opened #50 "Label image sampler"
Hi fernando,

I recently switched from tf to pytorch and I was really happy to find your library.
Great work! Thanks.

- I added a more efficient image sampler to sample random patches which should contain
at least one point of a specific label.
https://github.com/lab-midas/midas-torchio/blob/dev_tobias/torchio/data/sampler/label.py
(code and examples are still a bit messy, I will work on this the

[2020-01-16 17:38] fepegar commented on #50
Hi @tobiashepp

That's great! I'm glad you're finding it useful. Please don't hesitate to post more feedback or issues here.

It would be amazing to include your sampler here if you think it's worth it. You can create a PR whenever you're ready and I'll review it.

Someone told me about that bug when the patch size is the same as the image. I'll create an issue. Thanks for reporting!

[2020-01-16 17:38] fepegar opened #51 "Error when patch size and image size are the same in ImageSampler"
Reported in #50.

[2020-01-17 00:57] #51 closed

[2020-01-20 22:19] #46 closed

[2020-01-20 23:07] #31 closed

[2020-01-21 11:17] fepegar opened #52 "Add more docs for Queue"

[2020-01-21 11:17] fepegar opened #53 "Add RandomCrop transform"
Related to #22

[2020-01-21 11:30] fepegar opened #54 "Add exclude/include parameters to transforms kwargs"
Use case: loading an MRI and CT from the same patients. We probably want very different transforms for each image, but we still want them to happen in the same parallel process.

[2020-01-21 12:05] fepegar opened #55 "Add typing hints"

[2020-01-21 12:05] fepegar opened #56 "Add 3D Slicer module"

[2020-01-21 16:34] fepegar commented on #53
This can actually be achieved using an `ImageSampler`:
https://github.com/fepegar/torchio/blob/6080a6fd2793244e5552414c4a0de6cb328c75be/torchio/data/sampler/sampler.py#L12-L15

[2020-01-21 16:34] #53 closed

[2020-01-21 18:00] fepegar opened #57 "Add CenterCropOrPad transform"
This is useful when images in the dataset have different sizes.

See [TensorFlow](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/image/resize_with_crop_or_pad) and [PyTorch](https://pytorch.org/docs/stable/_modules/torchvision/transforms/transforms.html#RandomCrop) implementations.

[2020-01-21 18:06] fepegar opened #58 "Add __repr__ to all classes"

[2020-01-21 19:08] #57 closed

[2020-01-22 00:20] fepegar commented on #16
This doesn't look like a good idea (with `SimpleITK`):

[code]

[2020-01-22 00:20] #16 closed

[2020-01-22 17:37] sairampillai commented on #48
Hey @fepegar. I would like to contribute. Would this be a good issue to start with? Any other details regarding this issue?

[2020-01-22 17:45] fepegar commented on #48
Hi @sairampillai. Thanks for your interest!
Yes, this might be a good one. I had in mind something like what I did for NiftyNet:

https://github.com/NifTK/NiftyNet/blob/7421b013e5d7852f2eab1861de0bc768995ec82b/niftynet/layer/rand_spatial_scaling.py#L67-L73

You can start by
1. Fork this repo
2. Create a branch `48-add-antialiasing` on the fork
3. Commit your changes to that branch
4. Submit a pull

[2020-01-22 17:46] fepegar opened #76 "Include all transforms in notebook"

[2020-01-23 10:58] #1 closed

[2020-01-30 09:03] fepegar opened #77 "File is lost when overwriting without changes"
[code]

And `/tmp/t1_ras.nii` gets corrupted.

This is an issue with NiBabel: https://github.com/nipy/nibabel/issues/492

[2020-01-30 09:05] #77 closed

[2020-02-06 11:29] fepegar opened #78 "Use better issue templates"

[2020-02-06 11:29] fepegar opened #79 "Add testing dataset"

[2020-02-08 23:07] #55 closed

[2020-02-12 08:47] fepegar opened #81 "Randomize k-space filling axis in RandomMotion"

[2020-02-12 10:52] fepegar opened #82 "Generalize io module"
Code to write NRRD files is missing:
https://github.com/fepegar/torchio/blob/128895a88cdb1165f8b8533e11835a6b1db12b8c/torchio/data/io.py#L83-L88

[2020-02-12 16:11] bcdarwin opened #83 "incorrect queue fill warning message"
**Describe the bug**
A clear and concise description of what the bug is.

The warning printed at

https://github.com/fepegar/torchio/blob/master/torchio/data/queue.py#L81

doesn't match the arithmetic done above (the arguments to `%` are reversed).

[2020-02-12 16:16] #83 closed

[2020-02-12 16:17] fepegar commented on #83
Good catch. Thanks!

[2020-02-17 16:16] csudre opened #84 "Incompatibility with Image and ImageDraw from PIL"
**Describe the bug**
As Image is a module of PIL, loading Image from PIL leads to unexpected behaviours when defining objects of class Image (as defined in torchio)

**Expected behavior**
Modify the name of the class and or write a warning relative to the simultaneous use of PIL

[2020-02-17 16:23] fepegar commented on #84
In that case, I suggest using `import torchio` and `torchio.Image` instead of `from torchio import Image`.

[2020-02-19 09:09] romainVala opened #85 "understanding RandomMotion"
Hello
I would like to understand what is the rational behind the demean of the affine transforms.

If I understand correctly you divide each affine by the weighted mean of the affine.
(where the weighted correspond to the time duration the object is in the possition given by the affine)

thanks

[2020-02-19 12:45] ricshaw commented on #85
Hello,

The rationale behind demeaning the affine transforms is that we want the position of the brain to be in roughly the same position as the segmentation label, i.e. we don't want the brain to move when applying the motion artefact. Therefore, when applying a random sequence of motions, we have to undo the geometric mean by dividing by the weighted average transform.

However, the weight shoul

[2020-02-19 16:39] romainVala commented on #85
Thanks for the explanation.
but as you point,  it is not clear what should be the right weight. (taking into account the frequencies), and I am not sure there are some theoretical explanation ...

I did a simple experience with adding only one motion at different moment of the k space (with a simplified code that do not include neither demean nor sort_spectra).
for instance with variing position 0

[2020-02-19 16:55] romainVala commented on #85
I still do not fully understand, but to make thing more concrete here is an example
of one translation happening at 0.48 (ie just before kspace)
here is the result

![screenshot0001](https://user-images.githubusercontent.com/5611962/74854483-ae44a200-533f-11ea-933d-daed89ff20ff.png)

there is no global motion
if I remove the sort
![screenshot0002](https://user-images.githubusercontent.com/5611962/

[2020-02-19 17:12] ricshaw commented on #85
I'm not sure I quite follow. If you use the sort_spectra function, then there will be no global shift because as you say it is identity matrix in the center of the k-space - which looks correct in your first and third images.

[2020-02-20 09:29] romainVala commented on #85
Sorry for my bad english, and my confusion. But I know better understand what the code is doing.
My point is that the demean does not avoid a global shift. (it can even add one ...)

In my example, I ask for one sudden translation, this gives 2 affines, as precise previously. (Note that the affine are express as 3 rotations and 3 translations: so the first affine (0.0, -0.0, -0.0, 0.0, 0.0, 0.0) i

[2020-02-20 10:58] fepegar commented on #84
Another option is to import the PIL Image as `import PIL.Image`, as DeepMind folks do [here](https://github.com/deepmind/multidim-image-augmentation/blob/master/doc/elastic_deformation_colab.md#imports).

[2020-02-20 11:20] ricshaw commented on #85
Okay I think I understand you. There may be some issues in the code currently. I think doing both demeaning and replacing the center of the k-space using the sort_spectra function are working against each other. I think in the meantime you should **not** use demeaning and just use the sort_spectra function to strop any global moiton. Note that in my original paper, the weighting is much more compl

[2020-02-20 11:33] romainVala commented on #85
can you give me the reference of the paper, I'll try to understand.
thanks

I do not understand how a more complex weighting will solve the issue,
My point is that to avoid global motion we only need to be sure, the center has an identity affine, which will not be the case with the demean (even with more complex weighting ) no ?
(this is what I understand from playing with simple sudden affine)

[2020-02-20 12:16] fepegar commented on #85
https://github.com/fepegar/torchio/blob/1671cbe48f51d082b2ed587e0c2687876509a377/torchio/transforms/augmentation/intensity/random_motion.py#L1-L8

[2020-02-20 13:44] fepegar commented on #85
@romainVala what do you need? I thought that's the paper you were asking for.

[2020-02-20 14:14] romainVala commented on #85
yes, thanks,
the emoicon, was meant, just because I could have find it myself ....

[2020-02-20 14:14] fepegar commented on #85
Oh, ok.

[2020-02-20 14:17] romainVala commented on #85
I did find the precision on the exact weighting, but I am not convince at all it will help to remove global motion ...
Anyway I will check in the near future
Many thanks

[2020-02-20 14:20] fepegar commented on #85
I'll remove the demeaning for now. We can reopen this issue and take a look at the implementation after MICCAI.

[2020-02-20 15:11] #85 closed

[2020-02-21 09:11] HaoLi12345 opened #87 "deformation transform"
i tried deformation transform, no matter what parameter i used(points, std), the transformed image is always left shifted from original image. Why this happened?

[2020-02-21 09:11] HaoLi12345 opened #88 "RandomElasticDeformation result is always shifted in the same direction"
i tried deformation transform, no matter what parameter i used(points, std), the transformed image is always left shifted from original image. Why this happened?
![Screenshot from 2020-02-21 03-13-46](https://user-images.githubusercontent.com/56284140/75020394-4cc42680-5458-11ea-80de-fea4b1de1247.png)

[2020-02-21 13:27] fepegar commented on #87
Closing in favor of #88

[2020-02-21 13:27] #87 closed

[2020-02-21 13:48] fepegar commented on #88
Hi @HaoLi12345,
I can reproduce this. Here are 5 deformations (magenta) applied to the same image (green):
![mni](https://user-images.githubusercontent.com/12688084/75039022-adcb1900-54af-11ea-848e-8ae63d4ed0d4.gif).

This is due to a problem in the way the B-spline parameters are computed. I'll fix this in a minute and results will look like this:
![mni_ok](https://user-images.githubusercontent.c

[2020-02-21 13:55] #88 closed

[2020-02-21 13:55] #84 closed

[2020-02-24 11:38] romainVala opened #89 "add RandomSpike"
Hi there

I saw you recently add RandomGhosting
An other artefact (although less frequent) is RandomSpike, which should be easy to implement (it is just random additive signal in a few points of the kspace)

Many thanks for this good work: !

[2020-02-24 11:42] fepegar commented on #89
Thanks, Roman. How would you implement this? I.e. how do you need to modify e.g. a 2D spectrum of complex values `spectrum`? How do you choose the points and what should you add to them?

[2020-02-24 12:55] fepegar commented on #89
Would it be enough to choose a random point in the spectrum and set it to `spectrum.max()`?

[2020-02-24 13:00] romainVala commented on #89
yes I think we can start with that,
a parameter number of point  (to be choosen randomly in the kspace)
and an amplitude, which is express as a pourcentage of the max (10 % of the max is begining to be very hard)

Ideally this is a gaussian around the chosen points

I would go with a 3D fft

[2020-02-24 13:05] fepegar commented on #89
I see. I'll think about how to implement that. For now, trying the approach I just proposed, I got images like this:
![Screenshot](https://user-images.githubusercontent.com/12688084/75154724-478c0380-5706-11ea-8596-ae536e5ba8c7.png)

[2020-02-24 13:22] fepegar commented on #89
That's the previous approach with `0.1 * spectrum.max()`. I'm a bit confused about the Gaussian method. I generated the smoothed spikes, but I'm not sure about how to add them to the (complex) spectrum. Maybe adding them to the magnitude and leave the phase as it was?

![Screenshot_0 1](https://user-images.githubusercontent.com/12688084/75155553-3d6b0480-5708-11ea-83ea-3837699aeefc.png)

[2020-02-24 13:39] fepegar commented on #89
For now, I'll just implement it the simple way. It can always be modified later on.

[2020-02-24 13:46] romainVala commented on #89
cool, sounds good

I would say just add some real number to the complex spectrum (do not bother with the phase)

[2020-02-24 14:14] #89 closed

[2020-02-24 15:30] romainVala commented on #89
So quick !

felicitation

[2020-02-25 09:09] romainVala commented on #26
Hi
I do need it, because I would like to use this lib for artefact correction.
So I'll use the transform to simulate a specific artefact and in the model I need to have both, the original and the transform

To achieve this, I made a small modification in the Transform class
I add an input argument keep_original=False
and at the begining of __call__ function I add this :

        if self.keep_orign

[2020-02-26 13:33] fepegar commented on #26
Conceptually, I don't like the idea of the output containing the input. That's different to keeping the input as it was, which I guess would need to be done with `deepcopy`.

[code]

I'd like `a` to remain unchanged after applying the transform, not to be included in `b`.

[2020-02-26 13:53] romainVala commented on #26
I agree it is strange, but it is more 'logical' with the use of dataset
  dataset = ImagesDataset(suj, transform=t)
  sample = dataset[0]

for my use case I need to have acces to both in sample, if you just use deepcopy then sample will still contain only the transformed data

what I am asking is not really related to the meaning of this initial issue (sorry), it is an other feature ..

[2020-02-26 13:56] fepegar commented on #26
So your transform `t` is a composition of different `torchio` transforms and for one of them, you set `keep_original=True`? Are you using the queue?

[2020-02-26 13:57] fepegar commented on #26
You're right though, this should be a different issue.

[2020-02-26 14:03] romainVala commented on #26
yes that the idea (you use keep_original for only one of the transform (the last one)

 yes I would like to use the queue, and then I will need to access to the same patch original and transform
I did not test it yet

[2020-02-28 14:50] bcdarwin commented on #82
Wouldn't it be easier to use Nibabel (and/or SITK) to do file writes and avoid writing Nifti-specific header information, which would also give support for DICOM, MINC, etc.?  Any conversion issues could be pushed upstream to Nibabel.

[2020-02-28 14:55] bcdarwin commented on #82
(To answer my own question: [Nibabel doesn't yet support NRRD](https://github.com/nipy/nibabel/issues/356))

[2020-02-28 14:56] fepegar commented on #82
NiBabel doesn't support NRRD. But you're right, It would be simpler to use SITK in general.

[2020-02-28 14:57] bcdarwin commented on #82
At least, `write_nifti` could be generalized to `write_nibabel`.

[2020-02-28 14:57] fepegar commented on #82
Exactly. DICOM support will be trickier, especially for writing. But maybe SITK can try to handle it.

[2020-02-28 14:58] fepegar commented on #82
We're crossing messages, sorry. Maybe a good approach is trying to write the image with nibabel and falling back to SITK if it fails.

[2020-02-28 15:02] bcdarwin commented on #82
Sounds reasonable, especially with an option to override.

[2020-02-28 15:03] fepegar commented on #82
I'm not sure what you mean with this.

[2020-02-28 15:07] bcdarwin commented on #82
You might prefer SITK even if Nibabel can technically read your file, e.g. due to some bug/edge case in format support, or you might care about IO performance and find SITK is faster, etc.

[2020-02-28 16:00] bcdarwin commented on #26
Regarding the original issue, I was quite surprised when I encountered this in generating some example transformed images.

Maybe the best solution is add an `inplace=False` argument?

[2020-02-28 16:33] fepegar commented on #82
@bcdarwin, can you take a look at #92 and let me know what you think?

[2020-02-28 16:38] fepegar commented on #26
Absolutely, I think this behavior should be suppressed by default ASAP. If it doesn't have a huge impact on time, I think the easiest is deep-copying the input as soon as it's received by the `Transform`.

[2020-02-28 16:40] fepegar opened #93 "Add option to keep original image in sample after applying a transform"
As discussed in #26.

[2020-02-28 16:41] bcdarwin commented on #82
Sure, I'll look into this in a bit.

[2020-02-28 18:13] #82 closed

[2020-03-01 20:22] #26 closed

[2020-03-01 20:32] fepegar commented on #34
One of the main issues related to this is that the random parameters generated by the `RandomTransform` are stored in the sample. I thought this was nice was traceability. Adding these probabilistic compositions is nice, but if two samples don't share all their keys, it won't be possible to collate them in a batch by the default PyTorch `DataLoader` `collate_fn`. This is why I add the random param

[2020-03-02 08:20] romainVala commented on #26
As far as I can see in the commit you choose deepcopy without an argument ?
How this will impact the memory load ?
if you have a composition of 3 transform, does the memory requirement grow with a factor 3 ?

For the use b = transform(a) we expect inplace = False
but with the use of dataloader, with a succession of transform, I would say the best choice is the opposit default ...

[2020-03-02 08:52] romainVala commented on #34
Yes I discover this problem playing with https://github.com/romainVala/torchio/blob/038540ab94e6ea6d75fb288e8c6a2a641ed5396a/torchio/transforms/augmentation/intensity/random_motion_from_time_course.py#L98

The problem is not related to the composition, it happend to each transform that have a probability to be use or not.
My way to handel it is to always define all parameter that you want to add i

[2020-03-02 08:59] romainVala commented on #34
for instance
here is the default value of the parameter I want to keep trace of
https://github.com/romainVala/torchio/blob/038540ab94e6ea6d75fb288e8c6a2a641ed5396a/torchio/transforms/augmentation/intensity/random_motion_from_time_course.py#L93

it will be define a few line ater
https://github.com/romainVala/torchio/blob/038540ab94e6ea6d75fb288e8c6a2a641ed5396a/torchio/transforms/augmentation/inten

[2020-03-02 13:17] fepegar commented on #34
Yes, that's the same strategy I showed in my [comment](https://github.com/fepegar/torchio/issues/34#issuecomment-593141904). But I think that polluting all samples with irrelevant information adds unnecessary complexity to the dictionaries. Is like adding an entry with "the parameters that would have been used but never did".

[2020-03-02 13:38] fepegar commented on #26
I think the memory doesn't grow because the old variable goes out of scope after applying the transform:

https://github.com/pytorch/vision/blob/53e09fe3aa99c1d7c0bce5623ceb3b941e531aaf/torchvision/transforms/transforms.py#L68-L71

[2020-03-02 13:45] fepegar opened #95 "Rescale values automatically before and after a k-space augmentation"
Currently, a warning is issued if the image contains negative values, as they will be lost after keeping only the absolute value from the result of an inverse Fourier transform.

A solution to avoid this would be to rescale the data to positive values only, apply the transform, and rescale back to the original range. This would assume that the transform has not modified the min and max too much.

[2020-03-02 16:22] romainVala commented on #95
This may becomes very handy.
min max will change ...

I would say,  it is the user responsability to compose correctly the transform so that it make sense ...

[2020-03-02 16:28] romainVala commented on #34
This is 2 separates things:
1_ The choice of the parameter to add in the dictionaries
2_ the fact that it should be add with default value even if the tranfo is not applied

2 is necessary to have a mixte batch of "applied and no applied" transfo
and 1 is indeed very dependant of the task in mind.

Personally I like it to be as complete as possible, to be able to check what has been performed

[2020-03-02 16:52] fepegar commented on #34
What happens if you have a list of 10 transforms and you compose them with `OneOf`? Do you still need to go through the other 9 and add some parameters to the sample?

[2020-03-02 17:57] fepegar commented on #95
I don't think you meant to say "handy" :)

The scale would be preserved if the original range is stored. What I propose is something like this:

[code]

The example is not great, but it shows how the range is generally preserved between the input and the output.

[2020-03-02 17:57] romainVala commented on #34
sure !
I see your point: 9 different dict parameters are empty...
 but at the end you  want to retrieve them (in order to add conditions base on those parameters). To do so you need a complete dictionary. So yes

it may become hard to handel, if parameters witht the same name can have variable shape.

A other difficult question is about the exact structures to store them. For instance the order of

[2020-03-02 18:03] fepegar commented on #34
You're right, this is also an issue.

Something I've also thought of is to store the transforms information in the sample in plain text, adding a line every time a transform is applied. But this wouldn't be readable and the text would need to be parsed. Also, currently, some parameters are saved on a per-image basis and other (spatial transforms) are saved for the whole sample.

[2020-03-02 18:04] fepegar commented on #34
The text approach would be like a "history" of operations applied to the sample, a but like the autograd history in PyTorch tensors.

[2020-03-08 23:34] ibro45 opened #96 "GridAggregator - Unwanted border over image with patch_overlap & floats not welcome"
**Describe the bug**
There are two bugs related to GridAggregator:

1. If `add_batch` is given a normalized, float, tensor (e.g. between -1 and 1), the final output from `get_output_tensor()` will be full of zeros (black). It works once I denormalize my tensors to `[0,255]` or `[-1024,3072]`.

2. `patch_overlap` produces border of the size of the overlap. You can see in [this gif](https://imgflip.

[2020-03-09 09:19] fepegar commented on #96
Hi @ibro45,

Thanks for such a detailed explanation.

#### Unwanted border over image with `patch_overlap`
The border issue is expected. It happens because only the central part of the inferred patch is kept.
See [NiftyNet docs](https://niftynet.readthedocs.io/en/dev/window_sizes.html) for some info about this.
The best you can do is pad the input image with `patch_size` voxels on each side and cr

[2020-03-09 09:20] fepegar opened #97 "Improve inference documentation"
There should be better docs for how the aggregator works. Related to #96.

[2020-03-09 13:20] ibro45 commented on #96
Thanks for quick response @fepegar!

#### Unwanted border over image with `patch_overlap`

See NiftyNet docs for some info about this.

I wasn't aware that that is the expected behaviour, I guess I'll just pad my inputs in that case.

A suggestion regarding the documentation, maybe it would be easier to use something like [readthedocs.org](https://readthedocs.org/), it would allow adding more deta

[2020-03-09 13:20] #96 closed

[2020-03-09 15:08] fepegar commented on #96
I wouldn't have been either, as this is not well documented.

Thanks, I've been working on it recently! See a sample [here](https://torchio.readthedocs.io/data/queue.html). Unfortunately, RTD builds [have been failing](https://github.com/readthedocs/readthedocs.org/issues/6727) recently.

I think you're right and it makes sense that the data type of the output depends on the patches, not on the in

[2020-03-09 21:06] ibro45 commented on #96
Looking forward to it!

Good to know, I see you're familiar with the LIDC dataset :D

Cool, I will check it out and make sure to cite it in our work!

Makes it more intuitive indeed, I've just made a pull request because a small mistake sneaked in.

[2020-03-09 21:32] fepegar commented on #96
Not really! But that filename looked a lot like DICOM :)

Thanks again for the encouragement and for that fix.

[2020-03-11 22:58] fepegar opened #99 "Fill value of pad transform is unused"

[2020-03-16 17:06] surajpaib opened #100 "Consider multi-channel output in the Grid Aggregator!"
Problem:
The GridAggregator can only take shapes as the same size as the input. Multi-class probabilistic pixel-wise values don't currently fit into this structure.

Possible Solution:
A keyword entry to the gridaggregator with number of channels and consider channels as well while incorporating the patch aggregator

Alternatives:
I currently use binary prob. pixel wise values so 1-p works!

[2020-03-16 17:14] romainVala commented on #6
I see the warning from the doc, but did not look at the code yet,

Actually I was looking for a sampler, that contains the center of the patch within the label. (it is a more conservative alternative to the current setting "at least one non background voxel")

The implementation just need to randomly sample (for the patch center) the coordinate of the label mask ... it should be fast ?

[2020-03-16 20:01] fepegar commented on #6
Yes I think that's the way to go. That's how NiftyNet works as well. I'll add a more generic weighted sampler. Then a label map can be used as sampler.

I need to think how to handle sampler images, though. That's why I also added a `torchio.SAMPLER` attribute. I guess the easiest is to treat them as `torchio.LABEL` and apply all spatial transforms using nearest neighbor interpolation. I'll try to

[2020-03-16 23:48] surajpaib commented on #100
I can submit a PR for this by the end of the week if that works out in your roadmap @fepegar

[2020-03-17 07:55] romainVala commented on #6
ok
it makes sens to indeed treat them as LABEL

[2020-03-17 10:17] fepegar commented on #100
Sounds good, thanks!

[2020-03-19 11:54] dvolgyes opened #101 "zenodo and duecredit"
Hi,

Scientific citation is always nice, but there is always a way to improve it. :)
First, you could deposit your code at zenodo.org.
It has a github integration, so all you need to do after connecting the services
is just creating a git release, and it will automatically deposited at Zenodo.
In this way people can refer to specific versions easily.
https://zenodo.org/

In general, Zenodo is very

[2020-03-19 20:24] fepegar commented on #101
This repository has always been connected to Zenodo: https://zenodo.org/account/settings/github/repository/fepegar/torchio.

`duecredit` seems like an interesting project, but I'll close this issue for now.

[2020-03-19 20:36] dvolgyes commented on #101
Zenodo: my bad, i missed it.
But maybe you could put a link into the README.
(The above link is only visible to you, the record is: https://zenodo.org/record/3706851 )
Duecredit: fair enough, but it is nice, so i recommend to check it out later.

[2020-03-19 20:43] fepegar commented on #101
Oh, sorry, thanks for correcting that link :)

I had it in the README until I published the paper, as that's my preferred way of acknowledging this library. Is that legit?

Are you part of the `duecredit` team?

[2020-03-19 21:10] dvolgyes commented on #101
I am not part of duecredit, i just like their work.
Legit way: i think there is no standardized way.
At this moment, it is published, but not peer reviewed.
In a lot of sense, it counts similarly as oral communication,
or a newspaper article.
If somebody uses the idea, should cite the paper.
If somebody uses the code, should cite the code too.

Usually, they are connected, but there are exceptions

[2020-03-19 21:38] fepegar commented on #101
I celebrate your support to code acknowledgment!

I did not deposit the paper at Zenodo, because originally I wasn't even planning to write a paper. I see what you mean about idea vs code, but in this case, both are quite mixed. The paper mostly describes the library, it's not really some very novel method I came up with and for which I wrote and shared some code.

I like the idea of citing the cu

[2020-03-19 21:45] dvolgyes commented on #101
Good luck with MICCAI!

[2020-03-19 21:47] fepegar commented on #101
Thank you!

[2020-03-20 13:16] fepegar opened #102 "Add support to pass a dataset to HistogramStandardization.train()"
Currently, only a list of paths is accepted. This is not consistent with the rest of the library. Also, this design only works if NiBabel supports the format of the images (e.g. no DICOM or mha).

[2020-03-21 21:39] #99 closed

[2020-03-21 21:41] fepegar commented on #100
Is this so that you can have a 4D image with continuous probabilities for each class?

[2020-03-24 03:50] guangyzhang opened #103 "require tiff file support"
**tiff file is also very offen used in median dataset**

[2020-03-24 09:57] fepegar commented on #103
Hi @guangyzhang,

Reading TIFF images is supported.

[2020-03-24 09:57] #103 closed

[2020-03-24 12:38] romainVala opened #104 "crop and pad around mask center"
Hello

what do you things of the possibility to do the same as CenterCropOrPad, but instead of take the center of the image I would like to take the centre of a label mask (center of non zero element)

Could be very useful to get the same field of view center on the brain, if you have a brain mask.

It could either be an option in CenerCropOrPad, or a new class ... ?

this may be a little bit tric

[2020-03-24 12:49] fepegar commented on #104
Hi Romain,
Is this something you would like to use? It does seem a bit complex for a transform and more like something that could be done beforehand.

In case we wanted to implement it, I guess it could be something like: `CenterCropOrPad(padding, around=x)`, where x can be the name of the label image or even a point in voxel or world coordinates.

What if the label image has more than one connect

[2020-03-24 13:10] romainVala commented on #104
Hi
yes I need it to process T1 'raw' images that have different field of view, and different head position.
I agree usually one use to coregister and reslice to a common template, but since I try to learn the motion, keeping the acquisition plan is importante, so I would like to avoid reslicing

In my case I will apply it with brain mask so only one connected component, and then If I understand co

[2020-03-24 14:48] fepegar commented on #104
You're right that reslicing/resampling is not needed. I just thought of it as the fastest way of implementing, but I'm probably wrong/lazy. Note, though, that no interpolation would be needed so the operation would be lossless and very fast.

What I meant with preprocessing is cropping all images before training. But I guess you're planning to apply e.g. rotations on the fly and then you want to c

[2020-03-24 15:36] romainVala commented on #104
yes exactly having it as a transform will make it easy to check different order (first motion then crop)
thanks for the difference between box center and centroid, from this example I would prefer the box center, because what is importante is to have a field of view center around min and max (in each directions)

I'll see what we can achieve and let you know

[2020-03-24 15:38] fepegar commented on #104
Great, thanks! I think the code would be quite similar to `CenterCropOrPad`, so you can start from there.

[2020-03-24 15:39] romainVala commented on #104
but better to do a new class, or add an option ?

[2020-03-24 15:47] fepegar commented on #104
I feel like if an option is added to `CenterCropOrPad`, then is not necessarily "Center" anymore. That's why I think a generalised `CropOrPad` could be created that is a superclass of `CenterCropOrPad`. `CenterCropOrPad` can be modified to something like

[code]

and be deprecated in favor of the new class.

[2020-03-25 15:05] surajpaib commented on #100
Exactly! Sorry I haven't been able to dedicate time over the past weekend. Seems like its going to be hard to take out time for now

[2020-03-28 12:16] fepegar opened #105 "TypeError when calling the transform in ImagesDataset"
Reported by @ReubenDo.

[code]

This happens because the transform passed to the `ImagesDataset` was not correct.

[2020-03-28 12:17] #105 closed

[2020-03-28 13:53] fepegar commented on #18
# Data

- [ ] CLI tool
- [ ] ImagesDataset
- [ ] Image
- [ ] Subject
- [ ] Samplers
- [ ] Aggregator
- [ ] Queue

# Transforms
- [ ] Transform

## Preprocessing
- [ ] NormalizationTransform
- [ ] Rescale
- [ ] ZNormalization
- [ ] HistogramStandardization
- [ ] CenterCropOrPad
- [ ] Crop
- [ ] Pad
- [ ] Resample
- [ ] ToCanonical

## Augmentation
- [ ] RandomTransform
- [ ] RandomFlip
- [ ] Random

[2020-04-01 13:15] romainVala opened #108 "save and load from disque sample in ImageDataset"
Hi there,

**Is your feature request related to a problem? Please describe.**
training with random motion is taking to much time, even with 20 numworker (and 180 G of ram) I am not quick enough to occupy the gpu during the training. and when testing different model parameter, it is just insane to require so much computation ...
any way it is just to slow

**Describe the solution you'd like**
The s

[2020-04-01 13:43] fepegar commented on #108
Hi @romainVala,

Thanks for reporting this. Isn't this just offline data augmentation? Can't you use `ImagesDataset.save_sample` or `torchio.utils.apply_transform_to_file` or the CLI tool `torchio-tranform` to generate all the samples you want and then instantiate the `ImagesDataset` using the transformed files?

[2020-04-01 14:17] romainVala commented on #108
It is not exactly the same what you propose is to save the transform as nifti file, I save the sample dictionary structure, (since I need, some special keys written by the transform during training)

[2020-04-01 14:20] fepegar commented on #108
By "special keys" do you mean the random parameters?

[2020-04-01 14:27] romainVala commented on #108
yes
Actually I use my own class RandomMotionFromTimeCourse  where I add some specirfic metrics :
when applying a motion transform it also compute the similarity with the original data, and this is what I try to learn ...

[2020-04-01 15:46] fepegar commented on #108
I don't love the idea of pickling dictionaries. What about saving those parameters in a text file and creating a dataset that inherits from `ImagesDataset` as shown in this example: https://github.com/fepegar/torchio/commit/eb0244c22fe62b46a90e64aa7af29ef027afb91e

[2020-04-01 17:13] romainVala commented on #108
note sure I understand what pickling is ... , I just do a torch.save ... ? (so simple )

for the example you link, i do not see how it solve the problem, which is (if I follow correctly): adding extra informations to the images dictionary (from a csv file for instance ?)
in this exemple you do not create any class ?

[2020-04-01 17:41] fepegar commented on #108
[`torch.save`](https://pytorch.org/docs/stable/torch.html?highlight=save#torch.save) uses the Python [`pickle`](https://docs.python.org/3/library/pickle.html) module to save and load serialized objects. I don't know the theory behind, but I guess it's a bit like saving binary files into disk, without any specific format, only readable again by Python in a very specific context.

in this exemple yo

[2020-04-02 14:13] nwschurink opened #112 "Allow non-image type label in subject"
**Is your feature request related to a problem? Please describe.**
I am planning on building a classification network, where the network needs to classify multimodality images of tumor into either benign or malignant. For each tumor I have 3 images e.g. T1, T2 and DWI and each tumor has 1 binary label associated to it e.g. [0,1].

At this moment it is only possible to add a 'label' of the Class "I

[2020-04-02 14:29] fepegar commented on #112
Hi @nwschurink,

I'm planning to add a classification example soon. That will probably give me some ideas to improve the library for the task.

For now, I think you can create a class that inherits from `ImagesDataset`. Would this work for you?

[code]

Maybe I can add `**kwargs` to `Image` and `Subject`, in case the user wants to add custom fields to the subject samples or the images within.

[2020-04-02 14:45] nwschurink commented on #112
Hi @fepegar ,

Thanks for the code snippet! I was planning on writing my own class but I'm still a bit new on using class inheritence so this definitely helps me out a lot.

I think your suggestion of adding `**kwargs` could be a nice sollution indeed, it would allow to add whatever custom field you'd like.

Thanks!

[2020-04-02 14:47] fepegar commented on #112
I'm also learning :)

Glad that helped!

[2020-04-03 14:17] nwschurink commented on #112
Hi @fepegar,

Thanks for adding the functionality, and so fast! Awesome!

I have 1 question remaining on the implementation. Just a suggestion, but maybe you think otherwise.

The `kwargs` now get assigned as `self.kwargs = kwargs` in the `__init__` method. As a result, if someone likes to access e.g. a given keyword argument such as `label=1` they wil have to access it using Subject.kwargs['label

[2020-04-03 14:24] fepegar commented on #112
You're absolutely right!

[2020-04-03 14:25] fepegar commented on #112
Could you please submit a PR for this?

[2020-04-03 14:33] nwschurink commented on #112
Will submit a PR in a moment ;)

[2020-04-05 22:19] #101 closed

[2020-04-05 22:20] fepegar commented on #101
Thanks again, @dvolgyes!

[2020-04-06 08:04] romainVala opened #116 "confusion about input for dataset"
Hello

Sorry if this is obvious but I get confuse with the dataset input

Previously I was just using list of images,
[code]
and then
`dataset = ImagesDataset(suj)`

After a recent update I get know an error
  TypeError: Subjects list must contain instances of torchio.Subject, not "<class 'list'>"

so I now need a subject and thought I could do :
`suj  =  [ Subject(ss) for ss in suj ]
`
but Subjec

[2020-04-06 08:30] romainVala commented on #116
it may be not a big deal, I found out the way to addapt :
`suj = [ Subject(*ss) for ss in suj ]
`
I find it easier with a list, but I am not a python expert ...

[2020-04-06 09:27] fepegar commented on #116
I once changed the code to accept only `*images` and not `images`, but it was still working with lists of images. I [recently](https://github.com/fepegar/torchio/commit/d35d5c51cfb31ccd9c6f5c9b468f3ab590ae1bcf) modified it so that only one option is allowed.

I thought creating a list every time you want to create a new subject would be even more verbose, so implemented it like this, although I do

[2020-04-06 10:32] romainVala commented on #116
ok fine

[2020-04-07 08:59] #112 closed

[2020-04-08 10:16] nwschurink opened #117 "CropOrPad only crops Mask"
**TorchIO version**
0.15.0

**What I did**
Create the following sequence of transforms:

[code]
I then checked the size of one of the images in the `sample` e.g. `sample['t2']['data'].shape` which returns `torch.Size([1, 247, 345, 346])` whereas `sample['mask']['data'].shape` returns `torch.Size([1, 80, 160, 160])`

**What I expected to happen**
Both the image and mask have the same size

**What a

[2020-04-08 10:19] fepegar commented on #117
Hi @nwschurink. Thanks for reporting. That's obviously me pasting the previous line. I'll fix that in a sec.

[2020-04-08 10:34] nwschurink opened #118 "Add reference image/grid option to resample function"
**Is your feature request related to a problem? Please describe.**
In my dataset I have images with different voxelgrids/spacings. As a result if e.g. a `mask` and `T2` image get resampled to 1x1x1mm voxels, it is possible that the physical locations of these voxel do not match. This happens for example when a mask is made on a different MRI sequence with a lower resolution, such as a `DWI` scan.

[2020-04-08 10:49] romainVala commented on #118
I like the proposition to add a target space for the resample (I do it with nibabel, with resample_from_to) but I do not understand why there is a mismatch
I can imagine this mismatch happen since you have different field of view
using a composition of resampled to 1mm and crop to get the same field of view does not solve it ?

Never the less I thing it is a good idea to allow a reference space

[2020-04-08 11:00] fepegar commented on #117
I haven't been able to reproduce your issue with this code:

[code]

Output:

[code]

The shapes are wrong (as I have reported in #119), but consistent. Can you share a minimal working example and, if possible, some data? You can send it by email if you like.

[2020-04-08 11:15] fepegar commented on #118
I think what @nwschurink has two advantages:
1. Transform is faster
1. Information is not lost at interpolation

This can be applied to a sample containing e.g. a T1 and a T2 that are aligned but not in the same grid. The transform can be `Resample(target='T1')`, and the resampling strategy will be chosen according to the type of `target`.

[2020-04-08 11:53] nwschurink commented on #118
Yes, this happens when the T1 and T2 are aligned but not in the same grid. The patient coordinatesystem is the same for both scans, however the voxelgrids are different.

There are many cases when this could happen, e.g. different voxelsizes, slice direction, field of view etc.

For my own pipeline, what I usally do is resample 1 image modality to a certain voxelsize. e.g. resample T2 to 1x1x1mm v

[2020-04-08 12:06] nwschurink commented on #117
I think the reason why this happens is related to [issue 117](https://github.com/fepegar/torchio/issues/117) and probably can be reproduced by changing the field of view of the mask to its bounding box (before loading it to Subject, e.g. your 'eyes.nrrd').

The reason for this is that when the field of view of the mask and image are not the same it is possible that `padding.any()` evaluates to Non

[2020-04-08 12:13] fepegar commented on #117
Do you mean the shapes are different? Maybe I misunderstood, but that should be checked in
https://github.com/fepegar/torchio/blob/992ab56cef58f6e5dd9480da1f9b77b6cce1ca9d/torchio/transforms/preprocessing/spatial/crop_or_pad.py#L97-L106

[2020-04-08 12:19] nwschurink commented on #117
Ah, ok then I think there must be something going wrong in the `check_consistent_shape` check.

I just checked the input size of my images. My T2 image has size `(320,320,36)` and my mask has size `(18,22,6)` (i.e. it only contains the bounding box of the segmentation)

[2020-04-08 12:36] nwschurink commented on #117
Hmm, it's weird when I run check_consistent_shape on my sample subject it returns a value error because of inconsistent shapes. So the test should be working

[2020-04-08 12:42] nwschurink commented on #117
Ah ok I've found out why the check is not working. The shape check is only performed when doing a center crop (e.g  `_compute_center_crop_or_pad`) ([here](https://github.com/fepegar/torchio/blob/992ab56cef58f6e5dd9480da1f9b77b6cce1ca9d/torchio/transforms/preprocessing/spatial/crop_or_pad.py#L161)). However, the check is not performed when performing a crop on the mask's center (e.g. `_compute_mask

[2020-04-08 12:46] fepegar commented on #117
Good catch!

@GReguig could you please look into this?

[2020-04-08 12:47] GReguig commented on #117
Ok, I will give it a look

[2020-04-08 12:56] nwschurink commented on #118
A note that could be added to the docs is that: Setting a reference image space would also allow using the CropOrPad function when the shape of the Image and Mask are inconsistent (i.e. in the case that the Mask image only contains the bounding box of the mask).

Using the Image as target space would automatically resample the Mask to have the same data dimensions

[2020-04-08 13:22] fepegar commented on #118
Yeah I was thinking that maybe it'd be nice to ignore the mask shape when checking consistency in CropOrPad with a mask and automatically resampling the mask in the space of the other images. Then I thought that might be a bit too much magic preprocessing, but I guess that's one of the points of this library: taking the pain out of these little things.

[2020-04-08 13:35] nwschurink commented on #118
Yea that would be nice idea, to let the mask be automatically resampled. I think this could be the default option when there is only 1 Image and 1 Mask present in a subject. :)

I was thinking though, you would need to specifically address resampling to a common spacing in the case that you have multiple Images with different spacings. For example when you have these images:

[code]
Then it is imp

[2020-04-08 14:39] #117 closed

[2020-04-16 19:23] marshuang80 opened #122 "Augmentation not working as expected"
**TorchIO version**
0.13.16

**What I did**
Transformed a torchio.Image using `ElasticDeformation` and `RandomAffine`.

**What I expected to happen**
Expected to work as shown in the documentation
https://torchio.readthedocs.io/transforms/augmentation.html

**What actually happened**
Getting unexpected outputs:

*Original*:
![image](https://user-images.githubusercontent.com/15271135/79497124-057f8

[2020-04-16 19:54] fepegar commented on #122
Hi @marshuang80,

This behavior is expected. These transforms sometimes need to fill with values if they have no information. In the 3rd cell of [this gist](https://gist.github.com/fepegar/b723d15de620cd2a3a4dbd71e491b59d) you can see that some values at the borders have been filled. That's what you're seeing in the first slices.

The effect is also visible when applying linear transforms such as

[2020-04-18 06:16] duckyngo opened #123 "Add "proportion_to_augment" parameter to RandomBlur"
I am using the RandomBlur transform in my project and I didn't see where to set the "proportion_to_augment". It means that the RandomBlur transform will applied to all of my images. It will reduce the quality of all images. Could you please consider adding the "propotion_to_augment"? Thank you

[2020-04-18 21:05] fepegar commented on #122
Closing as this doesn't seem to be a bug. Feel free to reopen.

[2020-04-18 21:05] #122 closed

[2020-04-18 21:06] fepegar commented on #118
Resolved in #121.

[2020-04-18 21:06] #118 closed

[2020-04-18 21:06] fepegar commented on #104
Resolved in #110.

[2020-04-18 21:06] #104 closed

[2020-04-18 21:06] #116 closed

[2020-04-18 21:08] #24 closed

[2020-04-18 23:37] fepegar commented on #123
Hi @duckyngo,
I have added a `p` argument to all transforms which is equivalent to the old `proportion_to_augment` that was there for some slow transforms only.

[2020-04-18 23:39] #123 closed

[2020-04-19 21:20] heykeetae opened #125 "Patch-based training on CPU gives an error regarding Queue."
I am training mri lesion segmentation task on a remote server without GPU, on which I am experimenting patch-based (using torchio.Queue()) data_loader with multiple CPU workers. Running through slightly modified codes from the provided colaboratory sample codes, I faced with the following error at the end of epoch 0 validation. Could you suggest a solution to this error?

[Update] Please note that

[2020-04-20 09:31] fepegar opened #126 "RuntimeWarning in RandomAffine"
[code]

[2020-04-20 09:42] fepegar commented on #125
Hi @heykeetae,

I can't reproduce. This seem like a PyTorch error. Have you tried with `num_workers=0` if you do `num_workers=1`, it still uses the multiprocessing logic (I think). Can you provide a minimal working example? Which version of PyTorch are you using?

It looks like other people have had this issue before:
- [AssertionError: can only join a child process](https://github.com/fastai/fast

[2020-04-20 09:46] #126 closed

[2020-04-20 15:43] fepegar commented on #125
I'm going to close this as it seems unrelated to TorchIO. Feel free to reopen if you disagree.

[2020-04-20 15:43] #125 closed

[2020-04-20 15:52] fepegar commented on #34
The last couple of commits will probably make retrieving random transforms parameters difficult. I'm planning to create a `Sample` class that can be automatically collated by the `DataLoader` **and** stores the random parameters information.

[2020-04-22 10:44] fepegar commented on #34
@romainVala You can retrieve the parameters for random transforms like this:
https://github.com/fepegar/torchio/blob/6741adf39b969c8cf7de39b033fda9c2be1c93c0/examples/example_motion.py#L17-L31

[2020-04-22 10:48] romainVala commented on #34
yes, why not ...
what happen when you are within a dataloader, where is the batch dimention

[2020-04-22 10:56] fepegar commented on #34
Now transforms return instances of `Subject`, which inherits from `dict`. The random parameters are now stored in the `history` attribute of `Subject`. The batch is collated with the default collate function in the data loader. I'm not sure I understand your question.

[2020-04-22 18:35] bcdarwin opened #127 "using a GridSampler with a Queue"
Right now this doesn't exactly make sense, e.g. you need to pass `samples_per_volume` to `Queue` which is not quite coherent, and it's not clear how to pass arguments (specifically `patch_overlap`) to the `GridSampler`.

(Use case: I want my validation to be done deterministically and from the entire image which is however too big to be segmented in a single pass, even without gradients.  I guess

[2020-04-22 19:25] fepegar commented on #127
[Have you tried the `GridAggregator`?](https://torchio.readthedocs.io/data/sampling.html#sampling)

[2020-04-22 20:04] bcdarwin commented on #127
Yes, but I want to use the `GridSampler` with a `Dataset`, not a fixed input tensor so (I think) I want `Queue`-like functionality.

[2020-04-22 20:15] fepegar commented on #127
Unfortunately, this is not well documented yet (#97).

I don't think you want a queue for this. I think the best would be iterating over the dataset samples and create a `GridAggregator` for each tensor. A bit like what's done in [this section of the notebook](https://colab.research.google.com/drive/112NTL8uJXzcMw4PQbUvMQN-WHlVwQS3i#scrollTo=SKu8k5Z2wkSD&line=6&uniqifier=1). I guess you can put in

[2020-04-22 20:19] bcdarwin commented on #127
To be clear, what I am trying to do is compute validation statistics at each training epoch.  I don't really need to assemble the whole volume for this, but I do want it to be fast.  Is the above still what you suggest?

[2020-04-22 20:28] fepegar commented on #127
If you don't need to assemble the volume, you can still use the code from the notebook minus the aggregator bits. Here's some pseudocode:

[code]

---

After thinking a bit more and looking at the code, I think the problem with the above is that the GridSampler should take a sample as input, not just a tensor, as for the other samplers. I'll see what I can do and come up with a solution.

[2020-04-22 20:42] bcdarwin commented on #127
Exactly, it seems like for the GridAggregator to work the GridSampler should produce a nested dataset of lists (or arrays or datasets) of patches?

[2020-04-22 21:01] fepegar opened #128 "Crop samples in patches using a transform"

[2020-04-22 21:34] fepegar commented on #127
Would this work for you?
https://github.com/fepegar/torchio/blob/0903f6ae91818a652555a3aa2670333054bcc2db/tests/data/test_inference.py#L19-L27

[2020-04-22 21:38] fepegar commented on #127
Out of curiosity, why do you compute the metrics patch by patch? What is the task, if I may ask?

[2020-04-22 21:44] bcdarwin commented on #127
It's for segmentation of large MRI volumes.  Training has to be done patchwise as per your Colab notebook or the GPU runs out of RAM.  I just wanted to do inference in a more deterministic way so I thought I could plug in GridSampler instead of ImageSampler in the validation phase of each training epoch.  I'm not committed to this approach but I think even running the network forward has to be don

[2020-04-22 22:28] fepegar commented on #127
Can you take a look at the snippet in my comment? https://github.com/fepegar/torchio/issues/127#issuecomment-618052711

[2020-04-22 22:38] bcdarwin commented on #127
In principle that (manually iterating over the data) would work, but in that case why not also run the training loop that way (i.e., without using a Queue)?

[2020-04-22 22:41] fepegar commented on #127
That can certainly be done. But the queue allows you to automatically load the data in the background, randomize patches within the queue and make sure that they come from different subjects for each patch, etc.

[2020-04-22 22:43] bcdarwin commented on #127
I guess I don't need want/need the randomization but I would prefer to have multithreaded data loading/preprocessing?

[2020-04-22 23:01] fepegar commented on #127
You could do something like this:

[code]

[2020-04-23 07:18] romainVala commented on #34
Ok, I better understand if I can play with it,
so I try the following :

t = Compose([RandomNoise(),  RandomElasticDeformation() ])
dataset = ImagesDataset(suj, transform=t)
sample = dataset[0]

then as you write, I can get the parameter of each transfomr, since the history has now the same length as number of compose.
great !

Now if I do
dl = DataLoader(dataset, batch_size=4)
sample_batch = next

[2020-04-23 07:46] fepegar commented on #34
You're right. I suppose that if you want to trace the random parameters, you'll need to collate the batch yourself:

[code]

[2020-04-23 07:51] #100 closed

[2020-04-23 07:51] #127 closed

[2020-04-23 09:12] romainVala commented on #34
Ok I see,
thanks for the code exemple, I now better understand what the collate_fn does.

Well I do prefer the previous version where extra parameter, were added in the subject dict. in this case the batch concatenation was done automatically, (for the inputs data and for the parameters). I do no understand what was wrong with it

but I can deal with the new version, and do the torch cat myself ..

[2020-04-23 09:22] GFabien opened #131 "Option to add a coregistration matrix before resampling"
**Is your feature request related to a problem? Please describe.**
When working with MRI volumes, we like to have one reference template image and use all the images in the MNI reference space. Therefore, before resampling one image, we need to multiply its affine by a coregistration matrix in order to end up in the MNI reference space. This could be seen as a resampling strategy and therefore we

[2020-04-23 09:26] fepegar commented on #34
The problem with that was related to this issue, I mention it in the comments here. It adds unnecessary complexity to the code, the order in which transforms have been applied is lost, etc. I think the amount of work needed to trace the parameters (`torch.cat`) is tiny compared to the trouble that would cause to the library to make include them in the dictionaries.

I can add an option to save the

[2020-04-23 09:30] fepegar commented on #131
Sure, please go on.

[2020-04-23 09:40] GFabien opened #132 "Resampling using a common reference image for all subjects"
**Is your feature request related to a problem? Please describe.**
Currently, resampling to match a reference image is done in the perspective of comparing two modalities of the same subject. Our use case is to compare all subjects to a reference template. Therefore it seems highly redundant to insert the reference image in all subjects and would make more sense to have it directly in the Resample

[2020-04-23 10:00] romainVala commented on #132
Personnaly I would like to have both solution implemented : a filepath or (affine,shape)
filepath is the 'lazzy' solution but (affine, shape) has the advantage that you are free to choose the exact shape (independtly of the reference volume, and then avoid an extra CropOrPad transform)

May be a solution would be to have different inputs arguments name :

target_key_name
target_filepath
target_aff

[2020-04-23 10:18] fepegar commented on #132
We could do this:

[code]

And in Resample:
[code]

`CropOrPad` is very cheap, so I don't think we should bother with the `(affine, shape)` option.

[2020-04-23 10:39] romainVala commented on #34
ok thanks

[2020-04-23 11:21] #34 closed

[2020-04-23 14:14] surajpaib commented on #100
Thanks @fepegar ! Looks good! Appreciate it!

[2020-04-23 14:15] fepegar commented on #100
Thank you for reporting :+1:

[2020-04-24 10:47] #131 closed

[2020-04-26 10:19] hadhoryth opened #135 "Subject with multiple images"
Thank you for sharing great library!
I would like to ask, is it possible create a `Subject`  with multiple images? Something like that:

subj['t1'].append(Image())
subj['age'].append('46')

or

[2020-04-26 11:35] fepegar commented on #135
Hi @hadhoryth,

I'm not sure what you mean, but you can certainly create a `Subject` with multiple images! Can you tell me a bit more about your application?

What about this:

[code]

Replacing the `path` and `type_` variables, of course.

[2020-04-26 11:50] hadhoryth commented on #135
@fepegar  Thank you, for so fast reply!

I have series of brain MRI images taken at different time. I'm trying to have `[subj1, subj2]` where each `subj` have multiple images. For example, `subj1` has T1 MRI at age 45 and 46 and so on.
In the code I'm trying to do something like that:

    subj = Subject(t1=Image(path, type_, age=45)
    for visit in visits:
         # Here I want to append anothe

[2020-04-26 12:07] fepegar commented on #135
Would this work for you?

[code]

[2020-04-26 12:45] hadhoryth commented on #135
Yes, I tried, and it works! Thank you!

[code]

Maybe you can give me the last hint. How can I inference from such a dataset?
What I'm trying to do:
[code]
but I recieve an error:
[code]

[2020-04-26 13:50] fepegar commented on #135
You don't mean a queue for inference. Do you mean for training?

That error seems to be unrelated to TorchIO: https://discuss.pytorch.org/t/runtimeerror-received-0-items-of-ancdata/4999/4.

[2020-04-26 13:56] hadhoryth commented on #135
Yes, you right.
Fernando, thank you for your help!

[2020-04-26 13:56] #135 closed

[2020-04-26 13:57] fepegar commented on #135
No worries!

[2020-04-27 13:07] #132 closed

[2020-04-28 14:52] hikmet-demir opened #136 "ImportError: cannot import name 'Compose'"
**TorchIO version**
'0.15.5'
<--! Can be retrieved as `torchio.__version__` -->

I'm just trying to load imports work and my code snippet is
`import torchio
from torchio import AFFINE, DATA, PATH, TYPE, STEM
from torchio.transforms import (
    RandomFlip,
    RandomAffine,
    RandomElasticDeformation,
    RandomNoise,
    RandomMotion,
    RandomBiasField,
    RescaleIntensity,
    Resample,

[2020-04-28 14:55] hikmet-demir commented on #136
I suspect there is conflict with torchvision but not sure

[2020-04-28 16:36] fepegar commented on #136
Can you upgrade `torchio` and try again? I think `Compose` was added in `0.16.0` and you're using `0.15.5`.

[code]

[2020-04-28 18:06] hikmet-demir commented on #136
Now it works! Thank you @fepegar . Great work btw with the repo keep it up! superb software engineering and documentation compared to other scientific repos

[2020-04-28 18:06] #136 closed

[2020-04-28 19:01] fepegar commented on #136
Thank you very much :)

[2020-05-01 16:35] MonsieurWave opened #137 "Tensor Support for Transforms"
Hi, your library looks awesome, but as I have already implemented my own dataset class which does not respect the torchio ImagesDataset structure, I can not easily use the transforms you implemented on my data. It would be amazing if they could be simply used on pytorch tensors as well.

In brief: applying torchio transforms and augmentation to a pytorch tensor
If I understood your code correctly,

[2020-05-01 16:45] fepegar commented on #137
I hadn't thought of doing this, but I'm open to suggestions. Which transforms are you interested in? Don't you care about image spacing, orientation, etc.? Could one assume that the matrix to go from voxel indices to physical space is an identity for all your images?

[2020-05-01 17:03] MonsieurWave commented on #137
I am mostly interested in the RandomAffine, RandomElastic and RandomGhosting and just as you suggested the voxel index to physical space is an identity for all my images which is why I dropped the affines in my dataset.

[2020-05-01 17:14] fepegar commented on #137
I suppose you don't want to save the images to disk and use TorchIO normally, is that right? What does your dataset look like? Can't it inherit from a `torchio.ImagesDataset`?

[2020-05-01 17:43] MonsieurWave commented on #137
My dataset is composed of medical images with a lot of channels (shape: n_samples, n_x, n_y, n_z, n_channels)
- unfortunately the dataset class structure has already gotten quite complex so rewriting it to inherit from ``` torchio.ImagesDataset```would be quite a hassle
- I can imagine that a lot of other people are dealing with a similar problem, as there seems to be no other good 3D augmentation

[2020-05-01 17:56] fepegar commented on #137
Sorry if I ask many questions, I need to understand the details to try to figure out a solution.

Is this the output of a `DataLoader`? If not, I don't understand why you have a `n_samples` dimension.

Do you want to apply the same transform to all channels? Are we talking about dMRI?

[2020-05-01 18:10] MonsieurWave commented on #137
no worries, I appreciate your responsiveness
- I am actually mistaken, at the moment where transform is called, n_samples is always 1, so there is no real n_samples dimension, so it's just (n_x, n_y, n_z, n_channels)
- the dataset is is fed to the ```DataLoader``` afterwards
- The same transformation would have to be applied to all the channels (in most cases I am working with perfusion CT data)

[2020-05-02 21:12] MonsieurWave commented on #137
I quickly implemented this for some of the augmentation functions (ElasticTransform, Affine, Flip and noise), not totally clean but it works:
https://github.com/MonsieurWave/torchio/commit/9eb30c0a214ee8ee229a8e1862a9a9395ea264a3

[2020-05-03 01:51] hikmet-demir opened #138 "About training a classifier with TorchIO"
**TorchIO version**
0.16.4

This question can sound a bit silly sorry for it. How do I train a classifier with torchio exactly? I know it sounds weird but here me out.

I have Clean lung CT scans and infected lung CT scans. I would like to train 3D CNN on them for classification basically with torchio pipeline. I wrote the subject list class and created ImageDataset object it's all ready. I also h

[2020-05-03 02:06] hikmet-demir commented on #138
Sorry for labeling it as bug, should be something else

[2020-05-03 09:19] fepegar commented on #138
Hey @hikmet-demir,

There's no such thing as a silly question.

The task in the notebook is segmentation, i.e. voxel-wise classification. The label is an image in which all voxels corresponding to the brain are 1 and the rest are 0, probably similar to your `MASK`.

Your snippet is correct (assuming you have defined the values of `SCAN`, `MASK` and `infected`. You don't need to convert the `Path`

[2020-05-03 15:57] hikmet-demir commented on #138
Hey @fepegar,

Thank you for clarifying out,

`SCAN` is the raw CT scans basically
`Mask` is the mask that I created somewhere else for each scan, basically same 3d structure filled with 1 or 0's, ( I'm extracting lungs with segmentation)

`infected` will be 0 or 1 depending on scan and I will feed infected data as label to torch in the training rerunning the subjects right now!

[2020-05-03 16:47] fepegar commented on #137
I haven't looked very deeply into this, but your approach seems to be the best: https://github.com/fepegar/torchio/issues/16#issuecomment-576949538

Refactoring all transforms to work with tensors seems doable, but it'll take some work. I'll open a PR.

[2020-05-03 16:51] fepegar commented on #137
Actually, I think this might be quickly solved by modifying only one class. I'll give it a try.

[2020-05-03 17:24] MonsieurWave commented on #137
True, that could actually work and wouldn't be too much work to implement.

[2020-05-03 18:15] fepegar commented on #137
Can you checkout the branch and see if that'd work for you?

[2020-05-04 15:36] fepegar commented on #138
Shall we mark this as resolved?

[2020-05-04 19:17] fepegar opened #140 "Use torch.Tensor for affine matrices for consistency"

[2020-05-04 20:09] sibajigaj opened #141 "issue with affine transform"
Hi,
    Thanks for the nice augmentation tool. I am trying to apply on our dataset where the image size is 160 X 384 X 384 and voxel spacing is .7 X .36 X.36 mm. The error is coming for affine transform. The error is as follows:

[code]

The affine transform is working for the given MRI image dataset  in TorchIO tutorial.ipynb tutorial. Also it is working if I pass default_pad_value='minimum' in t

[2020-05-04 23:01] fepegar commented on #141
Hi @sibajigaj,

What version of TorchIO are you using?

[2020-05-05 00:48] sibajigaj commented on #141
Version: 0.16.4

[2020-05-05 08:28] MonsieurWave commented on #137
Did a quick test run on some of my data and there seems to be an issue with the shape of data accepted. The 'transformer' neither accepts 4dims tensor (c, x, y, z), nor 5dim (i, c, x, y, z).
I tried to replicate the issue:
`
In [33]: sample_input = torch.ones((4,30,30,30))

In [34]: rflip = RandomFlip()

In [35]: trans_sample_input = rflip(sample_input)
--------------------------------------------

[2020-05-05 10:06] fepegar commented on #137
Should be fixed now. Let's continue the discussion in the PR please: #139

[2020-05-05 10:14] fepegar commented on #141
Could you please share the code to reproduce this and, if possible, an image? You can send it to fernando.perezgarcia.17@ucl.ac.uk, if you like.

[2020-05-05 11:21] fepegar commented on #141
Ok I just reproduced it. I'll fix that in a moment.

[2020-05-05 11:42] #141 closed

[2020-05-05 11:42] fepegar commented on #141
Fixed in `0.16.6`. Thanks for reporting, @sibajigaj.

[2020-05-05 13:03] #137 closed

[2020-05-05 17:57] hikmet-demir commented on #138
sure!

[2020-05-05 17:57] #138 closed

[2020-05-05 20:38] fepegar commented on #108
Closing as now there is a `history` attribute in `Subject` from which random parameters can be retrieved. Feel free to reopen if needed.

[2020-05-05 20:38] #108 closed

[2020-05-05 20:38] #97 closed

[2020-05-05 20:39] #79 closed

[2020-05-05 20:39] #78 closed

[2020-05-05 20:41] #21 closed

[2020-05-05 20:42] #23 closed

[2020-05-07 08:46] romainVala opened #142 "Pass random parameters to apply_transform()"
Hi
Your do save the used coarse_grid in history of the transform, but you also should add num_control_points  (to have a complete description, and the possibility to reproduce it)

Just as a side note (not sure you are interested to it) I implement, apply_given_transform where you set the transform explicitly (to reproduce, the one applied, and saved in history )

Many thanks

[2020-05-07 08:53] fepegar commented on #142
Hi @romainVala,

The number of control points is the shape of the coarse grid:
https://github.com/fepegar/torchio/blob/90516ebb54b7edab52299d717191134c2bf15a9e/torchio/transforms/augmentation/spatial/random_elastic_deformation.py#L165-L172

Yes! I've always thought this would be good for reproducibility, but then forget to implement it. Do you have a link so that I can take a look?

[2020-05-07 09:42] romainVala commented on #142
Ok, great, then it is not needed

Well I did it very simply, I just copy the apply_transform, and add an argument

    def apply_given_transform(self, sample: Subject, bspline_params) -> dict:
        for image_dict in sample.get_images(intensity_only=False):
            if image_dict[TYPE] == LABEL:
                interpolation = Interpolation.NEAREST
            else:
                interpolat

[2020-05-11 02:39] jillianlee opened #143 "2D Tensor Support"
The transforms in your package are incredibly useful and unique, but for my project I need to apply them on 2D images.

I can likely develop a work-around using the 3D transforms, however I saw on issue #22 and issue #53 that you have previously discussed implementing 2D image support and have since closed these issues. Despite these issues being marked resolved, when using the transforms with the

[2020-05-11 11:29] fepegar commented on #143
Hi @jillianlee,

Which transforms would you like to use?

I'm not planning to add 2D support, for now. I think there are other wonderful libraries that can be used for that, such as `albumentations`, `imgaug` or `augmentor`.

[2020-05-11 16:20] jillianlee commented on #143
Ah, I see. Thank you for the clarification, I was just a bit confused given the previous issues.

I was most interested in the bias field, motion, and ghosting artifacts. Thank you for referring me to these packages though!

[2020-05-11 16:23] fepegar commented on #143
No worries! I'll consider adding 2D support for those in the future.

[2020-05-12 13:16] GFabien commented on #6
Hi @fepegar, we will probably use the `LabelSampler` soon so I was wondering if there were any news regarding this issue.

I thought we could use the same signature with an extra argument that would be a list of probabilities for the different values in the label with default as `[1/n] * n` with `n` the number of different values. Checks would be added to make sure the length of the given list is

[2020-05-15 11:09] fepegar commented on #100
@all-contributors please add @surajpaib  for ideas

[2020-05-15 11:16] fepegar commented on #127
@all-contributors please add @bcdarwin for ideas

[2020-05-15 11:28] fepegar commented on #6
I'll take a look at this next week. Before I forget, this is related to #50.

I think we can follow NiftyNet's approach, i.e. using weighted samplers. Then a label sampler would be a specific case, where the label map can be used as a weight map. They can be tricky, this needs to be done carefully (https://github.com/NifTK/NiftyNet/issues/432).

[2020-05-20 07:25] GFabien opened #159 "Make all transforms able to use primitive type attributes"
**🚀 Feature / Improvement**
Hi @fepegar! It would be great to have all transforms able to use primitive type attributes to handle most use cases but for now `image_interpolation` for a few transforms must be one of the types in `torchio.Interpolation` and `HistogramStandardization` requires numpy arrays and extra work from the user to apply it to his dataset compared to most transforms (it may be

[2020-05-20 08:13] fepegar commented on #159
Hi @GFabien,

I think that makes a lot of sense. Enums are nice, but I've never been too happy with the implementation. Maybe the interpolation can be retrieved from the `Interpolation` class with e.g. `getattr(Interpolation, 'nearest'.upper())`. Also, I wonder if we should deprecate the use of `Interpolation` as an argument.

Maybe the way to go for `HistogramStandardization` is to make it able t

[2020-05-20 09:21] GFabien commented on #159
Yes I think `getattr(Interpolation, 'nearest'.upper())` would be a nice way to do it. I suggested to be able to use an integer as well because in the `Resample` class there's a clear mapping between the different interpolation names and the interpolation order so that can also be an option. What do you think about it? I think you're right, deprecating the use of `Interpolation` as an argument is p

[2020-05-20 09:53] romainVala commented on #159
Hi there
about HistogramStandardization
I thing that this flexibility is important from a computation time point of view: getting the histogram for the all dataset can be very long.

Having only one call, as you propose, may be a good idea, (for simplicity on small dataset) but there need to be the possibility to save and load from file.
So the way I see, will be to have an output_file argument an

[2020-05-20 10:12] fepegar commented on #159
@GFabien

I prefer to use strings for interpolation to be more explicit. `Resample` converts to integer because NiBabel expects an integer representing the spline order. If I understand correctly, a spline of order 0 is equivalent to nearest neighbor, 1 is linear, etc.
The supported values can be retrieved as `supported_values = [key.name.lower() for key in Interpolation]`.

I'm not sure about tha

[2020-05-20 10:23] GFabien commented on #159
The supported values can be retrieved as supported_values = [key.name.lower() for key in Interpolation].

Ok perfect. I totally agree!

Ok, I guess it is done only using a subset of the dataset and probably not taking samples randomly as you want to have some samples from each different scanner for example. I now better understand why it is done this way and it makes sense. Thanks!

[2020-05-20 10:30] fepegar commented on #159
I typically use the only training set to train the histogram, to avoid [data leakage](https://machinelearningmastery.com/data-leakage-machine-learning/). Then you use the landmarks to standardize training, validation and test sets during training.

[2020-05-20 10:32] GFabien commented on #159
Yes sure, but are you using your whole training set to train the histogram then?

[2020-05-20 10:38] fepegar commented on #159
Let's say I have 1000 subjects. I randomly split them into 800 for training, 100 for validation, 100 for testing. I'd use the 800 to train the histogram.

[2020-05-20 11:13] romainVala commented on #159
I am not convince that  taking the all population may induce data leakage since it is used only to compute a mean histogram

but this is the way scaller are used in sklearn so I gess it make sense,

but I am alway interested to better understand

[2020-05-20 11:20] fepegar commented on #159
You're using information from the outside the training set to train the model, that's definitely data leakage :) There's more info in the link I posted above. That's why sklearn does it that way too.

[2020-05-22 10:06] fepegar commented on #159
Reopening as the `HistogramStandardization` case hasn't been handled yet.

[2020-05-22 19:03] marcfi opened #161 "Custom transformations applied to LABEL type"
Hi @fepegar, thanks for this great tool! I've used it today for the first time, and (almost) all functionality worked as intended.

I've stumbled upon a little problem with regard to custom transformations using `torchio.transforms.Lambda`. When using the function as shown in the docs example, e.g.
`new_mask = Lambda(my_func, types_to_apply=[torchio.LABEL])`
the function is never called for `torch

[2020-05-23 06:24] fepegar commented on #161
Hi @marcfi, thanks for the kind words. You're absolutely right! Would you like to contribute with a PR adding `intensity_only=False` in the `Lambda` transforms?

[2020-05-23 07:07] fepegar commented on #143
Hey @jillianlee,

I'm doing some testing. `RandomBiasField` seems to work fine in 2D. This is what I tried:

[code]

This is what they look like:
<img width="635" alt="Screen Shot 2020-05-23 at 08 06 13" src="https://user-images.githubusercontent.com/12688084/82724201-587bef00-9ccc-11ea-925e-6e1793bf89b8.png">

I'll check the rest.

[2020-05-23 07:38] fepegar commented on #143
Random motion:

<img width="609" alt="Screen Shot 2020-05-23 at 08 37 39" src="https://user-images.githubusercontent.com/12688084/82724831-b9a5c180-9cd0-11ea-9ba3-57f0431feb5c.png">

[2020-05-23 07:53] fepegar commented on #143
Random spikes:

<img width="564" alt="Screen Shot 2020-05-23 at 08 52 51" src="https://user-images.githubusercontent.com/12688084/82725143-d7742600-9cd2-11ea-863e-9653ab1a38ab.png">

[2020-05-23 08:03] fepegar commented on #143
Random ghosting:

<img width="567" alt="Screen Shot 2020-05-23 at 09 02 20" src="https://user-images.githubusercontent.com/12688084/82725331-2cfd0280-9cd4-11ea-82d6-c32d3ae905ac.png">

[2020-05-23 08:06] #143 closed

[2020-05-23 08:07] fepegar commented on #143
Would those work for you? Would you like 2D support for other transforms? Adapting the library for this seems easier than I thought it'd be.

[2020-05-23 09:18] #161 closed

[2020-05-23 15:17] jillianlee commented on #143
These all work perfectly for me! Thank you so much!

I don't need any more transforms for 2D, but thank you though. This helps a lot, I really appreciate your work!

[2020-05-23 15:44] fepegar commented on #143
That's great, let me know if you run into any issues!

[2020-05-23 20:14] #22 closed

[2020-05-25 17:03] danieltudosiu opened #165 "How do you load additional information regarding an image?"
I am working with Torch.io version 0.13.9 and I am trying to follow [the example from the docs](https://torchio.readthedocs.io/data/dataset.html#torchio.data.Subject) and it complains that all elements of the dictionary must be instances of torchio.Image what could it be?

[2020-05-25 17:04] fepegar commented on #165
Hi Dan. Can you please try with the latest version?

[2020-05-25 17:15] fepegar commented on #165
I believe that was added in version `0.14.3`.

[2020-05-25 17:54] farazahmeds opened #166 "Is there any example for a classification task ?"
The `subject` class uses `image.nii.gz` and `segmentedimage.nii.gz` for segmentation task but since I want to work with classification, how do I assign `class label` to an  `image.nii.gz`  instead of `segmentedimage.nii.gz`?

Thanks.

[2020-05-25 21:23] fepegar commented on #166
Hi @farazahmeds,

You can assign any kwargs to `torchio.Subject` and `torchio.Image`:

[code]

You can retrieve those attributes when sampling from the dataset.

[code]

[2020-05-26 09:50] GFabien commented on #6
Hi @fepegar! Any update on this issue?

[2020-05-27 09:50] fepegar commented on #6
Sorry, I've been busy. I'll hopefully look into it on Friday.

[2020-05-27 09:55] GFabien commented on #6
No problem!

[2020-05-27 10:48] SamuelJoutard opened #168 "Normalizing a group of images for the same patient"
Hi,

I was wondering how intensity normalizations work when a patient contains multiple images. For instance when we do ZNormalization, are the normalization statistics (i.e. means and std) computing jointly on all images or per image.

To give some more details I see two different use case example which would require two different settings. First, if the images of the patients correspond to diffe

[2020-05-27 11:15] ReubenDo commented on #168
Hi Samuel,

The current normalization is per image.

For unimodal registration, wouldn't it still sometimes make more sense to normalize each image independently? For example, if there is an intensity shift between the two images, only an image-specific normalization would work no?

Reuben

[2020-05-27 11:17] fepegar commented on #168
Hi all,

I agree with @ReubenDo, I was just plotting some histograms to show what happens when you normalize separately or jointly.

[2020-05-27 11:28] fepegar commented on #168
Initial values:
![before](https://user-images.githubusercontent.com/12688084/83013654-4922db80-a015-11ea-9989-f137fd2fa3c1.png)

After ZNorm (top: separate; bottom: joint):
![subplots](https://user-images.githubusercontent.com/12688084/83013736-69eb3100-a015-11ea-85ec-3cf4c4ce1933.png)

(Note the second mode is not centered on 0 because I didn't use foreground masks to compute the values)

[2020-05-27 11:32] fepegar commented on #168
Here's a version using values above the mean (i.e. foreground) to compute the stats (top: independent stats; bottom: joint stats)::
![fg](https://user-images.githubusercontent.com/12688084/83014125-0d3c4600-a016-11ea-8f8a-f9e9e11fca64.png)

[2020-05-27 11:34] fepegar commented on #168
And these are the images I'm using (top: blue, bottom: orange):
![Screenshot](https://user-images.githubusercontent.com/12688084/83014262-4c6a9700-a016-11ea-9eda-0695dd402701.png)

[2020-05-27 11:40] SamuelJoutard commented on #168
Hi all,

Indeed, I agree with you Reuben in case of intensity shift it should be done per image at least for the mean part.

The thing is if you use SSD as similarity measure, and if images are acquired with the same scanner then you definitely want to do joint normalization because otherwise unchanged organs between the two images will have different intensities.

Thank you for those illustration

[2020-05-27 11:44] SamuelJoutard commented on #168
Maybe this is too specific to some use cases so I did not mean to suggest it as a feature request but I guess it could be specified in the documentation in case some people expect joint normalization.

[2020-05-27 11:44] fepegar commented on #168
Ok, then this looks like a feature request :)

What do you think would be a good API for this? Something like `transform = torchio.ZNormalization(joint_stats=True)`?

[2020-05-27 11:45] fepegar commented on #168
It is specific, but I think it makes sense as a feature to add. I'm biased towards (brain) segmentation, so it's good to get input from people working on different tasks.

[2020-05-27 11:57] SamuelJoutard commented on #168
Alright cool then what you suggested looks like a good API for me.

If you want to handle all use cases then `joint_stats` could also be a dictionary with groups of images to be jointly normalized per subjects. For instance for longitudinal registration using multiple modalities, if your subject is:
`subjects_list = [torchio.Subject(moving_MRI=torchio.Image(path_MRI[i], torchio.INTENSITY),

[2020-05-27 12:06] fepegar commented on #168
(@SamuelJoutard I edited your comment to improve a bit the readability)

Yeah, that makes sense. I'll think of a way to do this and hopefully work something out by Friday.

[2020-05-27 12:09] SamuelJoutard commented on #168
Thanks a lot for your help!

[2020-05-27 12:11] fepegar commented on #168
I'll leave this open, as a reminder.

[2020-05-27 13:21] fepegar commented on #165
Closing as @danieltudosiu says it did work.

[2020-05-27 13:21] #165 closed

[2020-05-27 13:22] fepegar commented on #166
Does that work for you?

[2020-05-27 22:15] farazahmeds commented on #166
Thankyou so much, I got it all working.

I have to say you've done a great job, everything is very much stream lined and well documented.

[2020-05-27 22:15] #166 closed

[2020-05-27 22:46] farazahmeds opened #170 "interpolation to make volume depth between volumes equal when loading batches"
My apologies in advance if it doesn't belong here.

I want to use batch size >1 and load entire volumes, but there is difference in `number_of_slices` between volumes

for example:
shape [batch_size, channels, depth, height, width]

[code]

Do you have any advice for me on how do I add interpolation step/what kind of interpolation should suffice (to make depth equal) in the loading pipeline ?

[2020-05-28 07:17] romainVala commented on #170
Hello
having the same matrix since is needed for batch >1 (but also for model where the input size matter)
the easiest way is to use CropOrPad transform (that will add a slice with 0 if missing or remove a slice if too much)

CropOrPad(target_shape=(50,256,256))

[2020-05-28 09:26] fepegar commented on #166
Thank you @farazahmeds :)

[2020-05-28 09:28] fepegar commented on #170
@farazahmeds Your question does belong here.

As @romainVala said, `CropOrPad` should do. Feel free to reopen the issue if it doesn't.

[2020-05-28 09:28] #170 closed

[2020-05-28 09:29] fepegar commented on #159
Fixed by @GFabien in #160 #164.

[2020-05-28 09:29] #159 closed

[2020-05-28 13:04] romainVala opened #171 "add translation in RandomAffine"
**🚀 Feature**
RandomAffin is only perfoming scaling and rotation, why not also small translation ?

**Motivation**

since we want to augment (in order to simulation bad coregistration between subject ... I guess) I think it will be more general to also add translation

I also notice that rotations, and scalling are done relative to the volume origine, which make those transform very specific ... A

[2020-05-28 15:05] fepegar commented on #171
Hey @romainVala,

I haven't added translation because it's usually not helpful for classification or segmentation. I agree that it would be useful for registration, though.

Rotations should be applied around the center. I've been experimenting with [this Slicer module](https://github.com/fepegar/SlicerTorchIO) and it looks fine. Also, I think that should be part of a different issue.

[2020-05-28 17:16] romainVala commented on #171
yes for segmentation with patch based, it is logical, but for classification (or regression) from full brain I am not sure (are you ?)

About rotation center, It is around the point 0,0,0 define by the nifty affine right ?
If yes, it may be dangerous for certain nifty header .(I did not checked ... )
a more safer option is to take the center from the voxel matrix, it could be an other default no ?

[2020-05-28 17:25] fepegar commented on #171
I don't want to get into that, [talk to this guy](https://richzhang.github.io/antialiased-cnns/) 😄

If yes, it may be dangerous for certain nifty header .(I did not checked ... )
a more safer option is to take the center from the voxel matrix, it could be an other default no ?

As far as I know, currently, rotations are around the center of the matrix in world coordinates, not the origin.

Yes, di

[2020-05-29 07:34] romainVala commented on #171
very nice work, indeed !   But it is the opposite of what you just say : CNN is very sensible to translation, unless you take the correct architecture !
I do also experiment a great sensibility in spatial deformation, that is why I am digging into (realistic) data augmentation but I am impatient to give a try to his downsampling strategy (i hope it can be used in 3D too)

Well, a "matrix in world

[2020-05-29 07:53] fepegar commented on #171
Yes! I guess I meant in general people think that CNNs are "translation invariant", but obviously it depends a bit on the downsampling strategy.

I once looked for a 3D implementation and couldn't find it. Let me know if you do!

Sorry, I meant the center of the image.

You're absolutely right! I didn't appreciate it with the two images I tried because the origin was very close to the image center

[2020-05-29 08:18] fepegar opened #172 "Random affine is not applied around image center"
**🐛Bug**

As reported by @romainVala in #171.

[2020-05-29 12:24] #172 closed

[2020-05-29 12:25] fepegar commented on #172
Fixed in https://github.com/fepegar/torchio/pull/173, thanks @romainVala for reporting!

[2020-05-29 12:40] #171 closed

[2020-05-29 19:46] fepegar commented on #6
I just spent some hours on this. See #175.

[2020-05-29 19:49] fepegar commented on #50
FYI I've started working on more efficient samplers in #175.

[2020-05-29 22:50] kahn12345 opened #176 "PyTorch CONV3D takes different Shape input than what Dataloader returns"
I am using TorchIO but my dataloader returns the shape:  ` torch.size([1, 1, 256, 256, 50])`
I'm assuming it's following the order `(batchsize, channel, height, width, depth)`

while the The CONV3D takes in different order [Pytorch Documentation ](https://pytorch.org/docs/master/generated/torch.nn.Conv3d.html)

`(batchsize, channel, depth, height, width)`

Since I am new to TorchIO, I am not sure

[2020-05-30 07:16] fepegar commented on #176
Hi @kahn12345,

That should work. Why do you assume `B, C, H, W, D`? Anyway these names don't really make sense for 3D medical images. I just use them in the docs to follow PyTorch syntax. The important thing to know is that PyTorch doesn't permute any dimensions internally, so what you get is the original images shape.

In medical images, the name of each dimension would depemd on the image orien

[2020-05-30 15:34] kahn12345 commented on #176
_Why do you assume `B, C, H, W, D`?_

The dataset I am using contains 256x256 slice resolution with 50 slices per volume,greyscale, with batchsize=1  I assumed the shape `B,C,H,W,D` .

So the last time I was working with non-medical images, 2D Images, I was following the representation `[batch_size, channels, height, width]` during training since in my model, `nn.Conv2D()` takes in the input takes

[2020-05-30 22:56] fepegar commented on #176
I suggest you ignore the concepts of depth, width and height for medical images and start thinking in 3D and anatomical axes.

Here are some links about medical images that I've always found very useful:
https://nipy.org/nibabel/nifti_images.html
https://nipy.org/nibabel/coordinate_systems.html
https://nipy.org/nibabel/image_orientation.html
https://www.slicer.org/wiki/Coordinate_systems
https://f

[2020-05-30 23:03] fepegar opened #177 "Attribute access to Image and Subject does not work"
**🐛Bug**
[code]

This bug was introduced in https://github.com/fepegar/torchio/commit/e39d51afdeb34810a000dd3c5e8848b7bbd78be3.

[2020-05-31 01:09] #176 closed

[2020-05-31 16:28] fepegar opened #178 "Use lazy loading for Image class"
**🚀 Feature**
Make `Image` a lazy loader.

**Motivation**

Because of the initial design of the library, a subject needs to be passed through an `ImagesDataset` so that the data can be extracted:

[code]

**Pitch**

It would be great to have properties such as data and affine that would load the data once queried, without the need to go through a dataset class.

[2020-06-01 10:59] fepegar commented on #6
Let me know if that implementation would work for you and I'll merge the changes ASAP.

[2020-06-02 14:29] fepegar opened #179 "Increase tests coverage"

[2020-06-02 14:30] #6 closed

[2020-06-02 14:30] #50 closed

[2020-06-02 14:30] #128 closed

[2020-06-03 07:26] romainVala commented on #177
very strange,
I get an error when I do
[code]
but not when I do

[code]

[2020-06-03 07:57] romainVala commented on #177
the bug is not only related to the affine there is also a problem with the data
[code]

[2020-06-03 08:01] fepegar commented on #177
Your first post is not a bug. You need to first instantiate the transform and then call it (it happened to me with this transform as well, a couple of days ago).

For your second post, yes. That's definitely related to this issue. I'm going to remove the attribute access, as [_There should be one—and preferably only one—obvious way to do it._](https://en.wikipedia.org/wiki/Zen_of_Python).

[2020-06-03 10:44] #177 closed

[2020-06-03 22:16] farazahmeds opened #180 "Is there a convenient way to plot a slice from a patient volume?"
Is there any convenient way to display for example nth-slice of subject `image` of `subjects_dataset[0] ` ?

I want to visualize slices as I apply tranforms to them, the only thing I came  up with is converting the the 3D Tensor back to .nii image and from that plotting the slice.

Can you suggest any convenient method ?

Also I went through 3D-UNET Tutorial example unfortunately I was not able to

[2020-06-03 23:22] fepegar commented on #180
What about this:

[code]

![Figure_1](https://user-images.githubusercontent.com/12688084/83698440-559cca80-a5f9-11ea-927e-ae4dbeaad1f8.png)

Did you solve the visualization issues on Colab?

[2020-06-03 23:32] fepegar commented on #180
Btw you can easily make that figure prettier using a more natural colormap, a proper orientation, world coordinates...

[code]

![Figure_2](https://user-images.githubusercontent.com/12688084/83699033-ea53f800-a5fa-11ea-848a-00cfe6dcac11.png)

[2020-06-04 06:43] romainVala commented on #180
Hello

nibabel, has also a very simple 3D viewer, but it can be useful

[code]
We develop a viewer, to look at several subject at the same time. The nice feature, is that it can take the  torchio.ImagesDataset, so if the image dataset is instanced with a transform you will see the transformed data.
This is still in development, so to be taken with care, but you can give a try if you are interested

[2020-06-04 09:21] GFabien opened #181 "Use patch_overlap in patch based inference"
Hi @fepegar I have trouble with the use of the `patch_overlap` attribute in the patch based inference pipeline. Indeed, reading [NiftyNet tutorial](https://niftynet.readthedocs.io/en/dev/window_sizes.html) I thought I did not need to use `patch_overlap` (i.e. keep it to 0).

However, after some experiments I've seen that I get much better results using a non zero `patch_overlap` (4 for example) wh

[2020-06-04 09:32] fepegar commented on #180
@romainVala I get an error when trying to use that viewer:

[code]

Has this happened to you too?

Also, can you share a screenshot of the output of your `PlotDataset`? It looks good!

[2020-06-04 09:38] fepegar commented on #181
I'm not sure I follow. Do you have some visualization or some code to reproduce? Is this maybe an issue related to [volume padding before inference](https://niftynet.readthedocs.io/en/dev/config_spec.html#volume-padding-size)?

[2020-06-04 09:52] GFabien commented on #181
Here are two inferences from the same model, the left one is made with a `patch_overlap` of 0 while the right one is made using a `patch_overlap` of 4.
![wrong_border](https://user-images.githubusercontent.com/39873986/83742017-2cac2200-a659-11ea-88d3-617eac3dba3d.png)
You can see on the right one a thin greenish border around the volume which comes from the `GridAggregator._output_tensor` but not

[2020-06-04 10:01] fepegar commented on #181
Thanks for the screenshot. I'll look into this tomorrow (I'm trying to work on the library only on Fridays, I have a PhD to do 😅).

In the meantime, I recommend you stop using jet (I guess here)
https://github.com/romainVala/torchQC/blob/56e46f43c88a12a1885edce3646dff47d448a3dd/plot_dataset.py#L242

and switch to a [perceptually uniform colormap](https://bids.github.io/colormap/). I like using [di

[2020-06-04 10:03] romainVala commented on #180
I did not see such errors, may be @GFabien  has an idea (since it is its first works ... many thanks to him!)

Well this is a very preliminary work, and there are already quite a lot of parameters, which should make it very modular,
What I really appreciate it the possibility, to compare a lot of subject
Here is an example where I choose 2 view per subject

[code]

![h2_orig_val_hcp_T1_rescal](htt

[2020-06-04 10:05] fepegar commented on #180
Awesome work! Does it assume RAS orientation?

P.S.: I got the error on the NiBabel viewer, not yours!

[2020-06-04 10:07] fepegar commented on #180
Also this Slicer module can be used to experiment and visualize: https://github.com/fepegar/SlicerTorchIO

I'm working on publishing it in the official extension repository.

[2020-06-04 10:14] romainVala commented on #181
come on ! that library could become more important than your phd  (for sure more usefull)
just joking, I understand, I hope you still manage both

[2020-06-04 10:26] fepegar commented on #181
😂 that's an open secret! Thanks Romain!

[2020-06-04 10:29] romainVala commented on #180
no, I use it from a long time, (it is basic but usefull and quick)
(nibabel version 3.0.0

[2020-06-04 11:07] GFabien commented on #180
No it does not, if you want to ensure RAS orientation you have to do it at the dataset level.

What I like most about this viewer is that you can scroll to navigate between your views to investigate your whole volume!

[2020-06-04 11:13] GFabien commented on #181
Haha yes I understand! If you need help regarding some issues I'll be glad to give a hand!

[2020-06-04 11:28] romainVala commented on #180
We want to show to data exactly as it is deliver by torchio, so as pointed by Fabien you could add the transform. (and if not, you should see the difference, ... (depending of your dataset of course)

but a possible improvement would be to provide the information with a text legend, showing where is the patient's RAS is on the plotted slice. (doing so would be nice to demonstrate the role of torch

[2020-06-04 13:31] farazahmeds commented on #180
Thanks it did work, but there is a problem, the image width gets cropped for some reason.

here is an example, it's supposed to be 255x255

https://i.imgur.com/4kDvxRH.png

[2020-06-04 13:36] fepegar commented on #180
This looks like your image is anisotropic, i.e. voxels are not cubes.
Matplotlib doesn't understand anisotropic pixels. I think you can play with
the extent and aspect of `imshow`.

You could preprocess your images with `torchio.Resample` to make them
isotropic before processing them.

On Thu, 4 Jun 2020 at 14:31, Faraz Ahmed <notifications@github.com> wrote:

[2020-06-04 13:38] farazahmeds commented on #180
Ahh that makes sense, I'll do just that. Thanks!

[2020-06-04 13:40] fepegar commented on #180
I've added a `spacing` property that you can use to check your image spacing within TorchIO:

[code]

[2020-06-04 13:43] fepegar commented on #180
Actually, now that I look at it again, your image does not look 255 x 255 but something like 255 x 58. You might be along the wrong axis.

If you print the `image.orientation`, `image.spacing` and `image.shape` that'll give us more information to help you.

You can slice other axes:
[code]

[2020-06-04 13:50] farazahmeds commented on #180
yea now it makes sense it loads incorrectly, I am getting `shape (256, 256, 57)`
57 being the width.

[2020-06-04 13:53] fepegar commented on #180
Great! Why do you assume that shape? The concept of "width" is not well defined in medical images. See https://github.com/fepegar/torchio/issues/176.

[2020-06-04 13:55] GFabien commented on #181
FYI I investigated the issue and changing the `GridAggregator` `add_batch` method solves my problem but I think the best solution would be to pad the image by an amount of `patch_overlap` and crop the output_tensor back to the original shape when calling `get_output_tensor`.

My quick and very dirty fix looks like that:
[code]

[2020-06-04 13:57] fepegar commented on #181
Thank you! This will definitely help me understand.

[2020-06-04 14:09] farazahmeds commented on #180
ahh yea it's R A S

Is there any work around that ? should I permute the axes before loading ?

[2020-06-04 14:12] fepegar commented on #180
It depends on what plane you want to visualize. You can just plot `data[..., n_slice]`. Here's some code that might be helpful:

https://github.com/fepegar/miccai-educational-challenge-2019/blob/94067cdb99830ea21e51964ac9c20a34c28aaea4/visualization.py#L113-L173

[2020-06-05 09:41] romainVala commented on #180
your RAS annotation are wrong ...
I quickly test the plot_volume_interactive function, but it was not interactive ... is it suppose to move slices by mouse click ?

[2020-06-05 09:43] fepegar commented on #180
How do you know they're wrong? Note that the function assumes the input images are RAS.

The interactive version should work on a Jupyter Notebook, maybe on IPython too. Is that were you tried?

[2020-06-05 09:49] romainVala commented on #180
sorry they are correct, I was expecting (R L on the image) but you put it on the axes, ok (may be it will be clearer, to put AP RL SI instead)
yes I try it on a ipython consol

[2020-06-05 09:53] fepegar commented on #180
Exactly, they're not meant to be labels as in FSL, but standard axes labels, like x or y.

If it doesn't work on IPython, you can try on a notebook here: https://colab.research.google.com/drive/1vqDojKuC4Svb97LdoEyZQygm3jccX4hr

[2020-06-05 11:24] fepegar commented on #181
So I've started to look at these classes and I really want to refactor them, because it's hard to know what's going on. They are from the early days of this library and almost pasted from NiftyNet. Also, I stopped doing patch-based training so I haven't paid much attention to samplers and aggregators (until now).

For now, I think that the grid sampler is not working properly:

[code]

Output:

[c

[2020-06-05 11:46] GFabien commented on #181
Yes I agree that the locations you pointed out are strange, I will have a look too

[2020-06-05 11:49] fepegar commented on #181
For now, I think I have a much more compact way of getting the indices:

[code]

[2020-06-05 13:36] GFabien opened #183 "Queue does not take full advantage of multiprocessing"
**Enhancement**

`Queue` has a `num_workers` attributes to take advantage of multiprocessing to load faster the samples. However, if samples are loaded in parallel, patches are extracted in the main process whatever the `num_workers` value is which can greatly augment loading time.

**To reproduce**
[code]
This code yields the result `76.48914761...`

**Generating patches in workers**
The code now

[2020-06-05 16:18] fepegar commented on #181
So if I understand correctly, you¡re not cropping patches at the border of the volume. This seems like a good solution to me, I think it's easier to implement than padding and cropping, and makes sense conceptually.

[2020-06-05 16:32] wendy-xiaozong opened #184 "Using tensor to build torchio.Image"
I am using tensor to build the torchio.Image like this:
[code]
`img, label` are three dimension tensors.
When I am trying to run this code `for batch_idx, batch in enumerate(loader):`
`loader` is `torch.utils.data.DataLoader` classd
I run into this error:
[code]

I'm a newbie to pytorch, just started to write it a few days ago. I do not know what I did wrong. Also. thanks a lot for writing this to

[2020-06-05 16:40] romainVala commented on #181
yes, make sense

[2020-06-05 17:17] fepegar commented on #184
Thankfully I just got this error too! I'll commit the fix in a second.

[2020-06-05 17:21] #184 closed

[2020-06-05 17:21] fepegar commented on #184
Fixed in `v0.16.21`. Thanks for reporting!

[2020-06-05 18:27] farazahmeds commented on #180
----
I tried changing the axes and it displays the image correctly, the default torch.Size([1, 256, 256, 56]) return from  `torchio.ImagesDataset` seems at fault ?

[sample = torchio.ImagesDataset([patient_one])[0]
data = sample['t1']['data'].numpy()[0]
print (sample['t1']['data'].shape)   #Shape ([1, 256, 256, 56]) //ImagesDataset doesn't seem to return correct shape?
plt.imshow(data[n_slice]) #c

[2020-06-05 20:30] fepegar commented on #180
You just need to slice your 3D volume along the third axis, which is the one that goes from inferior (slice 0) to superior (slice 55), if your image is RAS.

[code]

[2020-06-05 23:26] fepegar opened #185 "Specify axes with anatomical labels"
**🚀 Feature**

Add support to pass anatomical labels instead of axes numbers.

**Motivation**

It would be nice to be able to specify axes with anatomical labels such as L, R or A, instead of 0, 1 and 2. The numbers could be inferred from the orientation in the image header. That way, the user wouldn't need to know how the image is oriented when choosing the axes for a transform such as `RandomFli

[2020-06-07 18:55] #181 closed

[2020-06-08 16:12] danieltudosiu opened #187 "Non-Image components are not batch-ified"
When I am loading additional data that is not an image, such as tabular data or npy files they do not get batch-ified in a single tensor, but are returned as a list of tensors. Is there any way to batch-ify them automatically?

[2020-06-08 16:13] fepegar commented on #187
Hi @danieltudosiu,

Do you have some code I can use to reproduce this?

[2020-06-08 16:22] danieltudosiu commented on #187
I found the problem. Every element in a subject dictionary must be passed as a numpy array otherwise it will be made a tensor individually and it will not be batch-ified.

[2020-06-08 16:24] fepegar commented on #187
Not sure what you mean about this. Some code to illustrate the problem and the solution would be much appreciated!

[2020-06-08 16:28] danieltudosiu commented on #187
Problematic code:

[code]

Working code:

[code]

[2020-06-08 16:41] fepegar commented on #187
Right. This is not a TorchIO bug, it's related to how PyTorch `default_collate` function works. Here's a minimal working example reproducing what you mention. You can use it if you want to report this in their repo:

[code]

Output:

[code]

I'm going to close this, feel free to reopen if further discussion is needed.

[2020-06-08 16:41] #187 closed

[2020-06-09 08:00] romainVala commented on #185
is there other transform that will use it ?

[2020-06-09 09:19] fepegar commented on #185
Yes, `RandomGhosting`.

[2020-06-11 18:59] wendy-xiaozong commented on #184
Thanks! it is working now!

[2020-06-13 23:32] hikmet-demir opened #189 "Understanding Torchio.LABEL vs Torchio.INTENSITY"
Hi,
I'm trying to understand and select which one of them to use, I couldn't see clear description of them so here we are.

my transformation are very basic for now
`#TRANSFORMATIONS on Traning
training_transform = Compose([
    Resample((2, 2, 2)),
    RescaleIntensity(
        out_min_max = (0,1),
        percentiles = (0.5,99.5)
    )
])`

RescaleIntensity transformation happens when I choose t

[2020-06-14 21:25] fepegar commented on #189
Hey @hikmet-demir,

You're right that the docs are not very explicit about it. I'll work on that. The docs for `Image` describe this a bit: https://torchio.readthedocs.io/data/dataset.html#image

[2020-06-15 13:40] romainVala opened #190 "transform history : save the original order"
**🚀 Feature**
It would be nice to have a way to store the transform's order in the history

**Motivation**
I thought that the list order in the history struct one get from Subject would reflect the transform order, but it seems not to be the casee (the list order seems not to be consistent ...)
**Pitch**

Not sure if it is the best way, but I can imagine a field number of transform in the history,

[2020-06-15 13:43] fepegar commented on #190
I'm surprised that the order is not kept, as the history is just a list:
https://github.com/fepegar/torchio/blob/0e8172c3253050fcbf309989b57cdf9e81a3cc6c/torchio/data/subject.py#L58

Do you have a snippet to reproduce this?

[2020-06-15 13:56] romainVala commented on #190
may be I am wrong, I'll check a second time, and let you know

[2020-06-15 15:01] romainVala commented on #190
ok sorry, it was my fault
(I was confused because of the use of oneOf so the index number was changing)
but you're right the transform order is correct,
great job
++

[2020-06-15 15:40] romainVala opened #191 "Seeding in Transform, make the same transform all the time"
**🐛Bug**
I notice it at least for RandomAffine RandomElastic and RandomNoise

**To reproduce**
[code]

Now change seed=10 to seed=None and you get a diferent number each time

I thing it is due to this line
https://github.com/fepegar/torchio/blob/0e8172c3253050fcbf309989b57cdf9e81a3cc6c/torchio/transforms/augmentation/random_transform.py#L32

it should not be called here, juste once in the init()

[2020-06-15 15:47] romainVala commented on #191
may be it was intended so, and this is my understanding of seeding which is different ...

I thought it would produce a different number each call, (but If I run it again, I would get the same number)

[2020-06-15 16:14] fepegar commented on #190
Ok, thanks @romainVala.

[2020-06-15 16:14] #190 closed

[2020-06-15 16:17] fepegar commented on #191
Hi @romainVala,

This point of setting the seed is to get the same results every time. Maybe a better name for the argument would be [`random_state`](https://scikit-learn.org/stable/glossary.html#term-random-state).

[2020-06-15 16:18] fepegar commented on #191
Here's some more information about reproducibility in PyTorch: https://pytorch.org/docs/stable/notes/randomness.html

[2020-06-15 16:20] romainVala commented on #191
hmm, but if you get the same results for each call, it is no more a random transform ...
my understanding of reproducibility is to get the same sequence of random transform non ?

[2020-06-15 16:28] fepegar commented on #191
AFAIK random numbers in the libraries we use are generated using pseudorandom number generators. I suppose they're actually _pseudorandom_ transforms :)

[code]

You can set a global (`torch`) seed once at the beginning of your training to make your runs reproducible. If you want, for some reason, to generate the same transform with the same parameters twice, you can use the `seed` kwarg of the tr

[2020-06-15 16:44] romainVala commented on #191
ok, this was then my understanding of seed keyword in the transform that confuse me (you should specify more this behavior in the doc )

I do not really see any case where this may be useful ...
(I had a use case where I want a specific transform like a rotation of 10, then I use RandomAffine with degree=(10,10) for that ... )

Anyway as you want:
I just need to remove seed argument, for all my tr

[2020-06-17 10:44] fepegar opened #192 "Add BITE dataset to datasets"
[BITE: Brain Images of Tumors for Evaluation database](http://nist.mni.mcgill.ca/?page_id=672).

[2020-06-17 17:23] farazahmeds opened #193 "resizing the image instead of using CropOrPad?"
Quick question, Is it possible to to resize the image instead of using `CropOrPad` ? like `torchvision.transforms.Resize` transform ? I basically want to make use of interpolation methods to assign new target shape.

[2020-06-17 17:29] fepegar commented on #193
Hi @farazahmeds,

I haven't implemented a `Resize` transform, but you can probably use `Resample` for this.

If your image has n1 = 100 voxels along a certain dimension with spacing s1 = 1.25 mm and you want it to have n2 = 75 voxels, you can compute a target spacing for that dimension and pass it to [`Resample`](https://torchio.readthedocs.io/transforms/preprocessing.html#resample), knowing that

[2020-06-17 17:30] fepegar commented on #193
May I ask why you want to resize your images like this? I have never needed to do this with medical images.

[2020-06-17 17:46] farazahmeds commented on #193
I didn't need it either, it was one of those things my supervisor wanted me to change for no obvious reasons. Rest assured I was doing well without Resize function.

Thanks for such a prompt reply.

[2020-06-17 17:49] fepegar commented on #193
Ah, supervisors. They probably forgot the right vocabulary for such low-level operations.

Please let me know if that worked for you.

[2020-06-17 18:27] farazahmeds commented on #193
@fepegar another quick question,  maybe I found the use case for sampling ?

I was using BraTS and without `CropOrPad` transform my GPU was out of memory even with `batch_size=1`.

The issue is that the minimum amount of cropping (HxW) it took just to run (and not be out of memory) also cropped the brain part (see picture).

Do you think resampling would help in this case ?

[2020-06-17 18:50] fepegar commented on #193
Yes, resampling would make your voxels larger by keeping the same physical size, so your image would have fewer voxels and therefore would use less memory. However, it's a lossy operation and you probably don't want that. How much memory do you have in your GPU?

Things you can try:
1. [Patch-based training](https://torchio.readthedocs.io/data/patch_based.html)
2. [Mixed precision](https://github.

[2020-06-17 18:57] fepegar commented on #193
Resizing an image means resampling it, if you think about it. You're reducing the number of samples (pixels/voxels) while keeping the field of view by reducing the sampling rate (e.g. keeping every other voxel in an image). This is the equivalent of using resample and specify a larger target spacing than the original one.

In computer vision, you typically don't care about the pixel size because i

[2020-06-17 19:02] fepegar commented on #193
Here's a paper by @ReubenDo that used patch-based training successfully with Brats data (patches of size 112x112x112): [Hetero-Modal Variational Encoder-Decoder for Joint Modality Completion and Segmentation](https://link.springer.com/chapter/10.1007/978-3-030-32245-8_9).

[2020-06-17 19:09] farazahmeds commented on #193
I have total of  7.80 GB. Yea Patch-training makes sense here.

[2020-06-17 19:13] farazahmeds commented on #193
Thanks for all the input mate, I will let know you know if the patch-based training worked. For now I'm closing the issue.

[2020-06-17 19:13] #193 closed

[2020-06-17 19:14] fepegar commented on #193
No worries, good luck! I strongly suggest you try mixed precision, it's worked very well for me in the past.

[2020-06-17 19:49] farazahmeds commented on #193
I did not know it would be that easy!! I literally just replaced 3 lines, and memory usage is under. I have to read up on how it works, but I am sure amazed!

I am not loosing any information now, I am up from 140x140x155 to 230x213x155

:D

[2020-06-17 19:51] fepegar commented on #193
Glad to hear that! But beware, you are actually losing a bit of information when using 2 bytes for your float variables in the convolutions instead of 4.

[2020-06-17 19:55] farazahmeds commented on #193
ahh okay. I think it's still not as much of a compromise as using interpolation to scale down images. I think will talk with my supervisor and hopefully he'd agree with me on this one.

[2020-06-18 18:53] wendy-xiaozong opened #194 "The label value changed"
My label value is probability between [0, 1], however, the output of my validation label value becomes this:
max targets: 0.18760673701763153
min targets: -77.21928405761719
my training set and validation set both changed, but training set change smaller, it become like this:
training max targets: 2.3406858444213867
training min targets: -0.5744394063949585
this is my transform code:
[code]
`ToRes

[2020-06-18 20:58] fepegar commented on #194
How do you initialize your `Image`s? Are you setting the type of your labels to `torchio.LABEL`?

[2020-06-18 21:09] wendy-xiaozong commented on #194
What do you mean by initializing `Image`s?
Yes, I have set the labels to `torchio.LABEL`

[code]
And I get the image like this:
[code]

[2020-06-19 13:09] fepegar commented on #194
I haven't been able to reproduce the problem with this code:

[code]

Output:

[code]

Do you have a minimal working example + some data that you can share? I can give you my email if you prefer.

[2020-06-19 13:25] fepegar commented on #194
I guess I should've said _instantiate_ instead of _initialize_.

[2020-06-19 13:29] fepegar commented on #194
By the way, do you think a `Resize` transform in TorchIO would be useful? See discussion in https://github.com/fepegar/torchio/issues/193.

[2020-06-19 14:18] wendy-xiaozong commented on #194
Can you give me your email, I do write a minimal working example with several data.

Maybe because I am using the pytorch-lightning, I do not receive this warning before. maybe it is relative?
[code]

[2020-06-19 14:24] fepegar commented on #194
Great! It's fernando.perezgarcia.17@ucl.ac.uk.

I also just started using it. I hope it's not ignoring warnings.

However, I think I know where the problem might be. The default pad value for `RandomAffine` is computed using values at the border. I think that still happens for `LABEL` images, but it shouldn't. Can you confirm that your labels have positive values on the image border? I'll try on m

[2020-06-19 14:31] fepegar commented on #194
Well, I just tried and that doesn't seem to be the problem. Please send me that code and data and I'll debug locally.

[2020-06-19 14:31] wendy-xiaozong commented on #194
I have read this issue, I do think maybe a `Resize` would help me because I am using Nifti file format in these dataset: [CC359 dataset](https://sites.google.com/view/calgary-campinas-dataset/home), [ADNI dataset](https://doi.gin.g-node.org/10.12751/g-node.aa605a/). And in this dataset, the Nifti file have different image sizes. However, I need the image size to be all the same so I could put them

[2020-06-19 14:34] fepegar commented on #194
If you just resize the images, your voxel spacing (resolution) will change, you probably don't want that. You might want to switch to using `Resample` + `CropOrPad` instead.

[2020-06-19 14:50] wendy-xiaozong commented on #194
That's a good idea. I definitely would do that way. Thanks for it! I am still waiting for the file to upload to onedrive, wait a minute

[2020-06-19 16:24] fepegar commented on #194
This is the problem:

[code]

The right keyword is not `label`, but `type`. The problem was that your label images were being instantiated as intensity images, and `ZNormalization` was being applied to them. As you selected `mean` as masking method, the values used to compute the mean and std were all ones. Therefore, infinite values were generated at the output of znorm and this was propagated un

[2020-06-19 16:38] fepegar commented on #194
This is the problem:

[code]

The right keyword is not `label`, but `type`. The problem was that your label images were being instantiated as intensity images, and `ZNormalization` was being applied to them. As you selected `mean` as masking method, the values used to compute the mean and std were all ones. Therefore, infinite values were generated at the output of znorm and this was propagated un

[2020-06-19 16:48] #194 closed

[2020-06-19 19:01] fepegar commented on #183
That's impressive, thanks @GFabien. I've been doing some testing after understanding your code.

Extracting the patches used to be much faster, that's why I was doing it in the main process. Now it seems very slow, I must have changed the behavior somewhere. I'll see if I can get shorter times and if not I'll implement what you suggest.

[2020-06-19 20:06] fepegar commented on #183
Ha. I'm running this code:

[code]

It takes 17.5 seconds to sample the patches.

I just discovered [`py-spy`](https://github.com/benfred/py-spy), which I'm probably going to use every day for the rest of my life. I ran it on the script and got this beauty:

[code]

etc. `GetImageFromArray` is eating everything up! This happens because `Crop` is now used to crop the samples, which was introduced 1

[2020-06-19 22:28] fepegar commented on #183
That being said, it still looks slow, so your approach will probably help.

[2020-06-19 22:33] MonsieurWave opened #195 "Is torch 1.2 still mandatory?"
IterableDataset seems to have been removed as of #175, therefore torch>=1.1 could be sufficient.
This is in interest of many people still relying on CUDA 9.

https://github.com/fepegar/torchio/blob/0e8172c3253050fcbf309989b57cdf9e81a3cc6c/setup.py#L20

[2020-06-19 22:36] fepegar commented on #195
You're absolutely right. Would you like to open a PR?

[2020-06-20 01:46] wendy-xiaozong commented on #194
Oh! yes you are right. Thanks for your time.

[2020-06-20 05:16] MonsieurWave commented on #195
Here you go.

[2020-06-20 08:58] #195 closed

[2020-06-20 10:04] GFabien commented on #183
Thanks for digging into it! py-spy seems super nice!

I'll try to dive into the problem this week. I'm not sure my solution is better in every situation, it seems it works well when many patches are sampled but it is not that clear when the number of patches is small...

It would be interesting to investigate precisely the implications of sampling in the workers and if there are both advantages an

[2020-06-20 13:52] MonsieurWave opened #198 "Bug: Random Transform on tensor returns Subject when not applied"
**🐛Bug**
When a transform is called on a **tensor** but not applied because of its probability p, a **Subject** is returned.

**To reproduce**
[code]
**Expected behavior**
Transform should always return same type as input

**TorchIO version** 0.16.25

**Proposed Change**
https://github.com/fepegar/torchio/blob/89b76415c2fef5b9533e68c2e7ab20fff8b8c3f7/torchio/transforms/transform.py#L54
Transform c

[2020-06-20 14:48] fepegar opened #200 "Avoid unnecessary copies when the input of Transform is a tensor"
There is no need to `deepcopy` the input sample in `Transform` if it is a tensor, as it will be performed by `ImagesDataset._get_sample_dict_from_subject` anyway.

https://github.com/fepegar/torchio/blob/89b76415c2fef5b9533e68c2e7ab20fff8b8c3f7/torchio/transforms/transform.py#L45-L55

https://github.com/fepegar/torchio/blob/89b76415c2fef5b9533e68c2e7ab20fff8b8c3f7/torchio/data/dataset.py#L130-L136

[2020-06-20 14:59] #198 closed

[2020-06-20 15:03] #200 closed

[2020-06-20 15:11] fepegar commented on #17
Probably not needed after 476c54afd974f8c0b4ee15ae71fa6fac9be21326.

[2020-06-20 15:11] #17 closed

[2020-06-20 23:27] fepegar opened #202 "ZNormalization is slow"
`ZNormalization` is a very simple transform that should be very fast, but it's not.

Script:

[code]

Output:

[code]

On:

[code]

[2020-06-20 23:31] fepegar commented on #202
Refactoring `znorm`:

[code]

Output: `8.5 +- 1.8 seconds`.

[2020-06-21 09:44] fepegar commented on #202
Using `Colin27(year=1998)`:

Before: `718.5 +- 54.8 ms`.
After: `257.9 +- 22.4 ms`.

[2020-06-21 09:50] #202 closed

[2020-06-21 11:58] #189 closed

[2020-06-21 14:48] fepegar commented on #183
I run out of RAM very quickly using the script below with the changes in #201, so I'm going to close that and this for now. Feel free to reopen.

[code]

[2020-06-21 14:48] #183 closed

[2020-06-21 16:35] fepegar opened #203 "Add support to take more types as transform input"
- [x] Python dictionaries
- [x] SimpleITK image
- [x] `torchio.Image`s
- [ ] NiBabel images
- [ ] 5D tensors (batches of 4D tensors)
- [ ] PIL images
- [ ] path

[2020-06-22 07:17] romainVala commented on #202
Hi fernado,
sound goods,  just to understand, changing :
tensor = tensor + noise
to
tensor += noise

avoid a copy variable ??
you gain a factor 4 which is nice, but 8 s to compute the Znorm is still big, ... How it comes ? (I though it would be less that 1s .)

By the way it was good to have the timing include in torchio, for all transform when verbose was on. (you removed this feature a long time

[2020-06-22 08:04] fepegar commented on #202
sound goods, just to understand, changing :
tensor = tensor + noise
to
tensor += noise
avoid a copy variable ??

Yes. I think it's equivalent to `torch.add(tensor, noise, out=tensor)`.

Well, Colin2008 is a large sample compared to Colin1998. It has one more image and each image has double resolution, making them 8 times heavier:

[code]

I was just using it to debug my own code when this library

[2020-06-22 08:24] romainVala commented on #202
well in this case it is important to dissociate loading time from transform time, which seems to me easier to do within torchio ...
but there may be other better way like the one you recently advertise (py-spy) ... I have to play with it to see  ...

[2020-06-22 15:59] fepegar opened #205 "Questions about RandomResizedCrop and ColorJitter"
Question by Mjavan on [PyTorch Discourse](https://discuss.pytorch.org/t/data-agumentation-in-3d-images/86289):

I am working with 3D medical images that are Grayscale.
I looked at TorchIO and your nice effort there. I need RandomResizedCrop, that gives me the original size of the image after cropping. This transformation in PyTorch crops the image with an aspect ratio [0.08,1]. I found Crop in Tor

[2020-06-22 18:39] fepegar commented on #205
What is your application? I think those transforms are typically used for image classification in computer vision but are rarer for medical images.

You can implement random cropping plus changing the aspect ratio as follows:

[code]

Here are the saved images before (shape `(181, 217, 181)`) and after (shape `(166, 197, 171)`) applying the transform:

![Screenshot](https://user-images.githubuserc

[2020-06-22 23:00] #178 closed

[2020-06-24 13:01] fepegar opened #206 "RandomGhosting algorithm removes zero-frequency component"
**🐛Bug**

When the ghosting algorithm removes the center of k-space, the image is too distorted.

**To reproduce**

I'm using [this image](https://www.dropbox.com/s/3342ndv600tcmjp/t1.nii.gz?dl=1) and the [TorchIO Slicer module](https://torchio.readthedocs.io/slicer.html).

8 ghosts along axis 2:

<img width="1280" alt="Screen Shot 2020-06-24 at 13 45 15" src="https://user-images.githubusercontent

[2020-06-24 13:05] fepegar commented on #206
If the zero-frequency component is restored, the image looks more natural, but the artifact is not very visible.

<img width="1280" alt="Screen Shot 2020-06-24 at 14 00 57" src="https://user-images.githubusercontent.com/12688084/85561186-466ed280-b623-11ea-91a7-04091b342bb8.png">

Also, there's no reason to limit the `intensity` kwarg to 1. Maybe the intensity could be scaled to be inversely propo

[2020-06-24 14:04] romainVala commented on #206
there is already a  percentage_to_avoid = 0.05 in the code,
no ?

[2020-06-24 14:22] fepegar commented on #206
Lastly, I think there's no reason to take only images with positive values. We could use the real part of the inverse Fourier transform instead of the magnitude:

<img width="711" alt="download (1)" src="https://user-images.githubusercontent.com/12688084/85565186-d2362e00-b626-11ea-8b53-48b77b189a12.png">

This is the result of using 8 ghosts and getting the real component instead of the magnitude

[2020-06-24 14:24] fepegar commented on #206
no ?

Yes, you're right. But it doesn't seem to be working, and the code I wrote for `RandomGhosting` is not clear. I have a new implementation, I'll open a PR in a second.

[2020-06-24 14:35] romainVala commented on #206
ok
I am surprise about the visual different between abs and real (what is the color map in both (min max values)
The reason taking the abs is that this is what is done in the acquisition process ... (you never get negative values in raw images) but not sure if we have to follow it ...

[2020-06-24 14:37] fepegar commented on #206
In that plot I used an image with negative values to accentuate the issue. I don't know much about raw values from the MR scan. Are they always positive?

I think the imaginary component in the plot is just noise, almost 0, so taking the real part only would make sense.

[2020-06-24 14:51] fepegar commented on #206
Here's the notebook I've been playing with: https://colab.research.google.com/drive/1Uk5Zq-uJFdyGh7Dzs7agprH1H5IYU0KP?usp=sharing

[2020-06-24 14:55] romainVala commented on #206
the MR image is the inverse fourier transform of the measured signal, so you get a complex number, but most of the sequence just consider the magnitude
The phase can have a lot of meaning in some case, but this is an other issue,

[2020-06-24 16:38] fepegar commented on #206
I prefer the MRI artifacts at the beginning as well, but users might, for whatever reason, have some negative values in the input.

[Here's a notebook](https://colab.research.google.com/drive/1JGDJ8FsCH0BQ6SgjFE_ztwq1c7SmmIGy?usp=sharing) that I'm playing with. You can see that there's not much difference:

<img width="855" alt="download (2)" src="https://user-images.githubusercontent.com/12688084

[2020-06-24 21:42] romainVala commented on #206
I do not reproduce your first image (with master branch), with you t1 and this code

[code]
what do I miss ?

[2020-06-24 21:50] romainVala commented on #206
forget my previous message, I was using your last PR ...

[2020-06-24 23:40] fepegar commented on #206
Note that since #204 you don't need to pass the subject through the dataset:

[code]

[2020-06-25 12:26] Mjavan commented on #205
Hi fepegar

Thank you for your answer.  It works properly, but I need to resize the images after cropping. I wrote a costum transformation here and I combined it with RandomBlur of your package.  Sometimes it is working but sometimes it is not working, and I get the following error:
` At least one stride in the given numpy array is negative, and tensors with negative strides are not currently supp

[2020-06-25 12:38] fepegar commented on #205
Then you need to compose the `RandomCrop` I suggested and a [`Resample`](https://torchio.readthedocs.io/transforms/preprocessing.html#resample) transform. It is equivalent to `scipy.ndimage.zoom`. But are you sure you want to "resize" your images? See discussion in https://github.com/fepegar/torchio/issues/193#issuecomment-645560174. Can you tell me a bit more about what you'd like to achieve? Wha

[2020-06-25 12:50] fepegar commented on #205
Also, I see that you crop around the center for inference. You can use [`CropOrPad`](https://torchio.readthedocs.io/transforms/preprocessing.html#croporpad) for that.

[2020-06-25 12:53] Mjavan commented on #205
Hi,
Thank you for your detailed answer.  Regarding what I want exactly to do, I am trying to develop a framework from 2D to 3D and apply it for medical images for segmentation tasks. The data that I am going to work is 3D pancreas images in 4D numpy format.

Regarding if I am sure that I want to resize the images after cropping, it is in the original paper and I want to take those transformations

[2020-06-25 12:55] fepegar commented on #205
What do you mean?

What does the 4th dimension encode in these images?

Could you please share it? I'm curious.

Hopefully, you won't need to implement anything yourself :) I think you can find all you need in this library.

[2020-06-25 13:05] Mjavan commented on #205
Sorry, I can't explain it more, because it is a project that I am doing.
However, I am not sure if it would work or not. I am in the elementary steps.
The 4th dimension in these images is the channel, which is 1 for medical images.
I would try the transformations in your library, one time more.
Thank you so much for your help, I checked what you said and it is working now.

[2020-06-25 13:06] fepegar commented on #205
No worries. I'm glad it's working. Feel free to open issues for any other question. Good luck!

[2020-06-25 13:06] #205 closed

[2020-06-25 13:12] Mjavan commented on #205
Thank you. Ok, sure.

[2020-06-26 09:20] #206 closed

[2020-06-26 10:30] romainVala opened #208 "Reproduce a given transform"
**🚀 Feature**
Given the history information saved in the sample for a given transform, how can I apply the exact same transform on a new volume

**Motivation**
After doing a lot of data augmentation for training and validation, I would like to visually check some specific volume (the one having the worst loss for instance).
Since saving all the transformed volume can become a very high cost (in te

[2020-06-26 11:31] SamuelJoutard opened #209 "Problem when creating a Dataloader from a torchio.ImagesDataset"
**🐛Bug**
Hi,

I recently updated my torchio version to the latest one (0.17.0) and there seems to be some problems when creating Dataloader from torchio.ImagesDataset objects. In my case, the following code works well in 0.16.0 but fails under torchio 0.17.0.

**To reproduce**

[code]

[code]

**Expected behavior**

**TorchIO version**

[2020-06-26 12:12] fepegar commented on #209
Hi Sam,

Thanks for reporting, I can reproduce. This was introduced in #204.

This is the code I'm using to reproduce:

[code]

[2020-06-26 12:23] #209 closed

[2020-06-26 12:25] fepegar commented on #209
Fixed in https://github.com/fepegar/torchio/pull/210 👍

Should work in `v.0.17.2`.

[2020-06-26 12:26] SamuelJoutard commented on #209
Thanks a lot Fernando :)

[2020-06-26 12:36] fepegar commented on #208
I agree this would be useful, and that what you suggest makes sense. But maybe a way to do this without changing so much code everywhere is to get the current seed of the PyTorch random number generator and add it to the parameters dictionary, or rather to use a `torch.Generator` and pass put the `torch.Generator.initial_seed()` in the dictionary. I'll need to investigate this.

Useful links:
- ht

[2020-06-26 12:50] fepegar commented on #208
I'll keep adding some findings here, for reference.

[code]

[2020-06-26 12:54] fepegar commented on #208
I think this would do:

[code]

Where `/tmp/romain.py` is

[code]

[2020-06-26 12:55] fepegar commented on #208
So you could access the seed used for a specific transformation from the transform history, and use it as an argument to reproduce the exact result. Would that work for you? If yes, I'll open a PR soon.

[2020-06-26 13:39] romainVala commented on #208
this sound like a nice lazy solution !
sound good to me, if it makes the job

I guess one should be careful where to put the get_rng_state, and the set (in transform init ... ?)

may be something to check, is that only torch is used to get random number (and not numpy.random), it seems to be the case for your transforms (but not the one I added, but well I'll change it)

Thanks

[2020-06-26 13:44] fepegar commented on #208
`get_rng_state` is not needed, just `torch.seed()`.

I strongly suggest you do change your random generators to PyTorch in your implementation. I've had trouble before with multiprocessing. Using PyTorch to generate random numbers ensures good results. I think it's related to https://github.com/pytorch/pytorch/issues/5059.

[2020-06-26 14:53] romainVala commented on #208
why that, for each transform you need to get the specific random state, to save in the history ... non ? (and not the seed from the begining of the code)

just to be sure, i am clear enough:
I want to apply 1000 transform (with or not a manual seed at the begining) (so each one has different parameters)

and from the saved history of a given transform (let say the transform 600  )  I want to retri

[2020-06-26 15:56] fepegar commented on #208
Maybe this script can help me explain what I mean:

[code]

Output:

[code]

However, sometimes I get an error when I run the script:

[code]

[2020-06-26 16:10] fepegar commented on #208
It works if use `torch.manual_seed(seed & ((1<<63)-1))`. Reference: https://discuss.pytorch.org/t/initial-seed-too-large/28832/2?u=fepegar

[2020-06-26 17:15] romainVala commented on #208
I love this results too !
thanks very much for the example, it  is convincing

It is still not 100% clear what torch.seed is doing .. is it equivalent to torch.manuall_seed call but with a non deterministic random number ? (so at the end it keeps the randomness)

The thing I do not like with the use of torch.manual_seed(seed) is that it influence all the code using random that follow, but for my u

[2020-06-26 17:20] fepegar commented on #208
I think so, yes. It probably calls a very low-level RNG and sets the seed with that.

I guess the ideal implementation would include resetting the random state after getting the random parameters, but hopefully that's not a problem.

[2020-06-26 17:34] romainVala commented on #208
but you will break reproducibility of the code in one wants to compare results obtained before and after the changes, ... I guess it is ok, one just need to know.

[2020-06-26 17:36] romainVala commented on #208
why not to use  torch.get_rng_state() ? (it won't modify the random state ...

[2020-06-26 17:39] fepegar commented on #208
Yes but

1. You would need to save 5056 Bytes at each iteration, instead of just 8
2. How do you implement it? Would you have to pass the random state to the transform init?

[2020-06-26 17:46] fepegar commented on #208
Maybe we can see how other libraries using PyTorch deal with this, if they do.

[2020-06-26 17:55] romainVala commented on #208
1. or this one, https://pytorch.org/docs/master/generated/torch.Generator.html#torch.Generator
may be the size is also big ...

2. you get it and set it (if not None)  in get_param like you did ...

3. with either choice if transforms are doing several call to get_param this becomes heavy ...

[2020-06-26 17:59] romainVala commented on #208
yes sure ... no hurry, (and my first option is may bet not so much code ... mostly copy paste ) it has also the advantage to be explicit  and more independent of the deep pytorch seeding ...

[2020-06-26 21:28] farazahmeds opened #211 "what is correct way to pass class labels to confusion matrix"
I'm trying to plot confusion matrix from predictions, final prediction tensor is concatenation of predictions appended during each validation run, `predlist = torch.cat([predlist, predicted.view(-1)])`.

but when I plot the class label axes go bad, i'm guessing since i'm appending labels `lbllist = torch.cat([lbllist, labels.view(-1)])` as well they show up on plot during each run.

![conf](https:

[2020-06-27 13:46] fepegar commented on #211
I @farazahmeds, this is not related to TorchIO. I suggest you save `conf_mat ` and `lbllist.cpu()` and ask the [scikit-learn](https://scikit-learn.org/stable/support.html) folks using a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) using those variables.

Feel free to reopen if you consider the problem to be in TorchIO.

[2020-06-27 13:46] #211 closed

[2020-07-01 08:22] MoiseevMikhail opened #212 "Speedup crops"
Hi! Thanks for your amazing library, I'll definitely cite it in my work!

**🚀 Feature**
Faster crops in GridSampler and other samplers

**Motivation**
I've tried to use GridSampler with 512x512x512 array. On my Ryzen 2700 cpu one call of __getitem__ takes ~5 seconds. I've figured out the reason: it's sitk.GetImageFromArray(array.transpose()) in nib_to_sitk function, which takes 2.5 seconds for bot

[2020-07-01 08:54] fepegar commented on #212
Hi @MoiseevMikhail,

Thanks for reporting and for your kind words!

How large are your windows? I just tried with `(128, 128, 128)` on my macOS from 2014 and sampling all windows took 1:26 minutes (1.23 +- 0.44 seconds per iteration).

If I crop using PyTorch instead, it takes 30 seconds in total and 0.36 +- 0.07 per iteration.

As you suggest, most of the time is taking by `sitk.GetImageFromArray

[2020-07-01 08:55] GFabien opened #213 "Support 4D tensors as torchio.Image"
**🚀 Feature**

Make torchio accept 4D tensors (i.e. volumes with multiple channels) as input data for `torchio.Image`.

**Motivation**

I am working on a segmentation task using partial volume maps. Therefore, to take into account different tissues I need different channels as different tissues cannot be encoded to different integers.

**Pitch**

If a 3D tensor is given, torchio's behaviour remain

[2020-07-01 09:26] fepegar commented on #213
Ah, I knew this issue would be opened one day. First, let's take a look at the time it takes to resample `Colin27` with more and more channels, as I tried to do here: https://github.com/fepegar/torchio/issues/16#issuecomment-576949538

[code]

![Figure_1](https://user-images.githubusercontent.com/12688084/86227117-80d8f200-bb84-11ea-888b-1200d61e40af.png)

Resampling a 4D image is slower! I'm disa

[2020-07-01 10:07] GFabien commented on #213
I didn't expect that, this is surprising!

In our case we have both the individual files and the stacked ones so it's OK.

[2020-07-01 10:27] fepegar commented on #212
Using `patch.clone()` is much faster: 0.044 +- 0.005 seconds per iteration. I'll go for that one.

As a reference, `patch.clone()` is much faster than `copy.deepcopy(patch)`. It looks like the whole tensor is copied in the second case.

[2020-07-01 10:58] fepegar commented on #213
I'll close this for now. We can reopen if we ever consider this to be necessary.

[2020-07-01 10:58] #213 closed

[2020-07-01 11:16] #212 closed

[2020-07-01 11:18] fepegar commented on #212
Could you please upgrade `torchio` and tell me how long it takes now?

[2020-07-01 13:10] fepegar commented on #208
For reference: I added some if I add a manual_seed at the top of the script, I'd expect to always get the same result, but it wasn't happening. Using the `torch.random.fork_rng()` context manager when calling `get_params` helped to reproduce a number at the end of the script, but not the transforms:

[code]

Output:

[code]

I'll try with generators.

[2020-07-01 13:24] fepegar commented on #208
New test using generators. I'm probably doing something wrong. The same seed generates different results. Each call had a different manual seed at the top of the script.

[code]

[code]

[2020-07-01 13:31] romainVala commented on #208
I do not see the problem ...
Resproduced result, is working fine

The fact that you obtain different result when you run twice the code, is what is expected, (with random number) non ?
if you want to reproduce, you need to add a manual seed at the begining of your script

what do I miss ?

[2020-07-01 13:34] fepegar commented on #208
Resproduced result, is working fine

Note that I changed the seed at the top for each run.

What I want is that the result of a transform is deterministic given a certain input and seed, independently of the manual seed I set at the beginning. BUT if I do set a manual seed at the beginning of the script, I want exactly the same thing to happen every time I run it.

[2020-07-01 14:10] romainVala commented on #208
ok I see, I miss the seconde line of your exemple ...
I try to test here but I get an error,
  File "test.py", line 10, in get_params
    seed = torch.seed()
  File "/opt/anaconda3/lib/python3.7/site-packages/torch/random.py", line 45, in seed
    torch.cuda.manual_seed_all(seed)
  File "/opt/anaconda3/lib/python3.7/site-packages/torch/cuda/random.py", line 111, in manual_seed_all
    _lazy_call(c

[2020-07-01 14:11] fepegar commented on #208
Try this https://github.com/fepegar/torchio/issues/208#issuecomment-650262724

[2020-07-01 14:16] romainVala commented on #208
it is already in you example, ...
my error is on the line 10 :
seed = torch.seed()

[2020-07-01 14:20] fepegar commented on #208
Oh, sorry!

[2020-07-01 14:36] fepegar commented on #208
I've asked in the PyTorch forum: https://discuss.pytorch.org/t/get-current-random-seed-for-reproducibility/87597

[2020-07-02 02:38] MoiseevMikhail commented on #212
Now getitem takes ~1ms. Good job, thanks!

[2020-07-02 17:24] xen0f0n opened #215 "transform torchio subject - mask with multiple masks and different shapes than image"
I have an RGB Image and a 7-class ground truth mask and I'm trying to figure out how to integrate torchio into my pipeline.
I get this error

[code]

Also, when transforming the ground truth mask, what is the appropriate shape? onehot (eg. 1, 7, 4041, 2817) or categorical (eg. 1, 1 ,4041, 2817)?

[2020-07-02 17:29] fepegar commented on #215
Hi @xen0f0n,

Could you please share the code that produces this error? TorchIO hasn't been tested thoroughly with 2D data, but maybe I can help. First, I think you need to add a dimension to your images when you instantiate the `Image` class. At the moment, TorchIO thinks your images are 3D. What transforms are you planning to use? Any samplers?

[2020-07-02 18:15] xen0f0n commented on #215
Hey @fepegar.
I'm not sure why I should add a dim to my images... They already have 4-dims.
I plan to use znorm, affine and elastic transforms. It's my understanding that the Image type (INTENSITY, LABEL) defines what transforms can be applied (just to not mess with ground truth masks). For the znorm and affine transforms, I thought the following would work (it does not):

[code]

```sample``` is

[2020-07-02 18:38] fepegar commented on #215
Can you share the code you're using to define `sample`? Tensors in TorchIO have shape (channels, si, sj, sk). I don't think the code is currently adapted to work with RGB, but I could look into that if needed. This is related to #213. Something you could do is split your RGB into the three channels. That would definitely work.

Categorical, for the reason stated above.

[2020-07-03 06:45] xen0f0n commented on #215
I'm not sure how to do that. Adding an extra dimension to the image as
```torchio.Image(tensor=torch.from_numpy(np.expand_dims(img, 0)).transpose(0,1), type=torchio.INTENSITY)```
, leads to:

[code]

It's something like this...

img = cv2.imread(image_path)
img = np.transpose(img, (2, 0, 1))
mask = cv2.imread(mask_path, 0)

d = {}
d['Image'] = torchio.Image(tensor=torch.from_numpy(img), type=torch

[2020-07-03 08:32] fepegar commented on #215
Can you try this?

[code]

[2020-07-03 09:55] fepegar opened #216 "Improve support for 2D images"
**🚀 Feature**

TorchIO is not very 2D friendly. There are some heuristics that can be used to take 2D images as inputs, like accepting 2D tensors and checking for dimensions along which there are only 3 values, as that will probably the number of channels.

Related to #215, #143, #163, #213.

[2020-07-03 10:13] xen0f0n commented on #215
Ok, this works!
It seems to me that in order to use  ```torchio.ImagesDataset``` I'll have to merge these different rgb channels into a single tensor (If diff shapes allow that). I wonder if this will work.

And since I plan to use Grid sampler also, I'll have to repeat  this "upack - merge" inside the ```model.eval``` loop.

If it's ok with you, I'll try this and follow up, either here or in  htt

[2020-07-03 10:53] fepegar commented on #215
Why do you think you need to merge them?

I haven't tried samplers from 2D images, but it should work, given an appropriate patch size.

Yeah let's finish up here with the question about `ImagesDataset` and then we can move on to #216.

[2020-07-04 14:27] fepegar commented on #168
Apologies for the delay, it's not trivial to solve this issue.

[2020-07-06 17:19] GReguig commented on #208
Hello,

if I may add a little piece of information that I remember from my computer science lectures, a pseudo-random number generator computes a progression from the given seed. Therefore, to be able to find the same result, we not only need to set the same seed but also we need to call the random functions as many times as it was called the first time.

[2020-07-07 08:52] GReguig commented on #208
Hello again,

I went from your code @fepegar but used the rng_state instead of the seed in order to reproduce the results (I think the rng_state contains the full information of the generator). This worked. To get the result, I used `torch.get_rng_state()` and `torch.set_rng_state()` instead of the seed.

`import torch
torch.manual_seed(25074390)

class RandomMultiply:
    def __init__(self, rng_s

[2020-07-07 09:01] fepegar commented on #208
Hi @GReguig,

Thanks for investigating this with us. We briefly discussed passing the random state in https://github.com/fepegar/torchio/issues/208#issuecomment-650308405, but I'd like to use the seed if possible, so that the API is not changed and because it's easier and more intuitive for users. However, if that solution satisfies [these conditions](https://discuss.pytorch.org/t/get-current-rand

[2020-07-07 09:05] GReguig commented on #208
Oh alright, sorry about that. I will investigate this a little bit more then.

Thanks

[2020-07-07 10:30] Mjavan opened #217 "Question about RandomElasticDeformation"
Hi, I have a question about, `RandomElasticDeformation` in Torchio, how should I find an appropriate num_control_points for a 3D volume? And is it necessary to define max_displacement?

My last question is how Can I get a visualization of transformed 3D volumes using these transformations?  My 3d volumes are 4d NumPy arrays of dimension [channel, H, W, D] that are pancreas 3D images. I apply trans

[2020-07-07 10:50] fepegar commented on #217
Hi @Mjavan,

I suggest you read the [documentation for `RandomElasticDeformation`](https://torchio.readthedocs.io/transforms/augmentation.html#randomelasticdeformation). You'll see that the number of control points defines how smooth your transformation is. You can download [this notebook](https://gist.github.com/fepegar/b723d15de620cd2a3a4dbd71e491b59d), that I reference in the docs, and change t

[2020-07-07 10:52] fepegar commented on #56
Done: https://torchio.readthedocs.io/slicer.html

[2020-07-07 10:52] #56 closed

[2020-07-07 10:55] Mjavan commented on #217
Thank you so much. Just in the last block you made a sum over pixels, right?
so I can do the same when volumes are numpy arrays, right?

[2020-07-07 10:57] fepegar commented on #217
Yes, both NumPy arrays and PyTorch tensors have a `sum` method.

[2020-07-07 11:01] Mjavan commented on #217
Thank you, it is a good clue to understanding if transformations are working or not. The order of the dimensions of inputs to transformations in your package is `(channel,h,w,d)`?

[2020-07-07 11:04] fepegar commented on #217
Yes. But at the moment there's not a lot of support for 4D images. Why are your images 4D?

[2020-07-07 11:09] Mjavan commented on #217
They are 3D grayscale not 4D

[2020-07-07 11:11] fepegar commented on #217
Ok, good. You said they were 4D NumPy arrays. Let me know if you need anything else.

[2020-07-07 11:11] #217 closed

[2020-07-07 11:14] Mjavan commented on #217
Thank you. Sure.

[2020-07-07 12:32] fepegar commented on #213
For completeness, here's a result applying a B-spline transform (on a nice DGX, not on my 2014 laptop):

![Figure_1](https://user-images.githubusercontent.com/12688084/86781838-4e346b00-c056-11ea-97db-2c926fca70ea.png)

[2020-07-07 12:35] fepegar commented on #213
And for more completeness, here's the affine from https://github.com/fepegar/torchio/issues/213#issuecomment-652304652 using the DGX:

![Figure_1](https://user-images.githubusercontent.com/12688084/86782171-b1260200-c056-11ea-8e87-a0d1db5600bd.png)

[2020-07-08 14:05] GFabien opened #218 "Incoherence between RandomTransform.parse_range and RandomGhosting intensity"
**🐛Bug**

When given a single positive number `x`, `RandomTransform.parse_range` outputs the tuple `(-x, x)`. From the doc of  `RandomGhosting`, it states that you can give a single value for the `intensity` parameter. However, if you do so you get an error as intensity cannot be negative.

**To reproduce**

[code]

[code]

**Expected behavior**

I guess the expected behavior would be to get the r

[2020-07-08 14:26] #218 closed

[2020-07-08 14:27] fepegar commented on #218
Fixed in `v0.17.8`. Thanks for reporting, @GFabien!

[2020-07-09 08:05] romainVala commented on #208
well, I still think that my first proposition, is a better choice

Going through seeding as you propose, seems to me very risky:
_ will it work in 10 years, with a totally new python version ?
_ setting manually the seed may have some non control effect. For instance imagine a for loop with a composition of transform, where you want to set the first transform, and make random the second one,  (the

[2020-07-09 11:58] GFabien opened #220 "Non integer labels in Colin27 2008 version"
**🐛Bug**

Class labels in Colin27 dataset, version 2008, are not integer values.

**To reproduce**

[code]

**Expected behavior**

Label encoding map should only contain integer values.

**TorchIO version**

0.17.7

[2020-07-09 12:02] fepegar commented on #220
This is weird, and I don't think there's much we can do about this. I tried reading the image with ITK and results are the same. I checked the intercept and slope values in the NIfTI header and I found nothing interesting:

[code]

I've been googling with no success. I think that the only solution for now is to `round` the data in the `Colin27` class of the `torchio.datasets.mni.colin` module.

[2020-07-09 12:05] fepegar commented on #220
I'll check the MINC versions.

[2020-07-09 12:08] fepegar commented on #220
I got the same results.

[2020-07-09 12:13] fepegar commented on #220
Might be related to the **Small float mantissa precision – concrete example** section in https://bartwronski.com/

[2020-07-09 12:20] fepegar commented on #220
In the NIfTI header it says `int16`, but the for some reason the data is loaded as `float64` even when I do

[code]

[2020-07-09 12:27] romainVala commented on #220
mrinfo say there is an intensity scaling
  Data type:         signed 16 bit integer (little endian)
  Intensity scaling: offset = 0, multiplier = 0.047058824449777603
strange that you do not see the intercept and slope (I thought it was related)

[2020-07-09 12:29] fepegar commented on #220
@romainVala, do you know how/if that multiplier is meant to be used?

[2020-07-09 12:30] GFabien commented on #220
From nibabel:
[code]
But also from nibabel:
[code]

[2020-07-09 12:34] fepegar commented on #220
Note that this is a NIfTI image, not analyze:

[code]

[2020-07-09 12:35] fepegar commented on #220
Some more info about this stuff, for reference: https://nipy.org/nibabel/nifti_images.html

[2020-07-09 12:38] fepegar commented on #220
I suspect this happens because there are values for intercept and slope in the original file.

[2020-07-09 12:39] fepegar commented on #220
Maybe those values shouldn't be there in the first place. I'll try modifying the file directly to remove these values and loading it with nibabel.

[2020-07-09 14:23] fepegar commented on #220
I removed the slope from the file

[code]

and the values are now

[code]

Indeed to get 12 from 255 you need to multiply by `12/255 = 0.047058823529411764`, which is the intercept stored in the header. However, `234 * 0.047058823529411764 = 11.0118`. It looks like, for some reason, someone decided to store the labels from 0 to 255 for some reason, and adding a slope. Maybe this worked with the so

[2020-07-09 14:25] romainVala commented on #208
after 10 different experiment, personally I do not remember all ... to be able to retrieve all applied transform is critical
But even if I would remember, the objectiv is to reproduce a given specific composition of transform, (so I need all of them in the history)

 my idea was that each transform were calling the same get_param fonction (instead of what is done today, to define them in each tran

[2020-07-09 14:29] fepegar commented on #208
But even if I would remember, the objective is to reproduce a given specific composition of transform, (so I need all of them in the history)

Ideally you would log the status of your code (last commit), or even the code itself, in the experiment log. I use TensorBoard and [`sacred`](https://sacred.readthedocs.io/en/stable/) for all this stuff, it's great.

but i am not that sure, so I let you dec

[2020-07-09 14:38] fepegar opened #221 "Make TorchIO transforms friendlier to use by related libraries"
**🚀 Feature**

**Motivation**

Other related libraries such as MONAI (https://github.com/Project-MONAI/MONAI/issues/493) and Eisen (https://github.com/eisen-ai/eisen-core/issues/20) are interested in using TorchIO as a dependency. For that, either TorchIO transforms are adapted to accept their data format or their data is adapted to be used with our transforms. Users such as @hjmjohnson have expre

[2020-07-09 14:51] fepegar commented on #220
(I edited this comment, forgot to add the returned values: https://github.com/fepegar/torchio/issues/220#issuecomment-656100610)

[2020-07-09 16:18] #220 closed

[2020-07-09 16:20] fepegar commented on #220
Fixed (hacked) in `v0.17.9`. Thanks for reporting and investigating! I'm going to email the person in charge of the atlas to ask about this.

[2020-07-09 16:55] fepegar commented on #208
I think that the new transform in #222 is a perfect example of why using a seed/random state would be more helpful. How do you reproduce that? Actually, how do you reproduce e.g. a `RandomNoise` transform? Even if you save the exact same statistics, the result will always differ if the random state is different.

Maybe the best solution is adding a flag to ask the user if they'd like the random st

[2020-07-09 18:13] fepegar opened #224 "Add random anisotropic transform"
**🚀 Feature**

Add a random transform to simulate anisotropic spacing.

**Motivation**

It's very common to use images with anisotropic spacing. A typical preprocessing step is using e.g. `torchio.Resample` to make the images isotropic before feeding them to a network. This could be simulated using a transform that degrades the images using down- and up-sampling.

**Pitch**

Use `torchio.Resample`

[2020-07-09 18:18] fepegar commented on #224
The best would probably not upsample back but advising the user to use `Resample` after this.

[2020-07-09 18:56] GReguig commented on #208
How about randomly generating a seed for a given transform (and saving it) and setting it specifically for this transform (and the given subject) ? This would only require to save the generated seed and resetting it at the beginning of the transform.

[2020-07-10 07:59] romainVala commented on #208
Ok you make a point there,
I always had in mind deterministic transform (motion bias spatial deformation) ... but you 're right,  when it comes to random noise, it may be interesting to have the exact same random selection

But it may not be that critical, to reproduce the same transform, with different random values, if the std (and mean) is the same
I guess it depends on the exact application in

[2020-07-10 08:07] romainVala commented on #208
I guess I would put it in the abstract class transform (all transform herit from it right?)
I imagine an input dict witht he field
"name"  (variable name use to save in the history)
"type"  (int float ...)
"shape (numpy shape)
"range"  [range of the randome number]
"random_typ"  [to uniform , gausian, ect ...

This may be a good add one of this code refractory, Today each transform use uniforme se

[2020-07-10 16:36] fepegar commented on #208
I imagine as input a list of dict witth he field
"name" (variable name use to save in the history)
"type" (int float ...)
"shape (numpy shape)
"range" [range of the randome number]
"random_typ" [to uniform , gausian, ect ...

I really don't see the point of this. It looks like a job for method inheritance, which is the way it works now.

[2020-07-10 16:39] fepegar commented on #208
@romainVala it looks like I edited your comment https://github.com/fepegar/torchio/issues/208#issuecomment-655974739 instead when I tried to reply to it! Sorry about that :D

[2020-07-10 16:50] fepegar commented on #208
I always had in mind deterministic transform (motion bias spatial deformation) ... but you 're right, when it comes to random noise, it may be interesting to have the exact same random selection

I guess it depends on the exact application in mind...

I do think that if we want to make it reproducible, it needs to be 100% reproducible.

I think @GReguig's solution might work! I added an option to

[2020-07-10 16:55] fepegar commented on #208
Although I don't think it's a good idea to add an argument to `__call__`...

[2020-07-10 17:00] fepegar commented on #208
I guess that the point of this stuff is to reproduce a single transform once, so it wouldn't be that bad.

[2020-07-11 10:10] #224 closed

[2020-07-11 16:17] xen0f0n commented on #215
@fepegar hey!
So, what I did is a bit messy, but I think it works.
First of, of course you were right, that using ```torchio.ImagesDataset``` works without this upack-merge.

But, I ended up doing this upack-merge inside a subclass of Dataset and a ```__get_item__``` method, 'cause I needed to resample each image with a different scale, and couldn't do that outside the Dataset. I do the transforms

[2020-07-12 11:26] fepegar commented on #215
Do you mean a `Resize` transform?

[2020-07-12 19:36] xen0f0n commented on #215
Yes. I though that Resample does resize...
Although I resize 2d images, I think it works. I use the bspline interpolation method (since there is no bilinear or bicubic).
Am I missing something?

[2020-07-12 21:55] fepegar commented on #215
You can use `image_interpolation='linear'`.

Interpolation with B-splines of order 1 is equivalent to using linear interpolation, AFAIK. In 2 and 3D, linear interpolation is also called bilinear and trilinear interpolation, respectively.

[2020-07-12 22:19] fepegar commented on #95
Fixed in #207.

[2020-07-12 22:19] #95 closed

[2020-07-12 22:20] fepegar opened #227 "Use SimpleITK to resample"
**🚀 Feature**

Currently, resampling in `Resample` is done using NiBabel, which performs interpolation using B-splines. Using a spline of order 0 and 1, one gets the equivalent of nearest neighbor and linear interpolation. However, both take as long. With `SimpleITK` the range of different interpolation techniques is larger and times between e.g. nearest and linear would be very different, which i

[2020-07-12 22:41] fepegar commented on #208
I've implemented in #226 a solution similar to what @GReguig proposed. The seed is now passed when calling, not when instantiating. It took me a while, but I've managed to add the transforms history as a string, so it can be propagated even to the patches sampled by the `Queue`. I settled to saving the seed only, and only for random transforms. That should be enough to reproduce anything exactly.

[2020-07-13 10:16] romainVala commented on #208
Sound good !
I try to understand your PR, may be I miss something: the random parameter are no more saved in the history (only the seed ) ?
or is it done implicitly in __call__ from RandomTransform ?

[2020-07-13 10:19] fepegar commented on #208
That's correct, only the seed is saved at the moment. I've been thinking about how to retrieve the parameters. Maybe they can be stored in `self` when `__call__` is called, so they can be retrieved after.

[2020-07-13 10:22] romainVala commented on #208
please, no after retieval ...
(In some use-case, I use a CNN to predict the random noise std (as it is apply in randomnoise transform) so it is very convenient to have it easily in subject history ...

[2020-07-13 10:28] fepegar commented on #208
What about a method in the transform that returns the parameters given a seed? That way you wouldn't need to apply it to get them.

[code]

[2020-07-13 10:46] romainVala commented on #208
Ok sorry if I am not clear enough (or if it is a bad idea)
So let me try to explain it again, because I think it can give a solution to also explicitly the parameters

Instead of having each transform that define the function get_param, why not having a common function to do it (and each transform will call it )
Doing so will have the advantage to program saving of the chosen parameters into histo

[2020-07-13 10:52] romainVala commented on #208
I prefer, the previous, way where the parameter were directly include in the history,
but I guess that using this get_parameter_from_seed, I could then easily reprogram it

May be  it is more "user friendly" if the specific behavior (saving the parameter and or the seeding) could be a user choice ...

[2020-07-13 11:00] fepegar commented on #208
Saving all the parameters is quite problematic. As we said before, to get fully reproducible results, the whole image would need to be saved for e.g. `RandomNoise`, which is not feasible. Saving only the mean and std is a gray solution that doesn't make the thing fully reproducible.

Saving a large number of parameters for e.g. `RandomElasticDeformation` is complicated as they would need to be con

[2020-07-13 12:05] romainVala commented on #208
yes we discuss, about the difficulty to save large number of parameter, and this was the reason why you remove them from the sample dictionary, (with the argument it will make torch collate job to complicated (although it was working ...)
An now the same argument, to remove them from the history, (I guess I will "loos" again although there is no real problem to have them in the history)

I think t

[2020-07-13 13:02] fepegar commented on #208
The parameters were not being saved in the batch! That has been added in #226.

1_ having a way to reproduce any given transform
2_ having the need to log / access each transform parameters, for further used (: for instance to use them to train a regression task, or just to log them to be able to review (check) a given experience , or just study the prediction bias correlation with any transform's

[2020-07-13 15:14] farazahmeds opened #228 "Passing mean and std to normalization transform."
So I am using pretrained model the `mean` and `std `values are provided as such:

` mean = [0.43216, 0.394666, 0.37645] and std = [0.22803, 0.22145, 0.216989]`

How can I pass them to the normalization transform, ` torchio.transforms.preprocessing.ZNormalization` ?

Thankyou.

[2020-07-13 15:27] fepegar commented on #228
TorchIO is not optimized for 2D RGB images, and that transform for now only does zero mean and unit variance. It might be easier for you to just write a new transform. Can you share some code and what you're trying to achieve?

[2020-07-13 15:36] farazahmeds commented on #228
Sorry I didn't clarify my data is single channel, Nifty volumes, I am trying to use the [pretrained video classification model (ResNet3D)](https://pytorch.org/docs/stable/torchvision/models.html#resnet-3d)

better question maybe:

how can I use their recommended mean and std values for single channel to normalize my data?

[2020-07-13 16:02] fepegar commented on #228
As far as I know, that model has been trained on video clips with shape `(3, L, 112, 112)` where `L` is the number of frames. Videos are very different from medical images, I really don't think you should normalize them using that transform.

I coincidentally happen to also be working with videos at the moment. I suggest you take a look at all the files in this folder of the `torchvision` repo: ht

[2020-07-13 16:11] #228 closed

[2020-07-14 18:20] neuronflow commented on #221
I post here as my issue seems to be related. I would love to include the promising augmentation techniques of TorchIO in my existing deep learning pipeline. Is there a way I can use them in the
`__getitem__(self, i)` function of my Dataset where I also do my existing augmentation and preprocessing?

Providing TorchIO full governance over my dataset object seems to make numerous adjustments in my c

[2020-07-14 18:29] fepegar commented on #221
Hi @neuronflow. Sure! You can pass 4D PyTorch tensors or NumPy arrays to TorchIO transforms. For example:

[code]

Would that work for you?

[2020-07-14 21:02] neuronflow commented on #221
Hi @fepegar, thanks for the quick response. In my case I have a t1, t1c, t2, flair image and a label all as numpy arrays. Think of BraTS data.

From my understanding the spatial transforms you offer should be applied to all images while the intensity images not to the labels.

How can I make sure that the same transform is applied to all of my images?

[code]
Would that work or do I need to provid

[2020-07-14 21:35] fepegar commented on #221
Sounds like a job for this library.

Correct.

I think the best you can do is create a `Subject` and extract the NumPy arrays from it:

[code]

Are your images preprocessed? Wouldn't you like to take the spacing into account for the transformations?

The docs say "If only one value 𝑑 is provided, θ∼U(−𝑑,𝑑)". If you set degrees to 10, the rotations will be between -10 and 10 degrees.

Thanks! That'

[2020-07-14 22:09] neuronflow commented on #221
Yes, my images are preprocessed to isotrope 1mm voxels.

Sorry, now I do understand the formula :)

Yes, the google colab was my starting point. however there you create subjects from nifti files and then use subjects to construct a full blown dataset..hence my impression was that I could not use TorchIO in this modular way and stick to a standard pytorch dataset.

[2020-07-15 15:36] OeslleLucena opened #229 "Rotation transform"
Hi All,

looking at TorchIO library I saw there is no Rotation transform.
Would that be incorporate to the library soon?

Many thanks!

[2020-07-15 15:43] #229 closed

[2020-07-15 16:03] fepegar commented on #229
Hi Oeslle!

You can rotate your images using `RandomAffine`.

On Wed, 15 Jul 2020, 17:01 OeslleLucena, <notifications@github.com> wrote:

[2020-07-16 08:01] romainVala commented on #208
Concerning my comment on you PR
https://github.com/fepegar/torchio/pull/226#issuecomment-658771255

may be it is better to discuss here (since there still are some confusion (or disagreement ...) about the main objective)

the reproducibity is not only to reproduce the random parameter of a given transform, but to be able (from a saved history) to reproduce, all transform applied to the image

As

[2020-07-16 12:08] brangl opened #230 "Header not preserved when converting DICOM to NRRD"
**🐛Bug**
When converting a DICOM image to a NRRD with torchio, the header is not preserved.

**To reproduce**

[code]

**Expected behavior**
Saving the DICOM image into NRRD format, with the voxel dimensions and origin preserved.
An NRRD image is actually saved, but the header is replaced by a default header.
Here is an example of the original DICOM header:

[code]

**TorchIO version**
0.17.10

[2020-07-16 13:11] sarthakpati opened #231 "Request for new options"
First of all, I'd like to thank you for this package. It is really well written and easy to use.

**🚀 Feature**
It would be great if the following options could be added:
- [Random crops](https://github.com/mdbloice/Augmentor#cropping)
- [Random resizing](https://github.com/mdbloice/Augmentor#cropping)
- [Random erasing ](https://github.com/mdbloice/Augmentor#random-erasing)

**Motivation**

These

[2020-07-16 13:12] sarthakpati opened #232 "Request for new intensity augmentation options"
**🚀 Feature**
It would be great if the following options could be added:
- [Color augmentations](https://github.com/MIC-DKFZ/batchgenerators#supported-augmentations)
  - brightness (additive, multiplivative)
  - contrast
  - gamma (like gamma correction in photo editing)

**Motivation**

These would take care of cases where the input data is not great.

**Pitch**

The aforementioned options would

[2020-07-17 09:29] romainVala commented on #231
Hello,

I think that fernando is on holliday, so he will respond later.
I can give a few hints
For random crops and resizing You can have similar augmenation with the
RandomAffine and CropOrPad torchio transform
RandomAffine will induce rotation and scalling (scalling == resize) you can also specify translation , and adding a CropOrPad transform after it, will restrict the Field of view

Random er

[2020-07-17 09:50] romainVala commented on #232
torchio is currently working only with gray level images.

You can change the intensity dynamic, with the RescaleIntensity transform or histogram Normalization (but they are currently more for data homogenization than for data augmentation)

I think it is a good idea to add those transform

[2020-07-17 11:55] sarthakpati commented on #231
Hey, thanks, this does help. It would be great if these can be added as proper options. :)

[2020-07-17 13:31] OeslleLucena opened #233 "Inconsistent Shapes for diffusion MRI"
Hi all, I willing to use Torchio for diffusion MRI and this data is 4D. My plan is to use TorchIO for a patch-based regression where both the input and the output are diffusion MR images. To sample the patches, I am planning to use the intra-cranial mask as a sampling prior.

I ran the following code to try to apply a rotation transform to a subject and I have a `ValueError: Images in sample have

[2020-07-17 13:36] OeslleLucena commented on #233
additionally, If I remove the sample from the Subject, the following error is raised:

[code]

[2020-07-17 13:36] #233 closed

[2020-07-17 13:39] OeslleLucena opened #234 "Inconsistent shapes for diffusion MRI"
Hi all, I am willing to use Torchio for diffusion MRI and this data is 4D. My plan is to use TorchIO for a patch-based regression where both the input and the output are diffusion MR images. To sample the patches, I am planning to use the intra-cranial mask as a sampling prior.

I ran the following code to try to apply a rotation transform to a subject and I have a `ValueError: Images in sample ha

[2020-07-19 13:51] sarthakpati opened #235 "How to disable citation message"
Hi,

How can I disable the citation message that comes up:
[code]

This is implicit for people in academia. 😄

Cheers,
Sarthak

[2020-07-19 15:18] theabster commented on #232
@romainVala I'm not quite sure I understand. I have 3D images of proteins saved as TIFF files. The samples have all three color channels for each "slice" of the image. So each sample has dimensions of something like (40, 512, 512, 3) for a sample with 40 slices. Would torchio not work with this? Would the same transform be applied to all 3 channels implicitly, or do I need to do this myself someho

[2020-07-19 16:47] meghbhalerao opened #236 "How to handle multi-modal images?"
Hi!
I am training a model on multi-modal data and defining my individual subject something like this:

[code]
I am making a list of multiple such subjects. After which I create a data loader object from this  using:

[code]

Now my question is: when I iterate through this dataloader, how do I access the 4D image (which in this case would be channel * H * L * W - i.e. one composed of all the three

[2020-07-19 17:53] fepegar commented on #236
Hi, @meghbhalerao. Have you tried running that?

The `batch_loader` will return a dictionary with keys `channel_1`, `channel_2`, `channel_3` and `label`, not a 4D image.

Maybe some code will help:

[code]

[2020-07-19 17:56] fepegar commented on #236
Then, if you want, you can concatenate your images. For example:

[code]

Would that work for you?

[2020-07-19 17:58] meghbhalerao commented on #236
Hi @fepegar!
Thanks a lot for your prompt reply! Yes, then I would have to concatenate the images during the iteration (runtime). Thanks again!

[2020-07-19 18:01] fepegar commented on #235
Hi @sarthakpati. Being an early researcher, citations help me a lot. Furthermore, people tend to not cite the software they use (see [Research software citation in the Data Citation Index: Current practices and implications for research software sharing and reuse](https://www.sciencedirect.com/science/article/pii/S1751157718302372)).

If you really want to remove the message, you can set this envi

[2020-07-19 18:01] #235 closed

[2020-07-19 18:02] #236 closed

[2020-07-19 18:10] fepegar commented on #234
Hi, @OeslleLucena. We don't have good support for 4D images yet (see e.g. #213), but I'll work on that soon.

For now, you could add each channel separately to the `Subject`.

[2020-07-19 20:45] fepegar commented on #230
Hi, @brangl. It looks like a SimpleITK problem. Do you think you can share an anonymized version of that DICOM? You can send it by email.

[2020-07-19 22:53] sarthakpati commented on #235
Of course, I completely understand. And don't worry, any work that I publish where `torchio` will be used, you will get appropriately cited. 😄

Thanks.

[2020-07-20 07:57] romainVala commented on #232
Hello
torchio was developed with MRI data in mind, multi channel is often use to concatenate several modalities, but I have no experience with it.

From a quick look at the code, I am not sure for spatial transform @fepegar how are multiple channel handle ? `assert len(tensor) == 1` is not a restriction to single channel ?

For intensity transform, (scalling or znormalization), the statistics are

[2020-07-20 15:19] OeslleLucena commented on #234
Thank you @fepegar ! That would be very important for dMRI applications.

[2020-07-20 15:19] meghbhalerao opened #237 "How to handle multi-class segmentation?"
Hi everyone,
How does TorchIO handle multi class segmentation? For example, if I am training a 3D Semantic Segmentation Model with multiple classes, my ground truth label would be a 4D one-hot encoded label like this: `num_classes * H * W * D`. For example in this snippet:
[code]
What is the kind of mask does the `label` expect? Should it be a one-hot encoded mask or can it be a 3D mask itself, a

[2020-07-20 15:24] OeslleLucena commented on #229
Great! I closed it because I found that transformation!

@fepegar I would like to implement another transformation for mt data. I saw that I can use `Lambda` class for that.
Nonetheless, I would like to if there is a way to get the return the random transformation from the  `RandomAffine` to be used another transformation.

I.e. I would like to rotate my image in another domain coded by a `Lambda`

[2020-07-20 15:58] romainVala commented on #229
YEs once your subject (define in the python variable sample) has gone through the randomAffine transform you can access to
`history = sample.history`
it contains the chosen parameters

[2020-07-20 16:00] OeslleLucena commented on #229
Thanks @romainVala!

[2020-07-20 16:10] romainVala commented on #237
Hello
this is a missing feature, but it should be addressed soon (given the recent needs)
see related issue
#213
not the same data behind, but the same need:  4D support #234

may be @GFabien can help ?  if @fepegar   has not already solved it ...

[2020-07-20 16:41] meghbhalerao commented on #237
Hi @romainVala,
Thank you for your response. Yes, need support for multi-class segmentation.. Should we add this as a feature request?
Thanks,
Megh

[2020-07-20 16:44] meghbhalerao commented on #237
Also, if I am not wrong, right now, there is support only for binary masks right?

[2020-07-20 19:07] fepegar commented on #237
Hi @meghbhalerao,

As @romainVala said, we don't support 4D images _yet_. Are your pixels assigned to multiple classes? If they are, you can add each class as an individual image for now. If they are not, you can create a 3D label map and add it to the `Subject`. Would any of those work for you?

[2020-07-20 21:28] sarthakpati commented on #237
Hi @fepegar,

I believe the question is the ability to predict multiple classes. Take the BraTS dataset, for example, where each segmentation file has `0,1,2,4`. Right, @meghbhalerao?

[2020-07-20 22:45] fepegar opened #238 "Add support for 4D images"
# 🚀 Feature

Add support to read, write, sample and transform 4D images.

# Motivation

It would be convenient to support 4D images out of the box, as tensors of shape (C, S1, S2, S3) where C is the number of channels and SX are spatial dimensions (S1 = 1 for 2D images).

## Examples of what the 4th dimension might encode

### Gradient directions
- Diffusion MRI

### Time

- Functional MRI
- Ultra

[2020-07-21 05:36] meghbhalerao commented on #237
Hi @fepegar,
Yes, I am doing a multi class segmentation. Also, I am not very clear what a 3D label map exactly means. Does it mean a 3D image where each pixel in the mask is assigned to a particular class (and this need not be one hot encoded - could be class indices like @sarthakpati mentioned e.g. 0,1,2,4)?

[2020-07-21 06:10] GFabien commented on #237
Hi @meghbhalerao,
Yes a 3D label map is exactly that. From what I have experienced so far with torchio, handling a 3D label map works very well. Torchio is expecting such kind of representation. It becomes more tricky when your data cannot be represented as a 3D label map when, for example, you authorize your voxels to be in different classes ([fuzzy clustering)](https://en.wikipedia.org/wiki/Fuzz