[2022-06-16 04:01] cbri92 commented on #895
Thank you very much @romainVala for the suggestion. If this something that @fepegar can implement on a new version of torchio?

Thanks

[2022-06-16 06:24] boundaryT commented on #907
I ran the official Inference example and the same problem occurred.

[2022-06-17 07:41] romainVala commented on #907
Hello
difficult to reproduce, and the File not found error should a path problem on your side ...
Can you reproduce it with a minimal example involving torchio dataset ?

[2022-06-17 08:21] boundaryT commented on #907
hello,please test this example.
`import torch
import torch.nn as nn
import torchio as tio
patch_overlap = 4, 4, 4  # or just 4
patch_size = 88, 88, 60
subject = tio.datasets.Colin27()
subject
grid_sampler = tio.inference.GridSampler(
    subject,
    patch_size,
    patch_overlap,
)
patch_loader = torch.utils.data.DataLoader(grid_sampler, batch_size=4)
aggregator = tio.inference.GridAggregator(gri

[2022-06-17 08:52] LucaLumetti commented on #907
I cannot reproduce this bug too, even with your code. Can you paste the error message that this code outputs to you?

[2022-06-17 09:02] boundaryT commented on #907
hello，The code I provide is a tutorial on torchio's official website。[https://torchio.readthedocs.io/patches/patch_inference.html](url)
I submitted the error information on it. Please check Error Messages.

[2022-06-17 10:12] romainVala commented on #907
I get no error too, with the following code (I just reformat your exemple):
[code]
system information
` python <(curl -s https://raw.githubusercontent.com/fepegar/torchio/main/print_system.py)
`
Platform:   Linux-5.13.0-48-generic-x86_64-with-glibc2.10
TorchIO:    0.18.76
PyTorch:    1.6.0
SimpleITK:  2.0.0rc2.dev910-ga138e (ITK 5.1)
NumPy:      1.20.1
Python:     3.8.3 (default, Jul  2 2020, 16:2

[2022-06-18 13:03] fepegar commented on #907
Hi, @boundaryT. It is hard for us to help you if you don't provide a minimal reproducible example, as requested in the issue template.

I don't know what `opt` or `subfiles` are in your code, but they might be generating wrong filenames. If you are able to provide a example we can reproduce, feel free to open a new issue.

[2022-06-18 13:03] #907 closed

[2022-06-18 16:41] fepegar commented on #895
Good point. Maybe @Svdvoort can help here.

Sure, I'm working on it now.

[2022-06-18 17:17] #895 closed

[2022-06-18 17:19] fepegar commented on #895
@all-contributors please add @cbri92 for bug

[2022-06-18 17:21] fepegar commented on #895
Resolved in `v0.18.79`. Thank you both for reporting and for your insights.

[2022-06-21 01:34] cbri92 commented on #895
Thank you @fepegar

[2022-06-24 13:40] iimog opened #911 "The fourier_transform is not shifted when torch.fft is available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

The behavior of `torchio` when applying a spike artifact in specific `spikes_positions` depends on whether `torch.fft` is available.  This is done extensively in [misas](https://chfc-cmi.github.io/misas/mr_artifacts.html#get_spike_series).

This issue was introduced in https://github.com/fepegar/t

[2022-06-25 08:36] fepegar commented on #911
Awesome catch. Thanks a lot, @iimog. I should've added a regression test before making the change in #389!

[2022-06-25 08:38] #911 closed

[2022-06-25 08:59] fepegar commented on #911
Also, thanks a lot for the very clear bug report!

[2022-06-25 12:15] #886 closed

[2022-06-27 08:35] iimog commented on #911
My pleasure. Thanks for merging this so quickly. Also, thanks for creating such a nice and welcoming environment for contributors.

[2022-06-27 15:18] fepegar commented on #891
Hi, @rhan93. Can you please provide the system info, as requested in the issue template?

[2022-06-27 22:30] zzz123xyz opened #923 "the results are not expected when using the include='str', exclude='str' arguments in the transform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

For example, If I have several scans in the a subject such as subject['img'] subject['imgCT'], subject['label'].
the include and exclude augments in transform will have unexpected behaviour.

this is because in the function:

class Subject(dict):
    def get_images_dict(
            self,

[2022-07-03 22:24] #694 closed

[2022-07-04 07:44] cheyennee opened #924 "When I tried to use 'torch.nn.MaxUnpool3d', the following error occurred"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

The bug occurred when using the API 'torch.nn.MaxUnpool3d' which caused the program to no longer respond.

### Code for reproduction

[code]

### Actual outcome

Actually there is no any error messages, the program is not responding. I have to forcibly close this program.

### Error messages

_No

[2022-07-04 21:36] fepegar commented on #924
Hi, @cheyennee. I think you meant to post this in https://github.com/pytorch/pytorch/issues.

[2022-07-04 21:36] #924 closed

[2022-07-05 01:30] cheyennee commented on #924
Oh, my fault😫Thank you for reminding me😂

[2022-07-08 13:21] YerePhy opened #928 "Allow `masking_method` to accept a key of an input `Dict`"
Allow `masking_method` to accept a string that is a key of an input `Dict`, not a key of `torchio.Subject` which value must be a `tochio.LabelMap`. It's very helpful for MONAI compatibility.

[2022-07-08 13:37] #928 closed

[2022-07-08 13:38] YerePhy commented on #928
It works with:

<pre>
include: [IMAGE, MASK]
label_keys: MASK
masking_method: MASK
</pre>

[2022-07-09 15:46] fepegar commented on #928
Thanks for sharing your solution, @YerePhy!

[2022-07-13 21:13] #891 closed

[2022-07-14 07:56] justusschock opened #930 "Repr should not load the image"
**🚀 Feature**

Changing the way `__repr__` gives an representation of the image.

**Motivation**

Debuggers call `__repr__` to  give a preview of the python object.

**Pitch**
When having torchio Images that have not been loaded and the debugger calls `__repr__` to give a preview of the python object, due to the attributes embedded in the returned string, `__repr__` will always load the image.

Th

[2022-07-14 08:00] justusschock opened #931 "Parsing functions should be static"
**🚀 Feature**
Parsing methods like `Image._parse_affine`, `Image._parse_tensor` and `Image._read_and_check` currently don't touch the class state (via `self`). As they only do input validation, they also shouldn't.

To prevent this entirely and especially making it easier to test these when they are overwritten, to me it makes sense to make those functions completely static.

What do you think @fe

[2022-07-14 20:51] fepegar commented on #894
Apologies, I'll review tomorrow!

[2022-07-15 12:53] kondratevakate opened #933 "Histogram standardization changes image shape after transformation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

So I am learning landmarks and applyiong for the dataset TCIA GBM (102 subjects, T1, T2,FLAIR and CT1)

And on the one subject TCGA-06-0142 for all images after transformation I will get different image shape. Which was not planned :)

Original:
[code]

### Actual outcome

Outputs image with cropp

[2022-07-16 18:01] fepegar commented on #933
Thanks, @kondratevakate. This is very strange. Could you please share some data and code to reproduce?

[2022-07-16 18:39] #894 closed

[2022-07-18 15:56] LeonieBorne commented on #867
Hi, I have a problem that seems similar: with the code below, my dataloader is stuck (but only when I use the plot() function before). I don't have this problem if I don't transform the images.
I hope that helps, let me know if you need more information, thanks!

**Code for reproduction**

[code]

**Actual outcome**
[code]

**System info**
[code]

[2022-07-19 08:25] YuyangXueEd opened #936 "Maybe add FastMRI support"
**🚀 Feature**

Petition: add fastMRI support

**Motivation**

Combine TorchIO datasets and augmentation with fastMRI reconstruction

**Pitch**

Hi! I am new to MRI reconstruction and I found TouchIO is a great library to dealing with MRI data. I am now working with fastMRI and it seems that TorchIO does not support raw h5 files with `ImageScalar`. Would you mind adding fastMRI dataset support?

Lo

[2022-07-19 15:51] dhinkris opened #937 "'import torchio' throwing error when used with tensorflow model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

Hi,
I am trying to use torchio for augmentation inside a TensorFlow model. I am simply importing torchio to my training script nothing more. But just that throws an error. I am attaching the screenshot of the test scenario. I am running this on a P100 multi GPU node. Your help is much apprecia

[2022-07-19 20:21] dhinkris commented on #937
so found a work around.. the issue is pytorch version i have is looking for a specific cuda/cudnn driver.. but I have only drivers required for tensorflow.. so what Iinstalled the CPU version of pytorch which solved the issue.

[2022-07-19 20:21] #937 closed

[2022-07-22 16:23] alabamagan opened #938 "Getting mini-batch from queue results in reverse order for non-shuffling queue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

When iterating mini-batches in a queue without shuffling, I expected the order of data in the mini-batch remain the same as the order in the original data.

### Code for reproduction

[code]

### Actual outcome

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',

[2022-07-22 18:02] NB-UCLouvain commented on #891
Hello, I am currently experiencing the same problem regardless of the number of workers. I work on a cluster with an AMD 64 cores CPU and a nVidia A100 40gb GPU.

Working with a multimodal network, I have to create several queues for each dataset and the code gets stuck in the last queue every time.

`# Creating queue to draw patches from
print("Creating queue")
train_patches_queue_ct = tio.Queue(

[2022-07-25 12:17] kondratevakate commented on #933
Original image:
![image](https://user-images.githubusercontent.com/34157226/180773516-71a8675c-049f-42cc-8755-7a0800eea2ea.png)

Image after histogram standartization:
![image](https://user-images.githubusercontent.com/34157226/180773672-68b96c02-6a97-4e4b-9fec-2934cbb9fe9c.png)

Attaching [files and landmarks](https://drive.google.com/drive/folders/1nr3yUyIKCV-xQuFJBGiAP6XCqd-FvVBn?usp=sharing)

[2022-07-28 10:12] justusschock opened #940 "Unload image"
**🚀 Feature**

Possibility to "unload" an image to save memory

**Motivation**

When working with huge datasets, it can easily happen that one runs out of memory. To avoid this, it would be nice to have the ability to "unload" an image if it is done with processing and may only be needed a lot later again to free up the storage

**Pitch**

It would look something like this:
[code]

**Alternatives*

[2022-07-28 19:18] ivezakis opened #941 "DataLoader is very slow when using SubjectsDataset"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Problem summary

When using SubjectsDataset with PyTorch dataloader, iterating over the dataloader is incredibly slow. Naturally, this slows training down as well.
When iterating over the SubjectsDataset however, it is significantly faster.

In my experience, starting to iterate over Subjects dataset takes a f

[2022-07-28 22:21] fepegar commented on #941
Hi, @ivezakis. You are using one process to load 8 images, so it will be 8 times slower. This is expected. To make it faster, you should use a `num_workers` larger than 1.

[2022-07-28 22:59] ivezakis commented on #941
Hi @fepegar, in fact I am using the maximum number of workers for my machine in the dataloader, num_workers = 12. Sorry that wasn't accurate on the code I provided.

[2022-07-28 23:13] ivezakis commented on #941
Please consider re-opening this. The difference is huge in my experience. Picture attached.

![image](https://user-images.githubusercontent.com/44899669/181652352-b5ebdd16-5080-487a-8df6-33740ec391ef.png)

[2022-08-02 22:26] snipdome opened #944 "SimpleITK calls hangs when using num_workers > 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

Every time the torchio calls a SimpleITK "execute" function with a worker, the thread hangs on that call.
It can happen, for example, when you have a dataset with num_workers > 0 and (spatial) transformations as data augmentation

@fepegar should be familiar with the issue that has been submit

[2022-08-02 22:36] snipdome commented on #890
More then a bug, should be considered as a request for enhancement. It requires to review the torchio code and make it able to "pickled", so that can be sent to the subprocesses of pytorch-lightning.

Have you tried using another strategy for multi-gpu, like "dpp" or deepspeed with pytorch-lightning? I was able to start a training in both cases

[2022-08-02 22:46] fepegar commented on #944
Hi, @snipdome. Thanks for reporting. Could you please upgrade SimpleITK and try again?

[2022-08-03 06:43] snipdome commented on #944
Hi @fepegar, that indeed solves the problem when going to 2.1.0 to 2.1.1.1. Thanks!
Should it be considered to raise the requirement for the sitk minimum version for torchio?

[2022-08-05 05:18] melhzy opened #945 "Multiprocessing doesn't work on Ubuntu 20.04 with 3090?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

I am using Medical Segmentation Decatholon's Task03_Liver.tar data (https://drive.google.com/drive/folders/1HqEgzS8BV2c7xYNrZdEAnrHk7osJJ--2) to run my 3D-UNet algorithm.
Single GPU (3090) works, but multiple GPUs (3090) do not work and generated me the error message listed below.

### Code fo

[2022-08-10 09:11] kondratevakate commented on #933
Any updates on that? I am getting the same problem in other datasets - it change the shape after the transformation.

[2022-08-10 19:06] dankleeman opened #946 "Allow the ingestion of RSNA Spine Fracture Test Images"
**🚀 Feature**
The RSNA Spine Fracture class is hard-coded to only load the training images: https://github.com/fepegar/torchio/blob/main/src/torchio/datasets/rsna_spine_fracture.py#L71

I propose implementing an argument at initialization to allow this class to ingest test images as well. I see this available in another similar class here: https://github.com/fepegar/torchio/blob/main/src/torchio/d

[2022-08-10 21:58] fepegar commented on #946
Hi, @dankleeman. I was planning to implement this but then noticed that there are only three test subjects. That's why the `split_name`variable exists. Feel free to open a PR if you think it's worth it.

[2022-08-10 22:08] fepegar commented on #930
Hi, @justusschock. I'm not sure what you mean. Calling `repr` shouldn't load the image data.

[code]

[2022-08-10 22:09] dankleeman commented on #946
Thanks for the quick reply!

I'll take a look at that variable and see if I still can come up with something that adds value. If not I'll just close this as resolved.

Cheers!

[2022-08-10 22:10] fepegar commented on #931
Hi, @justusschock. I agree it makes sense to make any methods not using `self` static.

[2022-08-11 21:56] justusschock commented on #930
But how would it know attributes like `shape` and `spacing` without actually loading the image? It may not store the information, but it definitely has to load at least parts of the image.

If you call it explicitly, I get the following:

[code]

However, this only seems to be the case, when the file is actually downloaded to the cache as with subsequent runs, I cannot reproduce this anymore.

[2022-08-11 23:19] fepegar commented on #930
You can read metadata from the NIfTI header very quickly without loading the _image data_.

https://github.com/fepegar/torchio/blob/8eb2f44649974c2b9c8b83082f221a18bf36496e/src/torchio/data/io.py#L118-L129

I can't reproduce your behavior, it's very strange:

[code]

[2022-08-11 23:21] fepegar commented on #940
Hey, @justusschock. Can you provide a more concrete use case? When you iterate over a dataset, images are loaded in the copied subject, so the subjects in the dataset shouldn't take any memory.

[2022-08-11 23:54] fepegar commented on #933
Can you please share a code snippet I can run to reproduce the issue? I can't reproduce with what you've shared:

[code]

[2022-08-11 23:55] fepegar commented on #945
Hi, @melhzy. This seems unrelated to TorchIO. I suggest you ask in the PyTorch Lightning GitHub repo.

[2022-08-11 23:55] #945 closed

[2022-08-12 00:05] fepegar commented on #944
This code actually crashed for me on 2.1.0 and 2.1.1.2. I couldn't find a 2.1.1.1 version. Anyway, it's a SimpleITK problem, so I'm closing this for now.

[2022-08-12 00:05] #944 closed

[2022-08-12 00:10] fepegar commented on #891
Hi, @NB-UCLouvain. Feel free to report your issue: https://github.com/fepegar/torchio/issues/new?assignees=&labels=&template=not_working.yml

[2022-08-12 00:13] fepegar commented on #938
Hi, @alabamagan. Thanks for reporting. Feel free to submit this fix in a pull request!

[2022-08-12 00:14] fepegar commented on #936
Hi, @YuyangXueEd. h5 is not a standard format for medical images, so we're not planning to support it for now.

[2022-08-12 00:14] #936 closed

[2022-08-12 03:05] alabamagan commented on #938
Happy to.

However, I find that the offsets I mentioned (i.e. subject with ID 31-37 was not loaded by the queue) was due to the `drop_last` option in DataLoader of the queue to be `False`.
https://github.com/fepegar/torchio/blob/b7c51bc76a5e800960b0ce67794b1853b42b717d/src/torchio/data/queue.py#L279-L285

I wonder if it is on purpose and that the tio.Queue was designed for training only?

[2022-08-12 07:17] justusschock commented on #940
In my case, It's more like: I have a dataset, process the images in the dataset sequentially and save the final images to disk. Since the dataset is so huge, I need to make sure to not keep all the images in memory all the time but just load them again when I need them.

For this I currently do something like:

[code]

[2022-08-12 07:18] justusschock commented on #930
Yes but you cannot do that for DICOM data. So it is kind of inconsistent :)

[2022-08-12 08:49] fepegar commented on #940
Is `images` a `SubjectsDataset`?

[2022-08-12 08:52] fepegar commented on #930
Or rather "this functionality is not supported for DICOM files". I think it should work for things like NRRD too. Why in the world would someone use DICOM in a research setting anyway? :D

[2022-08-12 08:54] fepegar commented on #938
Yes, that's right.

[2022-08-12 09:38] justusschock commented on #940
Not necessarily, could be a arbitrary iterable because it also just returns images and not full subjects

[2022-08-12 09:55] alabamagan commented on #938
Got it! PR's ready, feel free to close this issue.

[2022-08-17 15:32] themantalope opened #948 "Complete label sampler"
**🚀 Feature**

Sampler which is guaranteed to include all voxels with a certain label value.

**Motivation**

I am doing tumor localization/segmentation, and I need to sample patches of the images due to memory and spatial resolution constraints. I need to make sure that the tumors are within the sampled patches with a certain number of pixels/voxels between the edge of the tumor and the edge of t

[2022-08-17 15:38] themantalope opened #949 "Reize sometimes adds a dimension to LabelMap images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

Sometimes when resizing a subject which contains a label map, the label will have an added dimension along one of the axes. For example, I've had cases where I need to resize a subject to `(128, 128, 128)` and all the imaging sequence spatial dimensions will be correct but the label map will be `(

[2022-08-19 15:12] naga-karthik commented on #669
I had the exact same ITK Error, causing it to fail to load some images (whereas nibabel was able to load all the images). In my case, I was on `torchIO` version 0.18.84 and `simpleITK` version 2.1.1.2.

I was able to fix it by downgrading SimpleITK to version 2.0.2 specifically.

[2022-08-19 20:42] naga-karthik opened #950 "RuntimeError: More than one value for "direction" found in subject images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

Unable to load the image patches due to a runtime error as described in the title. The error still persists despite using globally modifying the tolerance threshold to `0.0` as suggested in [this comment](https://github.com/fepegar/torchio/issues/647#issuecomment-974256714).

On the other hand

[2022-09-02 09:50] Fuzhiyuan opened #953 "FileNotFoundError: File not found: "data""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

I have searched issue, there is only one similar issue about file not found path. I followed the guide in that issue, update my torchio and torch, but this error still be there.

### Code for reproduction

[code]

### Actual outcome

 raise FileNotFoundError(f'File not found: "{path}"')
The path v

[2022-09-02 13:29] Paddy-Xu commented on #393
Hi, Thank you very much! This does increase the utilization. However, It seems that I have to always set num_workers=0 in this case, and could you please explain a bit why the first batchsize in DataLoader is None and buffer size is batch_size * samples_per_volume? Thanks a lot!

[2022-09-02 17:13] tiago972 commented on #393
First of all, thank you for this wrapper package and to @dmus to assess this issue as this has been a major limit in my case.

However, using the last proposition, if I use num_workers > 0 in `datapipe = DataLoader(datapipe, batch_size=None, num_workers=num_workers)` this raises :
RuntimeError: unable to mmap 192 bytes from file </torch_2753772_2515325872_1186>: Cannot allocate memory (12)

Howeve

[2022-09-04 08:39] Paddy-Xu opened #954 "Patch based augmentations/transformations"
**🚀 Feature**
 patch based augmentations

**Motivation**

I think those augmentations are very useful, but as far as I understand, those are based on the whole image.
Is it possible to do patch based augmentations?

In theory it is equivalent as whether to do transformation or to extract patch first. However, I just noticed that image-wise transforms like elastic deformation and rotation is extrem

[2022-09-05 15:41] LucaLumetti opened #955 "Typo in the documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

The composability description (https://torchio.readthedocs.io/transforms/transforms.html#composability) states:
`Images can be composed to create directed acyclic graphs defining the probability that each transform will be applied.`
Instead of **Images**, **Transformation** is the component that c

[2022-09-06 11:58] Ahmed93Saber opened #956 "Working with a dataset with different volumes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

I am working with BraTS 2021 dataset and I am not using patch-based training. The issue appears because I am feeding the model with volumes that have different heights and widths.

One solution is to use [Resize](https://torchio.readthedocs.io/transforms/preprocessing.html#resize). However, it

[2022-09-07 06:07] romainVala commented on #956
Hello

I do not have the training dataset, so I can not reproduce ... may be can you add the screen shot so that I understand what is going wrong

your code seems ok to me, I do not expect any deformation, but there may be a global shift if the 2 volumes (train_set[0] and train_set[1]) are not coregister
Resample regrid the volume in the grid given by the FOV (field of fiew) of the reference volum

[2022-09-07 08:25] Ahmed93Saber commented on #956
Hello,

Thanks for the response.  In the figure below, I display the mean across the depth dimension due to the difference in the number of slices before and after resampling.

![image](https://user-images.githubusercontent.com/58634485/188826920-137b3803-e5da-4aca-b783-11b35d940bfb.png).

[2022-09-07 08:26] Ahmed93Saber commented on #956
Here's the code for reference

`
train_dir = "path to data"
train_set = tio.datasets.RSNAMICCAI(train_dir, train=True)

#### size of volume0 is (1, 512, 512, 400) and volume1 is (1, 512, 512, 129)

resample_transform = tio.Resample((train_set[1]['FLAIR'].spatial_shape, train_set[1]['FLAIR'].affine))
transformed = resample_transform(train_set[0]['FLAIR'])

#### size after resampling is (1, 512, 512

[2022-09-07 13:31] romainVala commented on #956
I can not be sure, because I do not have the data, (strange, I just get the BraTS2021_Training_Data.tar with 1251 subject, but they are all at the same size, so I guess we do not have the same data ...)

But from the dimension your first volume has 400 slices, you reslice it to 129 slices,
so it makes sense that the z projection is changed ... (but there is no deformation of the volume)

I advise

[2022-09-07 13:54] romainVala commented on #954
No this is not equivalent :

the transformations are much more realist if you perform them on the all volume. Rotation for instance will add padding value in the border of the FOV. So performing a rotation on small patches may not be a good idea (definitively not the same as doing it on the whole volume before taking a patch)

I never tested but I think you can already do it.
if you take the torch

[2022-09-07 14:40] Paddy-Xu commented on #954
Hi,

Thanks a lot for your reply! Ok I understand the borders will not be equivalent, but besides that they should be quite same, especially let's say if I only do around k * 90 degree rotations. My input volume is really huge and I simply cannot do these operations on-the-fly. I will have to store them to the disk beforehand if doing a volume-wise transformation.

However, the input of transforms

[2022-09-08 06:40] romainVala commented on #954
Yes you are rigth it is not that easy. I forgot that torch Dataloader, when instantiate with a tio.Queue dataset,  returns Dict and not torchio.Subject. But there is all the necessary information to create a Subject ...

An other argument is speed, since with the Queue you can take several patches per volume but you perform the transform one.

If the input image is really to big, I would go for a

[2022-09-08 07:29] romainVala commented on #954
I did not test this PR  #847 but I thinks it should solve your issue.
May be there is a  need to improve this transform so that it takes as input argument a patch sampler. It would be necessary if you need to weight the location of the chosen patches. (I guess the current implementation is a random uniform "patch" distribution)

[2022-09-08 07:34] Paddy-Xu commented on #954
Thanks! That is a good idea. Just to be sure, the patch is generated after the volume transformation, so the cropping size does need to be larger than the patch size, otherwise the patches will all be from the same location. But after each batch, the volume will be cropped from a different center?

I am working on a special kind of CT scan with around 800 * 800 * 800 dimension.

[2022-09-08 09:21] Paddy-Xu commented on #954
Actually this small trick seems to work😂. I will try to see if it is better to crop first when I have non-90 degree rotations.

[code]

[2022-09-08 11:07] #956 closed

[2022-09-09 13:36] mueller-franzes opened #957 "padding_mode does not support functions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

The [Pad](https://torchio.readthedocs.io/transforms/preprocessing.html#pad ) function should support numpy's [pad](https://numpy.org/doc/stable/reference/generated/numpy.pad.html) modes according to the documentation. However, passing a function throws an error.

It could be fixed by adding `is_fu

[2022-09-09 23:37] fepegar commented on #957
Hi, @mueller-franzes. Thanks for reporting. You're right, the logic is inconsistent with the documentation. Would you like to submit a fix? I don't think it's completely trivial.

[2022-09-11 13:27] mueller-franzes commented on #957
Hi @fepegar, thank you for this great project! Yes, I will try to submit a fix.

[2022-09-11 13:37] fepegar commented on #957
Awesome. Feel free to discuss the approach here first. I will push soon the branch I was using for experimenting.

[2022-09-14 21:58] fepegar commented on #955
Thanks, @LucaLumetti. I think "transforms" is most appropriate. Would you like to submit a pull request?

[2022-09-14 22:07] fepegar opened #961 "Mypy CI checks on Windows are failing"

[2022-09-14 23:03] LucaLumetti commented on #955
Sure @fepegar, I'll do it tomorrow!

[2022-09-19 20:04] #955 closed

[2022-09-21 02:37] chagelo opened #967 "fftshift is not implemented until pytorch version 1.8.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

In fourier implementation of `torchio`, it uses `torch.fft.fftshit`. However my torch version is 1.7.0, this function is not implemented, but used in `torchio`, so when i run my program, I obtain `AttributeError: module 'torch.fft' has no attribute 'fftshit'`.

### Code for reproduction

[code]

#

[2022-09-22 01:58] hsyang1222 opened #970 "Parallel histogram_standalization.train"
**🚀 Feature**
parallel version torchio.transforms.preprocessing.intensity.histogram_standardization.train

**Motivation**
Currently, this method is driven using single thread. The environment in which the deep learning model is learned using torchio is likely to be a server environment with multiple cpu cores, so it can be processed in parallel to increase efficiency.

**Code**
I wrote the code as

[2022-09-24 14:38] #967 closed

[2022-09-28 14:48] tomvars opened #972 "Feature proposal: TorchIO hub - A system to store and fetch transform objects for reproducibility"
**🚀 Feature**

Introducing a public **TorchIO hub** where researchers can save the transform object used to randomly sample and augment their data during training with one line of code - `transform = tio.from_hub("cool_recent_paper")`

**Motivation**

DL researchers and practitioners hoping to reproduce other people's work can easily fetch model weights and architectural definitions (e.g Torch Hub

[2022-09-30 14:58] dmus opened #974 "Image get loading when __copy__ is called"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

The image gets already loaded while that should not happen (lazy loading). This is because the __copy__ method calls self.data causing the data to be loaded

See the __copy__ of the Image class:
[code]

### Code for reproduction

[code]

### Actual outcome

The data is loaded and therefore True is

[2022-10-07 17:30] shathaa1983 opened #977 "FileNotFoundError: File not found: "affine""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

Hi,

I am trying to apply the Torchio tutorial on a different dataset (Promise12 data set), first I converted the data into NiFti
 (.mhd)--->(.nii), then I followed the steps found on the google colab  but after I applied the # Visualize axial slices of one batch step I got this error "FileNot

[2022-10-09 12:47] jmlipman opened #979 "Wrong number of 'samples_per_volume' sampled within one epoch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

Hi Fernando,

First of all, thank you very much for adding this functionality (https://github.com/fepegar/torchio/pull/795), and sorry that it took me so long to test it.

I think I found that, during the optimization, Queue is sampling the wrong number of samples per volume. See the example below

[2022-10-09 14:18] fepegar commented on #979
Thanks for reporting, @jmlipman. This is bad. I've reproduced with the following code:

[code]

Output:

[code]

I'll debug it and come back to you.

[2022-10-09 14:21] fepegar commented on #979
It's independent of the "new" behavior, so I've edited the code above to use the queue normally.

[2022-10-09 14:31] fepegar commented on #979
Here's the output for 8ee2ab2f (#795):

[code]

And for max queue length 40:

[code]

So it's been broken at some point since then.

[2022-10-09 14:38] fepegar commented on #979
`git bisect` says we did break it in #795:

[code]

[2022-10-09 14:40] fepegar commented on #979
For max queue length 41:

[code]

[2022-10-09 16:59] fepegar commented on #979
I think I got it. It only took me three hours 😅

[2022-10-09 17:03] fepegar commented on #977
Hi again, @shathaa1983. Please paste the full error traceback, as requested in the issue template:

[2022-10-09 17:20] shathaa1983 commented on #977
Hi,
@fepegar, this is the full error message
---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
/tmp/ipykernel_3093511/250958524.py in <module>
----> 1 one_batch = next(iter(training_loader_patches))
      2 k = int(patch_size // 4)
      3 batch_mri = one_batch['prostate'][tio.DATA][..., k]

[2022-10-09 17:29] fepegar commented on #977
Thanks for sharing the error. Can you please provide a minimal reproducible example that I can run on my computer?

[2022-10-09 18:10] shathaa1983 commented on #977
Try this please:
import torch
import torchio

h,w,d = 10,10,10
image = torch.rand([1,h,w,d])
# assume 3 classes here
label = torch.randint(3,[1,h,w,d])

data_dict = {"image":image,"label":label}

random_affine = torchio.transforms.RandomAffine(
        include=["image","label"],p=1)

output = random_affine(data_dict)

print(data_dict["label"].dtype,len(torch.unique(data_dict["label"])))
print(outp

[2022-10-09 18:26] fepegar commented on #977
That code works fine on my machine. Are you using a recent version of TorchIO? You also didn't provide the system information as requested in the issue template.

[2022-10-09 18:37] shathaa1983 commented on #977
Also, on my machine
The Torchio version I use: 0.18.57
And this is my system information:
posix.uname_result(sysname='Linux', nodename='pdgx0002', release='5.4.0-91-generic', version='#102-Ubuntu SMP Fri Nov 5 16:31:28 UTC 2021', machine='x86_64')

[2022-10-09 19:15] fepegar commented on #972
Hi, @tomvars. Thanks for the proposal. I think this is an excellent idea.

One potential solution would be leveraging the PyTorch Hub tools. I got this code working. What do you think?

[code]

![Figure_1](https://user-images.githubusercontent.com/12688084/194775368-ec197fb8-08ee-4427-87ba-c6a360001748.png)

[code]

![Figure_2](https://user-images.githubusercontent.com/12688084/194775387-3748dcda-

[2022-10-09 19:17] fepegar commented on #977
Sorry, I don't understand. Does the snippet you share run fine on your machine?

[2022-10-09 19:17] fepegar commented on #977
Also, can you please upgrade TorchIO and see if that solves your issue?

[2022-10-09 19:18] fepegar commented on #954
Thank you both for sharing!

[2022-10-09 19:18] #954 closed

[2022-10-09 19:20] fepegar commented on #953
Hi, @Fuzhiyuan. Could you please share a minimal reproducible example that I can try on my machine?

[2022-10-09 19:26] fepegar commented on #950
Hi, @naga-karthik. The feature in the comment you referenced hasn't been implemented yet. Moreover, you would need to *increase* the tolerance, not set it to 0. I see that your directions are very similar. Maybe you can preprocess your data using e.g. SimpleITK's `GetDirection` from image A and `SetDirection` for image B.

[2022-10-09 19:27] fepegar commented on #950
It would help a lot if you could share those images. You could simply load them, set all values to 0, save them, and share them here. That way, the spatial metadata would still be helpful for us and the images remain anonymized.

[2022-10-09 19:28] fepegar commented on #949
Hi, @themantalope. Please provide a minimal reproducible example for this and then feel free to reopen.

[2022-10-09 19:28] #949 closed

[2022-10-09 19:30] fepegar commented on #970
Hi, @hsyang1222. If you have tried this successfully, feel free to open a pull request with your changes.

[2022-10-09 19:36] tomvars commented on #972
I really like this API! You could maybe create a new repo like `fepegar/torchiohub:main` and have a single `hubconf.py` file as the access point to different preprocessing functions. In the repo users could append their transform functions to a large `transforms.py` file and the `hubconf.py` would have lines such as `from  transforms import ronneberger_unet_2015_transform`

[2022-10-09 20:11] fepegar commented on #972
I think it's more convenient to allow users to use their own hubconf in their repos because

1. This is what PyTorch does, so people are familiar with the syntax etc.
2. Sometimes, getting a transform needs some special code. The snippet I shared is an example in which additional libraries or files might be needed just to compute the transform, and we wouldn't want to put everyone's code in the sa

[2022-10-09 21:45] tomvars commented on #972
That makes sense 👍 thoughts on introducing a class method for the Transform called `from_hub` which would wrap the `torch.hub.load` call and pass in the relevant arguments?

[2022-10-09 21:45] tomvars commented on #972
9

[2022-10-09 21:49] shathaa1983 commented on #977
Hi,
Thank you, the code is working fine after I update the Torchio version.

[2022-10-09 22:27] fepegar commented on #972
You mean something like this?

[code]

[2022-10-09 22:28] #977 closed

[2022-10-10 08:39] fepegar commented on #979
Fixed in #981. Thanks @jmlipman for your detailed report and code to reproduce.

[2022-10-11 21:42] #974 closed

[2022-10-12 19:26] EddyJens commented on #890
I'm having the same issue, when using:
sampler = tio.data.LabelSampler(patch_size=96, label_name="Label", label_probabilities={0:0.4, 1:0.6})

and

train_patches_queue = tio.Queue(
     training_set,
     max_length=40,
     samples_per_volume=5,
     sampler=sampler,
     num_workers=8
    )

val_patches_queue = tio.Queue(
     validation_set,
     max_length=40,
     samples_per_volume=5,
     s

[2022-10-13 10:49] mwyburd opened #987 "CropOrPad with marginally different Origins"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Problem summary

I am trying to Crop or Pad using "tio.transforms.CropOrPad" around a segmentation label from the CT Decatholon Liver dataset, however, when I load in the image and corresponding label, the two images have very slightly different origins so the function fails. Is there anyway around this?

imag

[2022-10-13 12:52] mwyburd commented on #987
Thanks for getting back to me so quickly! That's fixed it :)

[2022-10-13 12:52] #987 closed

[2022-10-26 17:26] jmlipman opened #991 "Order of the elements in the queue changes unexpectedly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

I noticed that the order of the elements in the queue changes when I run a validation loop inside the training loop. I guess that the order in which the training set is drawn should not change since the validation loop iterates over a different set of images (the validation set).

### Code for rep

[2022-10-27 13:56] jmlipman commented on #991
An even more minimal example: Remove the validation part in the loop, leave only this:

[code]

This gives you the data in certain order. Now, add the following line above the for loop:

`_ = enumerate(val_loader)`

That changes the output. And if you add again the same line, it changes again the output, i.e.:

[code]

Interestingly, it makes no difference in the output whether you call val_loader

[2022-10-27 15:17] jmlipman commented on #991
Sorry, it turns out that this is not a problem of Torchio.

The problem is because _BaseDataLoaderIter is called when we do iter(dataloader), and the __init__ of this class calls  Tensor.random_() to get a seed. So, when we arrive at the "enumerate(tr_loader)", the "random_" function will be called again, and the seed will be different, leading to a different order.

[2022-10-27 15:17] #991 closed

[2022-10-28 06:33] romainVala commented on #991
hi, @jmlipman
even though it is not a torchio issue, I am curious to know if  you find a solution ?

[2022-10-28 14:18] wahabk commented on #953
I am struggling with this error as well.

# Here is the code I execute

I usually just use `tio.Subject(tio.ScalarImage(tensor=array)` but added the extra bits to be sure

I tried to feed a torch tensor and a numpy array

[code]

# Here is the error

[code]

# System info

It **FAILS** on *this* machine:

[code]

But **WORKS** on *this* machine:

[code]

I tried *various* tio versions from 0.17 to

[2022-10-28 15:53] jmlipman commented on #991
I don't think there is any good solution to this. It annoys me a bit because it means that you cannot continue the training exactly where it stops, and, in time-limited servers, it can stop anywhere in the training loop.

It also has interesting implications too: even if you always use the same seed, if you stop the training and continue later, the training samples will be in a different order tha

[2022-11-08 22:17] nicoloesch opened #993 "(Potential) Reversible RescaleIntensity Transform"
**🚀 Feature**
Implement the option to revert the intensity of the RescaleIntensity Transform

**Motivation**

Would be nice to be able to revert the applied transforms to be able to display the images in the original space.

**Pitch**

In the class `RescaleIntensity` in the file `torchio.transforms.preprocessing.intensity.rescale.py`, change the function `rescale` in L.94-96 to overwrite the class

[2022-11-08 22:54] fepegar commented on #993
Thanks, @nicoloesch. I think this makes sense. I wouldn't worry about the numerical precision issue. I suspect it would be improved using float64. Would you like to submit a PR?

[2022-11-08 23:10] fepegar commented on #953
Closing as I can't reproduce with the code you have shared. Feel free to share a minimal working example I can run on my machine and reopen the issue.

[2022-11-08 23:23] #957 closed

[2022-11-10 13:16] wahabk commented on #953
Hello @fepegar thank you for your reply, I have found the source of the error but unsure of how to fix it

# Minimum working example

[code]

# Error trace

[code]
The source of the error is when using
` PyTorch:    1.13.0+cu116 `

While it works with

` PyTorch:    1.10.0+cu102 `

**I require PyTorch 1.13.0+cu116 because I have a new GPU that needs this version of torch and cuda**

If you have a

[2022-11-13 10:33] fepegar commented on #953
Thanks for the MWE, @wahabk. I've tried reproducing on PyTorch 1.11 and 1.13, but I don't get the error. Can you please `pip install --upgrade torchio` and try again?

[2022-11-13 10:34] fepegar commented on #953
(The version you're using is one year old)

[2022-11-13 10:47] fepegar commented on #993
@nicoloesch there's always a first time! Feel free to open your PR after reading the [contributing guide](https://github.com/fepegar/torchio/blob/main/CONTRIBUTING.rst).

Applying and reverting a transform is sometimes lossy, [as explained in the docs](https://torchio.readthedocs.io/transforms/transforms.html#invertibility). I think it's fine. We could introduce a system where a warning is shown f

[2022-11-13 10:49] fepegar commented on #946
Hi, @osbm. I don't have time to work on this at the moment. Please feel free to open a pull request.

[2022-11-13 10:53] fepegar commented on #948
Hi, @themantalope. Thanks for the pitch. I'm not sure what you mean by "complete label sampling". Could you please elaborate?

[2022-11-13 10:55] #950 closed

[2022-11-16 16:05] fepegar commented on #953
Ah, good catch. I've investigated and it turns out that NumPy typing was added in 1.20, so the requirements are wrong. Given that it's used only once, I think we can just replace the typing hint with simply `np.ndarray`, and remove the corresponding import. Would you like to contribute with a PR? We can then release a new version of TorchIO that will be compatible with your NumPy requirement.

[2022-11-16 16:22] wahabk commented on #953
Awesome thanks @fepegar I will submit a PR

[2022-11-19 12:46] wahabk commented on #953
@fepegar Looks  like  you beat  me to it and incorporated  this  fix  in  this
 commit  38ae6c1efd00685a1c7bec4bbfff54f14f2a29a1

I  will pull it  and  test  it

[2022-11-19 13:00] wahabk commented on #953
Looks all good from my side :+1: thanks so much for the fix :)

It now works on this machine

[code]

[2022-11-19 14:24] fepegar commented on #953
I was just testing whether the CI would be happy with the changes. Then I thought I give you the chance to contribute. I'll just make you a co-author of the merge commit, if that's ok.

[2022-11-19 14:29] #953 closed

[2022-11-19 14:31] fepegar commented on #953
This should be solved in `v0.18.86`. Thank you both for reporting!

[2022-11-19 17:05] wahabk opened #1001 "GridAggregator does not support smaller output than input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Bug summary

`tio.inference.GridSampler` and `GridAggregator` do not allow the model output to be smaller than the input.

I was going to submit this as a feature request before making a PR, however, I realised that tio actually supports this depending on `patch_overlap` and `overlap_mode` so I believe this sh

[2022-11-20 11:32] wahabk commented on #1001
After  some  experimentation  I  realised  that this  can't  be  done  with changes to the aggregator alone.

The model output size must be communicated to `GridSampler` beforehand, because this requires padding the input_tensor.

My immediate fix for this is to use torch padding

[code]

However, I think this could be done using some  argument  to  `tio.Subject`?

[2022-11-20 17:00] fepegar commented on #972
Hey, I forgot to share some experiments I conducted. The code below needs `unet` to be PIP-installed:

[code]

Here, `HistogramStandardization` makes it a bit awkward, but things work. We should write a tutorial about this. If you think the class method would be helpful, feel free to contribute with a PR!

[2022-11-24 03:34] skyous779 opened #1006 "After resample ,my label becomes zero tensor!"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Bug summary

I am sure my label is not zero tensor. But after resampling , my label becomes zero tensors
[image_label.zip](https://github.com/fepegar/torchio/files/10080601/image_label.zip)
. I have sent my data later.
[label.nii.gz](https://github.com/fepegar/torchio/files/10080602/label.nii.gz)

### Code for

[2022-11-24 08:04] fepegar commented on #1006
Hi! It looks like your input images are not aligned. Have you tried opening
them with e.g. 3D Slicer?

On Thu, 24 Nov 2022, 03:35 skyous779, ***@***.***> wrote:

[2022-11-24 10:52] skyous779 commented on #1006
Well, it's sure that my input images are not aligned, so I used tio.ToCanonical() and tio.Resample('source') to make them aligned. But it's strange that after resample, my label has nothing bright. I don't know what's wrong😭

[2022-11-24 15:46] fepegar commented on #1006
The images need to be aligned _in the physical space_, not in the grid space. If you open your images with Slicer, as I asked, the structures of interest should be aligned. If they are not, that needs to be solved before using TorchIO. The tranforms you're mentioning will do the job _if_ images are aligned in the physical space. More info: https://simpleitk.readthedocs.io/en/master/fundamentalConc

[2022-11-25 01:48] skyous779 commented on #1006
Thinks a lot, I found the direction, origin and spacing of label aren't aligned with my image. Now I use simpleitk change them. I open my imags with Slicer and the structures of interest has been aligned. Thank you for your prompt reply.😁

[2022-11-25 08:36] #1006 closed